.full-height {
  height: 100%!important;
}
.page-wrapper {
  padding: 24px;
}
section{
  display: block;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-sm-8{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.placeholder-text {
  max-width: 450px;
  padding-top: 35px;
}
.text-center {
  text-align: center!important;
}
.center-margin {
  margin-left: auto;
  margin-right: auto;
}
.hint-text {
  opacity: .7;
}
p {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 22px;
  margin: 0 0 10px;
  font-style: normal;
  white-space: normal;
}
.placeholder-text svg:not(.icon) {
  height: 60px;
}
svg:not(:root) {
  overflow: hidden;
}
.placeholder-text svg:not(.icon) * {
  fill: #626262;
}
.m-b-10 {
  margin-bottom: 10px;
}
h3 {
  font-size: 27px;
  line-height: 35px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color: #2c2c2c;
}
.m-b-20 {
  margin-bottom: 20px;
}
.btn-ad{
  color: #fff !important;
  background-color: #24334a;
  border-color: #24334a;
}
//Response desktop
$breakpoint-iphone: 667px;
@media (max-width: $breakpoint-iphone){
  .box-desktop{
    display: none;
  }
  ._2jGgaE {
      padding: 24px 0 !important;

      .table-responsive {
        overflow-x : hidden !important;
      }
  }
  .box-mobile{
    .custommodal{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2000;
    }
    .custom1{
      max-width: none;
      width: 100%;
      //overflow-y: auto;
      max-height: none;
      height: 100%;
      transform: translateY(0);
      opacity: 1;
    }
    .title{
      min-height: 1px;
      max-height: 100%;
      z-index: 0;
    }
    .title1{
      position: relative;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      align-self: stretch;
      -webkit-box-pack: center;
      justify-content: center;
      min-height: 48px;
    }
    .titlecusom{
      padding: 14px 0;
      line-height: 18px;
      text-transform: capitalize;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 30px;
      font-weight: 500;
      color: #24334A;
      word-wrap: initial;
      max-width: initial;
      white-space: nowrap;
      min-width: 0;
      font-family: "Roboto-Bold";
      -webkit-font-smoothing: antialiased;
      margin-top:25px;
    }
    .close{
      right: 16px;
      position: absolute !important;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      line-height: 0;
      cursor: pointer;
      text-decoration: none;
      font-size: 2.5rem;
      //margin-top: -60px;
    }
    .bt{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      min-width: 18px;
      min-height: 18px;
    }
    .bodys{
      padding: 24px 16px;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      min-height: 80px;
      z-index: 0;
      position: relative;
    }
    .body1{
      min-height: 0;
      max-width: 100%;
      position: relative;

    }
    .main-body{
      -webkit-box-flex: 1;
      flex: 1;
      flex-basis: auto;
      margin-bottom: 20px;
    }
    .labelname{
      display: block;
      font-family: "Roboto-Bold";
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top:20px;
    }
    .inputs{
      display: flex;
      position: relative;
      height: 42px;
      width: 100%;
    }
    .inputs1{
      position: relative;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
    }
    .typeinput{
      font: inherit;
      margin: 0;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 42px;
      background-color: white;
      background-image: none;
      border: 1px solid #DEE3E7;
      border-radius: 2px;
      font-family: "Roboto-Bold";
      -webkit-appearance: none;
      color: #24334A;
      outline: 0;
      padding: 9px 12px;
      line-height: normal;
      font-size: 16px;
      font-weight: normal;
      vertical-align: middle;
      box-shadow: none;
      cursor: text;
      transition: border-color 0.2s linear !important;
    }
    //.button-footer{
    //  padding: 16px;
    //  display: -webkit-inline-box;
    //  -webkit-box-orient: horizontal;
    //  -webkit-box-direction: reverse;
    //  flex-direction: row-reverse;
    //  background-color: white;
    //  border-top: 1px solid #DEE3E7;
    //  align-items: stretch;
    //  flex: 0 0 auto;
    //  -webkit-box-align: stretch;
    //  -webkit-box-flex: 0;
    //}
    .btn-1{

      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      font-family: "Roboto-Bold";
      line-height: 18px;
      padding: 8px 16px;
      min-height: 44px;
      white-space: nowrap;
      min-width: 128px;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      overflow: hidden;
      user-select: none;
      text-align: center;
      cursor: pointer;
      border-radius: 3px;
      box-shadow: 0 2px 5px 0 #A4ADBA;
      border: 1px solid transparent;
      transition: all 0.12s linear;
      text-decoration: none;
      font: inherit;
    }
    .btn-af{
      color: #626262;
      background-color: #fff;
      border-color: #c2c2c2;
    }
  }
}
@media (min-width: $breakpoint-iphone){
  .box-desktop{
  }
  .box-mobile{
    display: none;
  }
  .modal-footer {
    position: sticky;
  }
}

.modal-footer {
  .btn {
    margin-right: 5px;
  }
}
