.shedul-app {
  height: 100%;
}
open~.main-content, .sidebar--open~.main-header {
  margin-left: 185px;
}
.main-content {
  transition: transform .25s,margin-left .25s,-webkit-transform .25s;
  position: relative;
  height: 100%;
  min-height: 100%;
}
#react {
  position: relative;
  height: 100%;
  min-height: 100%;
}
._2uCs3H {
  width: 100%;
  height: 100%;
}
._2gzTLZ {
  height: 100%;
}
._2gzTLZ .WCtapg {
  height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
}
._1JSe3N._2XM89A {
  background-color: #F7F7F8;
}
._1JSe3N._3veYQi {
  padding: 26px;
}
._1JSe3N._3veYQi {
}
._2Y7oP1 {
}
._1JSe3N {
  min-height: 100%;
  overflow-y: auto;
}
._1Rmr-3 {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 26px;
}
._1Rmr-3 {
  overflow-x: hidden;
}
._2Y7oP1 ._3o5M5s {
  margin-bottom: 8px;
  flex-shrink: 0;
}
._2yU4mG {
  background: white;
  border: 1px solid #DEE3E7;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(164, 173, 186, .25);
}
._2yU4mG ._3KrHdu._2Ihtwi {
  background: #DEE3E7;
}
._2mPFMy.ex0yBB._1Ov_P6 {
  margin-bottom: 0;
}
._2yU4mG ._3KrHdu {
  padding: 12px;
  border-radius: 0;
}
._2mPFMy._1uoK7S {
}
._2mPFMy._1Ov_P6 {
  border: none;
  box-shadow: none;
}
._2mPFMy.ex0yBB {
}
._2mPFMy:first-child {
  margin-top: 0;
}
._2mPFMy {
  transition: background-color 0.2s;
  min-height: 0 /* work around Firefox flex bug */;
}
._1FszNF {
  cursor: pointer;
  text-decoration: none;
}
._3vTBXo {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}
._240vE8 {
  display: inline-block;
  vertical-align: middle;
}
._2FSeuB {
  position: relative;
}
._2FSeuB svg {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
svg:not(:root) {
  overflow: hidden;
}
._2CXiYN svg path, ._2CXiYN svg circle {
  fill: #24334A;
}
._1FszNF {
  cursor: pointer;
  text-decoration: none;
}
._2Y7oP1 ._3o5M5s .u2YkDb:not(:first-child) {
  margin-left: 16px;
}
._2Y7oP1 ._3o5M5s .u2YkDb {
  min-width: 52px;
}
._2DZ1oJ._311OLi {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
._JXDTj {
  position: relative;
}
._3ttzJg {
  color: #24334A;
  background: white;
  text-transform: uppercase;
  border: 1px solid #EEF0F2;
  box-shadow: 0 2px 5px 0 rgba(164, 173, 186, .25);
}
._2DZ1oJ {
  min-height: 42px;
}
._2DZ1oJ {
  font-family: Roboto, sans-serif;
  line-height: 18px;
  padding: 8px 16px;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.12s linear /* iOS 10 Safari fix for flex center */;
}
._26WQGn {
  font-weight: 700;
  font-size: 14px;
}
._1FszNF {
  text-decoration: none;
}
input, button, select, textarea {
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
}
button, select {
}
button {
}
button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
}
._2DZ1oJ._311OLi ._1w3FE_ {
  margin: 0 0 0 16px;
}
._2DZ1oJ ._1w3FE_ {
}
._3Z9obg {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}
._240vE8 {
  display: inline-block;
  vertical-align: middle;
}
._2FSeuB {
  position: relative;
}
.WU0jHb {
  padding-bottom: 60px;
}
.WU0jHb ._3xwAVO {
  background-color: #DEE3E7;
}
[data-react-beautiful-dnd-droppable="0"] {
  overflow-anchor: none;
}
._26i1T- .ZeB6l7:not(.kHVQeR) {
}
._26i1T- .ZeB6l7 {
    position: relative;
    margin-top: 16px;
    outline: none;
    background-color: #F7F7F8 /* enables dragging shadow */;
}
[data-react-beautiful-dnd-drag-handle="0"] {
    cursor: grab;
}
[data-react-beautiful-dnd-drag-handle="0"] {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
}
._27C1WR {
  border: 1px solid transparent;
}
._27C1WR {
  position: relative;
  background: #F7F7F8;
  padding: 16px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  transition: border-color 0.20s linear;
}
._27C1WR ._3piVXo {
  min-width: 0;
  -webkit-box-align: center;
  align-items: center;
}
._27C1WR ._3piVXo ._1rnkiM {
  margin-right: 16px;
}
._2xvPfd, ._25R4LF {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
}
._240vE8 {
  display: inline-block;
  vertical-align: middle;
}
._2FSeuB {
  position: relative;
}
._27C1WR ._3piVXo ._1f5dc9 {
  min-width: 0;
  word-wrap: break-word;
  padding-right: 8px;
  transition: color 0.20s linear;
}
._2VnNQQ {
  font-weight: 500;
}
._2VnNQQ {
  font-size: 18px;
  color: #24334A;
  line-height: 21px;
}
._1p62pX {
  max-width: 100%;
}
._28JDiI.-AN3nQ:not(:hover):not(:active):not(.tBY9zv):not(._1UmEIc) {
  background-color: transparent;
}
._2DZ1oJ._311OLi {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
._28JDiI {
  min-width: 0;
  min-height: 0;
  border: none;
  box-shadow: none;
  padding: 8px 12px;
}
._JXDTj {
  position: relative;
}
._3ttzJg {
  color: #24334A;
  background: white;
  text-transform: uppercase;
}
._2DZ1oJ {
}
._2DZ1oJ {
  font-family: Roboto, sans-serif;
  line-height: 18px;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.12s linear /* iOS 10 Safari fix for flex center */;
}
._26WQGn {
  font-weight: 700;
  font-size: 14px;
}
._1FszNF {
  text-decoration: none;
}
._240vE8 {
  display: inline-block;
  vertical-align: middle;
}
._2FSeuB {
  position: relative;
  width: 16px;
  height: 16px;
}
._26i1T- .ZeB6l7 ._1TXHtj:not(._4Eg7D0), ._26i1T- .ZeB6l7 ._1TXHtj._4Eg7D0._3snJLe {
  background-color: #EEF0F2;
  border: 1px solid #DEE3E7;
}
._26i1T- .ZeB6l7 ._1TXHtj {
}
._2mPFMy._1uoK7S {
  padding: 0;
}
._2mPFMy:first-child {
  margin-top: 0;
}
[data-react-beautiful-dnd-droppable="0"] {
  overflow-anchor: none;
}
._2mPFMy {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(164, 173, 186, .25);
}
._2mPFMy {
  transition: background-color 0.2s;
  margin-bottom: 4px;
  min-height: 0 /* work around Firefox flex bug */;
}
._1IZ51C:last-of-type {
}
._1IZ51C {
}
._1IZ51C ._15Cf1e {
  outline: none;
}
[data-react-beautiful-dnd-drag-handle="0"] {
  cursor: grab;
}
[data-react-beautiful-dnd-drag-handle="0"] {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
}
._1IZ51C:last-of-type .TKzXaQ {
  border-bottom: none;
}
.TKzXaQ {
  position: relative;
  background: white;
}
._1FszNF {
  cursor: pointer;
  text-decoration: none;
}
._G2V6_ {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
}
.TKzXaQ ._3Rm-Lo {
  padding: 16px;
}
.TKzXaQ ._3Rm-Lo {
  word-wrap: break-word;
}
.TKzXaQ ._2j8b8s {
  align-self: flex-start;
  margin-top: 4px;
  margin-right: 16px;
}
._2xvPfd, ._25R4LF {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
}
._240vE8 {
  display: inline-block;
  vertical-align: middle;
}
._2FSeuB {
  position: relative;
}
.-Ypemc {
  display: flex;
}
.-Ypemc ._16CLpx {
  min-width: 0;
  -webkit-box-pack: center;
  justify-content: center;
  padding-right: 8px;
}
.-Ypemc ._28kZVp {
  word-break: break-word;
  padding-right: 5px;
}
._2wRsul {
  font-size: 16px;
}
._2wRsul {
  font-weight: 500;
  color: #24334A;
  line-height: 18px;
}
._1p62pX {
  word-wrap: break-word;
  max-width: 100%;
  min-width: 0 /* Font weights (defined here to overwrite text types) */ /* Font colors */;
}
.-Ypemc ._29aaBJ {
  text-align: left;
  min-width: 96px;
}
._1p62pX {
  word-wrap: break-word;
  max-width: 100%;
}
._3CbXpB {
  font-size: 16px;
}

._3CbXpB {
  color: #67768C;
}
._2UHacH, .-Ypemc ._3So_0V {
  width: 144px;
}
._1p62pX {
  word-wrap: break-word;
  max-width: 100%;
  min-width: 0 /* Font weights (defined here to overwrite text types) */ /* Font colors */;
}
._2UHacH, .-Ypemc {
  width: 144px;
}
.-Ypemc ._2UHacH {
  text-decoration: line-through;
}
._3CbXpB {
  font-size: 16px;
}
._3CbXpB {
  color: #67768C;
}
._1p5SnM {
  transition: bottom 500ms;
}
._1p5SnM {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
  position: fixed;
  right: 24px;
  bottom: 21px;
  z-index: 100;
}
.rTWbSm {
  padding-top: 3px;
  padding-bottom: 3px;
}
._1jAoG_ {
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-color: #24334A;
  border-color: #24334A;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}
._1hszOe {
  color: #ffffff;
}

._1K8-3O {
}
._2N1Wwk {
  min-height: 42px;
  min-width: 42px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  margin-bottom: 0;
  border: 1px solid #EEF0F2;
  text-align: center;
  vertical-align: middle;
  background-image: none !important;
  text-shadow: none;
  line-height: 21px;
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s, border-color 0.2s linear !important;
}
._1jAoG_ span {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
._240vE8 {
  display: inline-block;
  vertical-align: middle;
}

._1p62pX {
  word-wrap: break-word;
  max-width: 100%;
  min-width: 0 /* Font weights (defined here to overwrite text types) */ /* Font colors */;
}
._2KgpY7 {
  font-size: 12px;
  line-height: 16px;
}
._2KgpY7 {
  font-weight: 400;
  color: #67768C;
}
._2ScRLU {
  margin: 6px 0 0;
}
#group-description{
  height: 100px;
}
._17C7ha {
  padding: 16px;
}
.YD8xyG {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  background-color: white;
  border-top: 1px solid #DEE3E7;
}
.YD8xyG > *:last-child {
  margin: 0 !important;
}
.YD8xyG > * {
}
._3V6zo- {
  background-color: #24334A;
  color: white;
  text-transform: uppercase;
}
._2DZ1oJ {
  min-height: 42px;
}
._2DZ1oJ {
  font-family: Roboto, sans-serif;
  line-height: 18px;
  padding: 8px 16px;
  white-space: nowrap;
  min-width: 128px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 #A4ADBA;
  border: 1px solid transparent;
  transition: all 0.12s linear /* iOS 10 Safari fix for flex center */;
}
._26WQGn {
  font-weight: 700;
  font-size: 14px;
}
._1FszNF {
  text-decoration: none;
}
//---------------------------
._2uCs3H {
  width: 100%;
  height: 100%;
}
._2gzTLZ {
  height: 100%;
}
._2gzTLZ .WCtapg {
  height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
}
._2GveWK {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: white;
}
.tCGsZl {
  min-height: 1px;
  max-height: 100%;
  z-index: 0;
}
._3fwefj ._2evCNJ {
  padding: 0;
}
._26Q8ey._5ANvRt {
}
._26Q8ey {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 80px;
  z-index: 0;
  position: relative;
  background-color: white;
}
._3fwefj .gl5iMB {
  flex-shrink: unset !important;
}
._3fwefj .gl5iMB {
}
._26Q8ey ._21M7Mi {
  min-height: 0;
  max-width: 100%;
  position: relative;
}
._26Q8ey ._21M7Mi > *:only-child {
  max-height: 100%;
}
._2IRQbF {
  background-color: #fff;
  height: 100%;
}
._18IlkF {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  -webkit-box-flex: 1;
  flex: 1 1 50%;
  padding: 65px 64px 65px 65px;
  border-right: 1px solid #DEE3E7;
  position: relative;
}

._2IRQbF ._18IlkF, ._2IRQbF ._1-b7ul {
  overflow-y: auto;
}
._2IRQbF ._1qK9EZ {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  max-width: 512px;
}
._3S7gbZ {
  padding-bottom: 8px;
  border-bottom: 1px solid #EEF0F2;
  margin-bottom: 32px;
}
//-------------
.control-label {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.form-text-area {
  resize: none;
}

.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}

.form-group {
    padding: 8px 0;
    input::-webkit-input-placeholder {
        color: #656565 !important;
    }

    input:-moz-placeholder {
        /* Firefox 18- */
        color: #656565 !important;
    }

    input::-moz-placeholder {
        /* Firefox 19+ */
        color: #656565 !important;
    }

    input:-ms-input-placeholder {
        color: #656565 !important;
    }
}

