<div class="shedul-app">
  <section class="main-content">
    <div id="react">
      <div class="_2uCs3H">
        <div class="_2gzTLZ">
          <div class="WCtapg">
            <div class="_1JSe3N _2Y7oP1 _2XM89A _3veYQi">
              <div class="_1Rmr-3" style="display: flex; flex-direction: column;">
                <div class="_3o5M5s" style="display: flex; flex-direction: row;">
                  <div class="_2yU4mG" style="display: flex; flex-direction: row;">
                    <div class="_2mPFMy _1Ov_P6 ex0yBB _1uoK7S _3KrHdu _2Ihtwi _1FszNF" style="display: flex; flex-direction: column;">
                      <span class="_2FSeuB _240vE8 _2CXiYN _3vTBXo">
                        <svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path d="M1.5 1.5v15h17v-15h-17zM1 0h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1z"></path>
                            <path d="M4 5h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zM4 9h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zM4 13h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="_2mPFMy _1Ov_P6 ex0yBB _1uoK7S _3KrHdu _1FszNF" style="display: flex; flex-direction: column;">
                      <span class="_2FSeuB _240vE8 _2CXiYN _3vTBXo">
                        <svg viewBox="0 0 20 17" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path d="M1.5 1.5v2h17v-2h-17zM1 0h18a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1zM1.5 7.5v2h17v-2h-17zM1 6h18a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1zM1.5 13.5v2h17v-2h-17zM1 12h18a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1z"></path>
                          </g>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div style="flex-shrink: 1; flex-grow: 1;"></div>
                  <button class="_JXDTj u2YkDb _1FszNF _3ttzJg _2DZ1oJ _26WQGn _311OLi">
                    <span class="_2FSeuB _240vE8 RCcMXQ _3Z9obg _1w3FE_">
                      <svg xmlns="http://www.w3.org/2000/svg">
                        <g>
                          <path d="M15.072 9.62c.506 0 .911.405.911.912v4.962a.908.908 0 0 1-.911.911H.962c-.506 0-.945-.405-.945-.911v-4.962c0-.507.439-.912.945-.912s.911.405.911.912v4.017H14.16v-4.017c0-.507.405-.912.912-.912z"></path>
                          <path d="M7.376 11.68L3.662 7.965a.878.878 0 0 1 0-1.282.878.878 0 0 1 1.283 0l2.16 2.126V.911c0-.506.406-.911.912-.911s.911.405.911.911v7.9l2.127-2.127a.917.917 0 0 1 1.316 0 .878.878 0 0 1 0 1.282L8.658 11.68a.922.922 0 0 1-.641.27.922.922 0 0 1-.641-.27z"></path>
                        </g>
                      </svg>
                    </span>Export
                  </button>
                </div>
                <div class="WU0jHb">
                  <div class="_3xwAVO" data-react-beautiful-dnd-droppable="0">
                    <div>
                      <div class="_26i1T-">
                        <div class="ZeB6l7" data-react-beautiful-dnd-draggable="0" tabindex="0" data-react-beautiful-dnd-drag-handle="0" aria-roledescription="Draggable item. Press space bar to lift" draggable="false">
                          <div class="_27C1WR" style="display: flex; flex-direction: row;" ngbDropdown>
                            <div class="_3piVXo" style="display: flex; flex-direction: row;">
                              <span class="_2FSeuB _240vE8 _2p3gj5 _25R4LF _1rnkiM">
                                <svg viewBox="0 0 16 10" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M1 0h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2z"></path>
                                </svg>
                              </span>
                              <div class="_1p62pX _2VnNQQ _1f5dc9">ádasdasd</div>
                            </div>
                            <button class="_JXDTj _28JDiI -AN3nQ _1FszNF _3ttzJg _2DZ1oJ _26WQGn _311OLi" data-qa="service-group-options" style="flex-shrink: 0;" id="dropdownBasic1" ngbDropdownToggle>
                              <span class="_2FSeuB _240vE8 _2CXiYN">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 6">
                                  <circle cx="3" cy="3" r="3"></circle>
                                  <circle cx="11" cy="3" r="3"></circle>
                                  <circle cx="19" cy="3" r="3"></circle>
                                </svg>
                              </span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button class="dropdown-item" (click)="open(service)">Add New Service</button>
                              <ng-template #service let-modal>
                                  <div class="modal-header">
                                    <h4 class="modal-title offset-sm-4" id="modal-basic-title">New Service Group</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form #signupForm=ngForm (ngSubmit)="onSubmit()">
                                    <div class="modal-body">
                                      <div class="col-md-12 form-content">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="row form-group">
                                            <div class="col-sm-12">
                                              <label class="control-label">Service name</label>
                                              <input type="text" class="form-control" name="service_name"><br>
                                              <label class="control-label">Treatment type</label><br>
                                              <select name="treatment" ngModel>
                                                  <option *ngFor="let treatment of treatments" [ngValue]="treatment">{{treatment.name}}</option>
                                              </select><br>
                                              <div class="card">
                                                <div class="card-body col-md-12">
                                                  <div class="col-md-6">
                                                    <div class="row form-group">
                                                      <div class="col-sm-6">
                                                        <label class="control-label">Duration</label><br>
                                                        <select name="duration" ngModel>
                                                            <option *ngFor="let duration of durations" [ngValue]="duration">{{duration.name}}</option>
                                                        </select>
                                                      </div>
                                                      <div class="col-sm-6">
                                                        <label class="control-label">Duration</label>
                                                        <div class="form-group input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1">d</span>
                                                            </div>
                                                            <input name="service" type="number" class="form-control" placeholder="0.00">
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="row form-group">
                                                      <div class="col-sm-12">
                                                          <label class="control-label">Pricing name (optional)</label>
                                                          <input name="pricing_name" type="text" class="form-control" placeholder="e.g. Longhair">
                                                      </div>
                                                      <div class="col-sm-12">
                                                          <label class="control-label">Duration</label>
                                                          <div class="form-group input-group">
                                                              <div class="input-group-prepend">
                                                                  <span class="input-group-text" id="basic-addon1">d</span>
                                                              </div>
                                                              <input name="service" type="number" class="form-control" placeholder="0.00">
                                                          </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="col-sm-12">
                                            <ngb-tabset>
                                              <ngb-tab title="STAFF">
                                                <ng-template ngbTabContent>
                                                  <div class="col-md-12 form-content">
                                                    <br>
                                                    <h4 style="font-size:16px;color:#67768C;font-weight: 400;line-height: 22px;">Select staff who perform this service</h4>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" (change)="selectAll()" [checked]="selectedAll">
                                                      <label class="form-check-label">
                                                        Select All
                                                      </label>
                                                    </div>
                                                    <div class="form-check" *ngFor="let n of names">
                                                      <input class="form-check-input" type="checkbox" value="{{n.name}}" [(ngModel)]="n.selected" (change)="checkIfAllSelected()">
                                                      <label class="form-check-label">{{ n.name }}</label>
                                                    </div>
                                                  </div>
                                                </ng-template>
                                              </ngb-tab>
                                              <ngb-tab title="ONLINE BOOKING">
                                                <ng-template ngbTabContent>
                                                  <br>
                                                  <h4 style="font-size:16px;color:#67768C;font-weight: 400;line-height: 22px;">Allow clients to book this service online,switch off to hide this service from your online bookings menu</h4>
                                                  <div class="row form-group">
                                                    <div class="col-sm-12 btn-switch">
                                                      <label class="control-label">Enable online bookings</label>
                                                      <label class="switch" style="margin-left:120px;">
                                                        <input type="checkbox" name="retailsale" [(ngModel)]="online_booking">
                                                        <span class="slider round"></span>
                                                      </label>
                                                    </div>
                                                  </div>
                                                  <div class="row form-group">
                                                    <div class="col-sm-8 btn-switch">
                                                      <div class="color-picker"*ngIf="online_booking">
                                                        <label class="control-label">Service description</label> <br>
                                                        <input name="service_description" style="width:300px;margin-left:10px;font-size:16px;" type="text" class="form-control" placeholder="Description will be displayed on your Fresha profile"><br>
                                                        <label class="control-label">Service available for</label> <br>
                                                        <select style="width:300px;margin-left:10px;font-size:16px;height:35px;" name="service_availabe" ngModel>
                                                            <option *ngFor="let service of services" [ngValue]="service">{{service.name}}</option>
                                                        </select><br>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </ng-template>
                                              </ngb-tab>
                                              <ngb-tab title="SETTINGS"></ngb-tab>
                                            </ngb-tabset>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                    </div>
                                  </form>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                                  </div>
                                </ng-template>
                              <div class="dropdown-divider"></div>
                              <button class="dropdown-item" (click)="open(edit_group)">Edit Group</button>
                              <ng-template #edit_group let-modal>
                                  <div class="modal-header">
                                    <h4 class="modal-title offset-sm-4" id="modal-basic-title">Edit Service Group</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <label class="font-weight-bold" style="font-size: 13px;">Group name</label>
                                    <input name="group_name" type="text" class="form-control" placeholder="e.g Hair Services"><br>
                                    <label class="font-weight-bold" style="font-size: 13px;">Appoinment color</label><br>
                                    <select (change)="onChange($event.target.value)" [ngStyle]="{'background-color':selectedColor}">
                                        <option *ngFor="let color of colors" [value]="color.value"></option>
                                    </select>
                                    <p style="font-size: 12px;color: #67768C;">See your Calendar Settings page under Setup to set how colors are displayed on the calendar</p>
                                    <label class="font-weight-bold" style="font-size: 13px;">Group description</label>
                                    <input name="group_description" type="text" class="form-control" size="50px;">
                                  </div>
                                  <div class="modal-footer">
                                    <button *ngIf="!isCreate" type="button" class="btn btn-danger" style="width:230px;" (click)="deleteService()">Delete</button>
                                    <button type="submit" class="btn btn-dark" style="width:230px;" (click)="modal.close('Save click')" [disabled]="!signupForm.valid">Save</button>
                                  </div>
                                </ng-template>
                              <div class="dropdown-divider"></div>
                              <button *ngIf="!isCreate" class="dropdown-item" style="color: red;">Delete Group</button>
                            </div>
                          </div>
                          <div aria-hidden="false" class="rah-static rah-static--height-auto" style="height: auto; overflow: visible;"><div>
                            <div class="_2mPFMy _1uoK7S _1TXHtj" data-react-beautiful-dnd-droppable="0" style="display: flex; flex-direction: column;">
                              <div>
                                <div class="_1IZ51C">
                                  <div class="_15Cf1e" data-react-beautiful-dnd-draggable="0" tabindex="0" data-react-beautiful-dnd-drag-handle="0" aria-roledescription="Draggable item. Press space bar to lift" draggable="false">
                                    <div class="TKzXaQ _1FszNF">
                                      <div class="_G2V6_" style="background-color: rgb(226, 166, 230);"></div>
                                      <div class="_3Rm-Lo">
                                        <div style="display: flex; flex-direction: row; flex-grow: 1; align-items: center;">
                                          <span class="_2FSeuB _240vE8 _2p3gj5 _25R4LF _2j8b8s">
                                            <svg viewBox="0 0 16 10" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M1 0h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2z"></path>
                                            </svg>
                                          </span>
                                          <div class="-Ypemc" style="flex-grow: 1;">
                                            <div class="_16CLpx" style="display: flex; flex-direction: row; flex-grow: 1;">
                                              <div class="_1p62pX _2wRsul _28kZVp" data-qa="service-pricng-level-name" style="flex-grow: 1;">ádasd</div>
                                              <div class="_1p62pX _3CbXpB _29aaBJ" data-qa="service-duration">1h</div>
                                            </div>
                                            <div style="display: flex; flex-direction: row-reverse; flex-shrink: 0; flex-grow: 0; text-align: right;">
                                              <div class="_1p62pX _2wRsul _3So_0V" data-qa="service-retail-price">
                                                <span>₫23</span>
                                              </div>
                                              <div class="_1p62pX _3CbXpB _2UHacH" data-qa="service-special-price"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
<div class="shedul-react-portal-wrapper">
  <div>
    <div>
      <span>
        <div class="_1p5SnM" data-qa="floating-menu-button">
          <span>
            <div class="rTWbSm">
              <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_" (click)="open(content)">
                <span class="_2FSeuB _240vE8 RCcMXQ">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path d="M26 22V8c0-1.11-.895-2-2-2-1.112 0-2 .895-2 2v14H8c-1.11 0-2 .895-2 2 0 1.112.895 2 2 2h14v14c0 1.11.895 2 2 2 1.112 0 2-.895 2-2V26h14c1.11 0 2-.895 2-2 0-1.112-.895-2-2-2H26z" ></path>
                  </svg>
                </span>
              </button>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title offset-sm-4" id="modal-basic-title">New Service Group</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <label class="font-weight-bold" style="font-size: 13px;">Group name</label>
                  <input name="group_name" type="text" class="form-control" placeholder="e.g Hair Services"><br>
                  <label class="font-weight-bold" style="font-size: 13px;">Appoinment color</label><br>
                  <select (change)="onChange($event.target.value)" [ngStyle]="{'background-color':selectedColor}">
                      <option *ngFor="let color of colors" [value]="color.value"></option>
                  </select>
                  <p style="font-size: 12px;color: #67768C;">See your Calendar Settings page under Setup to set how colors are displayed on the calendar</p>
                  <label class="font-weight-bold" style="font-size: 13px;">Group description</label>
                  <input name="group_description" type="text" class="form-control" size="50px;">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                </div>
              </ng-template>
              <span></span>
            </div>
          </span>
        </div>
      </span>
      <div class="_1p5SnM _2PS2C2">
        <span></span>
      </div>
    </div>
  </div>
</div>
