<div class="shedul-app">
  <section class="main-content">
    <div id="react">
      <div class="_2uCs3H">
        <div class="_2gzTLZ">
          <div class="WCtapg">
            <div class="_1JSe3N _2Y7oP1 _2XM89A _3veYQi">
              <div class="_1Rmr-3" style="display: flex; flex-direction: column;">
                <div class="_3o5M5s" style="display: flex; flex-direction: row;">
                  <div class="_2yU4mG" style="display: flex; flex-direction: row;">
                    <div class="_2mPFMy _1Ov_P6 ex0yBB _1uoK7S _3KrHdu _2Ihtwi _1FszNF" style="display: flex; flex-direction: column;">
                      <span class="_2FSeuB _240vE8 _2CXiYN _3vTBXo">
                        <svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path d="M1.5 1.5v15h17v-15h-17zM1 0h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1z"></path>
                            <path d="M4 5h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zM4 9h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zM4 13h12H4zm0-1h12a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="_2mPFMy _1Ov_P6 ex0yBB _1uoK7S _3KrHdu _1FszNF" style="display: flex; flex-direction: column;">
                      <span class="_2FSeuB _240vE8 _2CXiYN _3vTBXo">
                        <svg viewBox="0 0 20 17" xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path d="M1.5 1.5v2h17v-2h-17zM1 0h18a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1zM1.5 7.5v2h17v-2h-17zM1 6h18a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1zM1.5 13.5v2h17v-2h-17zM1 12h18a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1z"></path>
                          </g>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div style="flex-shrink: 1; flex-grow: 1;"></div>
                  <button class="_JXDTj u2YkDb _1FszNF _3ttzJg _2DZ1oJ _26WQGn _311OLi">
                    <span class="_2FSeuB _240vE8 RCcMXQ _3Z9obg _1w3FE_">
                      <svg xmlns="http://www.w3.org/2000/svg">
                        <g>
                          <path d="M15.072 9.62c.506 0 .911.405.911.912v4.962a.908.908 0 0 1-.911.911H.962c-.506 0-.945-.405-.945-.911v-4.962c0-.507.439-.912.945-.912s.911.405.911.912v4.017H14.16v-4.017c0-.507.405-.912.912-.912z"></path>
                          <path d="M7.376 11.68L3.662 7.965a.878.878 0 0 1 0-1.282.878.878 0 0 1 1.283 0l2.16 2.126V.911c0-.506.406-.911.912-.911s.911.405.911.911v7.9l2.127-2.127a.917.917 0 0 1 1.316 0 .878.878 0 0 1 0 1.282L8.658 11.68a.922.922 0 0 1-.641.27.922.922 0 0 1-.641-.27z"></path>
                        </g>
                      </svg>
                    </span>Export
                  </button>
                </div>
                <div class="WU0jHb">
                  <div class="_3xwAVO" data-react-beautiful-dnd-droppable="0">
                    <div>
                      <div class="_26i1T-">
                        <div class="ZeB6l7" data-react-beautiful-dnd-draggable="0" tabindex="0" data-react-beautiful-dnd-drag-handle="0" aria-roledescription="Draggable item. Press space bar to lift" draggable="false">
                          <div class="_27C1WR" style="display: flex; flex-direction: row;">
                            <div class="_3piVXo" style="display: flex; flex-direction: row;">
                              <span class="_2FSeuB _240vE8 _2p3gj5 _25R4LF _1rnkiM">
                                <svg viewBox="0 0 16 10" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M1 0h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2z"></path>
                                </svg>
                              </span>
                              <div class="_1p62pX _2VnNQQ _1f5dc9">ádasdasd</div>
                            </div>
                            <button class="_JXDTj _28JDiI -AN3nQ _1FszNF _3ttzJg _2DZ1oJ _26WQGn _311OLi" data-qa="service-group-options" style="flex-shrink: 0;">
                              <span class="_2FSeuB _240vE8 _2CXiYN">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 6">
                                  <circle cx="3" cy="3" r="3"></circle>
                                  <circle cx="11" cy="3" r="3"></circle>
                                  <circle cx="19" cy="3" r="3"></circle>
                                </svg>
                              </span>
                            </button>
                          </div>
                          <div aria-hidden="false" class="rah-static rah-static--height-auto" style="height: auto; overflow: visible;"><div>
                            <div class="_2mPFMy _1uoK7S _1TXHtj" data-react-beautiful-dnd-droppable="0" style="display: flex; flex-direction: column;">
                              <div>
                                <div class="_1IZ51C">
                                  <div class="_15Cf1e" data-react-beautiful-dnd-draggable="0" tabindex="0" data-react-beautiful-dnd-drag-handle="0" aria-roledescription="Draggable item. Press space bar to lift" draggable="false">
                                    <div class="TKzXaQ _1FszNF">
                                      <div class="_G2V6_" style="background-color: rgb(226, 166, 230);"></div>
                                      <div class="_3Rm-Lo">
                                        <div style="display: flex; flex-direction: row; flex-grow: 1; align-items: center;">
                                          <span class="_2FSeuB _240vE8 _2p3gj5 _25R4LF _2j8b8s">
                                            <svg viewBox="0 0 16 10" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M1 0h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 4h14a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2z"></path>
                                            </svg>
                                          </span>
                                          <div class="-Ypemc" style="flex-grow: 1;">
                                            <div class="_16CLpx" style="display: flex; flex-direction: row; flex-grow: 1;">
                                              <div class="_1p62pX _2wRsul _28kZVp" data-qa="service-pricng-level-name" style="flex-grow: 1;">ádasd</div>
                                              <div class="_1p62pX _3CbXpB _29aaBJ" data-qa="service-duration">1h</div>
                                            </div>
                                            <div style="display: flex; flex-direction: row-reverse; flex-shrink: 0; flex-grow: 0; text-align: right;">
                                              <div class="_1p62pX _2wRsul _3So_0V" data-qa="service-retail-price">
                                                <span>₫23</span>
                                              </div>
                                              <div class="_1p62pX _3CbXpB _2UHacH" data-qa="service-special-price"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</div>
<div class="shedul-react-portal-wrapper">
  <div>
    <div>
      <span>
        <div class="_1p5SnM" data-qa="floating-menu-button">
          <span>
            <div class="rTWbSm">
              <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_">
                <span class="_2FSeuB _240vE8 RCcMXQ">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path d="M26 22V8c0-1.11-.895-2-2-2-1.112 0-2 .895-2 2v14H8c-1.11 0-2 .895-2 2 0 1.112.895 2 2 2h14v14c0 1.11.895 2 2 2 1.112 0 2-.895 2-2V26h14c1.11 0 2-.895 2-2 0-1.112-.895-2-2-2H26z"></path>
                  </svg>
                </span>
              </button>
              <span></span>
            </div>
          </span>
        </div>
      </span>
      <div class="_1p5SnM _2PS2C2">
        <span></span>
      </div>
    </div>
  </div>
</div>
