.m-t-20 {
  margin-top: 20px;
}
.col-lg-12 {
  position: relative;
  min-height: 1px;
}
h5 {
  font-size: 18px;
  line-height: 25.88px;
  margin: 10px 0;
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color: #2c2c2c;
}
.adss{
  top:28px;
  left:124px;
}
