<div class="row">
  <div class="col-sm-6">
    <div class="row m-t-20">
      <div class="col-sm-12 col-ms-12 col-lg-12">
        <div class="row sales-settings-container" id="sales-settings">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-sm-12">
                <h5>Staff Commissions
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 44 44" enable-background="new 0 0 44 44" style="width:15px;" placement="bottom" ngbTooltip="Tooltip on bottom" >
                    <path d="m22,0c-12.2,0-22,9.8-22,22s9.8,22 22,22 22-9.8 22-22-9.8-22-22-22zm2,34c0,0.6-0.4,1-1,1h-2c-0.6,0-1-0.4-1-1v-2c0-0.6 0.4-1 1-1h2c0.6,0 1,0.4 1,1v2zm2.7-8.9c-1.4,1.2-2.4,2-2.7,3.1-0.1,0.5-0.5,0.8-1,0.8h-2c-0.6,0-1.1-0.5-1-1.1 0.4-2.9 2.5-4.5 4.2-5.9 1.8-1.4 2.8-2.3 2.8-4 0-2.8-2.2-5-5-5s-5,2.2-5,5c0,0.2 0,0.4 0,0.6 0.1,0.5-0.2,1-0.7,1.1l-1.9,.6c-0.6,0.2-1.2-0.2-1.3-0.8-0.1-0.5-0.1-1-0.1-1.5 0-5 4-9 9-9s9,4 9,9c0,3.7-2.4,5.6-4.3,7.1z"/>
                  </svg>
                  <i class="icon-question-circle hint-icon v-align-middle" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Changes to commission and tax settings will only apply to new invoices, existing invoices are not impacted"></i>
                </h5>
                <div class="inputs">
                  <div class="form-group">
                    <div class="form-inline">
                      <div class="form-group boolean optional provider_commission_before_discount">
                        <div class="checkbox check-success">
                          <input name="provider[commission_before_discount]" type="hidden" value="0">
                          <input class="boolean optional" type="checkbox" value="1" name="provider[commission_before_discount]" id="provider_commission_before_discount">
                          <label class="boolean optional" for="provider_commission_before_discount">Calculate by item sale price before discount</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" id="commission-after-tax">
                    <div class="form-inline">
                      <div class="form-group boolean optional provider_commission_after_tax">
                        <div class="checkbox check-success">
                          <input name="provider[commission_after_tax]" type="hidden" value="0">
                          <input class="boolean optional" type="checkbox" value="1" name="provider[commission_after_tax]" id="provider_commission_after_tax">
                          <label class="boolean optional" for="provider_commission_after_tax">Calculate by item sale price including tax</label>
                        </div>
                      </div>
                    </div>
                    <div class="help help-block visible-xs">Changes to commission and tax settings will only apply to new invoices, existing invoices are not impacted</div>
                  </div>
                </div>
                <hr>
                <h5>Vouchers
                  <div class="inputs">
                    <div class="form-group">
                      <label for="provider_voucher_expiration_period">Default expiry period</label>
                      <div class="select-wrapper">
                        <select include_blank="false" class="select optional form-control" name="provider[voucher_expiration_period]" id="provider_voucher_expiration_period">
                          <option value="months_1">1 Month</option>
                          <option value="months_2">2 Months</option>
                          <option value="months_3">3 Months</option>
                          <option selected="selected" value="months_6">6 Months</option>
                          <option value="years_1">1 Year</option>
                          <option value="never">No Expiry</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-t-20 mobile-m-b-30">
          <div class="col-lg-12">
            <div class="text-left">
              <input type="submit" name="commit" value="Save Changes" class="btn btn-success" id="submit-button">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>











