<div [@routerTransition]>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    RECENT SALES
                </div>
                <div class="card-body table-responsive">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    UPCOMING APPOINTMENTS
                </div>
                <div class="card-body table-responsive">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    APPOINTMENTS ACTIVITY
                </div>
                <div class="card-body table-responsive">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    TODAY'S NEXT APPOINTMENTS
                </div>
                <div class="card-body table-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
