<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="row">
				<div class="col-md-3 col-sm-6 offset-md-3 offset-sm-0 mt-3">
					<div id="box-setup">
						<div class="title">
							<p>Account Setup</p>
							<span>Manage your business general settings</span>
						</div>
						<ul class="list-group">
							<li>
								<a href="javascript:void(0);" title="" [routerLink]="['company_details']">Company Details</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="" [routerLink]="['locations']">Locations</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="" [routerLink]="['resources']">Resources</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="" [routerLink]="['calendar_settings']">Calendar Settings</a>
							</li>
							<li>
								<a href="#" title="">Staff Notifications</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 mt-3">
					<div id="box-setup">
						<div class="title">
							<p>Point of Sale</p>
							<span>Manage point of sale settings</span>
						</div>
						<ul class="list-group">
							<li>
								<a href="#" title="" [routerLink]="['payment_methods']">Payment Types</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="" [routerLink]="['taxes']">Taxes</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="" [routerLink]="['discount-type']">Discount Types</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="" [routerLink]="['sales-settings']">Sales Settings</a>
							</li>
							<li>
								<a href="#" title="">Invoices & Receipts</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-3 col-sm-6 offset-md-3 offset-sm-0">
					<div id="box-setup">
						<div class="title">
							<p>Client Settings</p>
							<span>Setup client notifications, referral sources and cancellation reasons</span>
						</div>
						<ul class="list-group">
							<li>
								<a href="#" title="">Client Notifications</a>
							</li>
							<li>
								<a href="#" title="" [routerLink]="['referral_sources']">Referral Sources</a>
							</li>
							<li>
								<a href="#" title="">Cancellation Reasons</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
