// global font color
body {
    color: #67768C;
}

.card-body.table-responsive {
    position: relative; min-height: 50%
}

// table
.table thead tr th {
    background-color: #f7f7f8;
    font-size: 14px;
    color: #00000088;
    white-space: nowrap;
}
.table tr td {
    font-size: 14px;
}
.table.table-hover tbody tr {
    cursor: pointer;
}

.cal-container {

    .fc-scroller.fc-time-grid-container{
		height: 350px;
		max-height: 100%;
    }
}


// filter des
.filters-description {
    .report-options {
        font-size: 14px;
        color: #67768C;
    }
}

// clickable row
.row.clickable-row {
    cursor: pointer;
    border-bottom: 1px solid #e5e9ec;

    &:hover {
        background-color: #f4f4f5;
    }
    .appoiment-title {
        color: #007bff;
    }
}