// global font color
body {
    color: #67768C;
    font-family: 'Roboto-Regular';
}

.card-body.table-responsive {
    position: relative; min-height: 50%
}
.table tr td,
span,
p,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-family: 'Roboto-Regular';
}

.cal-container {

    .fc-scroller.fc-time-grid-container{
		height: 350px;
		max-height: 100%;
    }
}

.control-label {
    text-transform: uppercase;
}

// filter des
.filters-description {
    .report-options {
        font-size: 14px;
        color: #67768C;
    }
}

// clickable row
.row.clickable-row {
    cursor: pointer;
    border-bottom: 1px solid #e5e9ec;

    &:hover {
        background-color: #f4f4f5;
    }
    .appoiment-title {
        color: #007bff;
    }
}


// card
.card-custom {
    border: none;

    .card-header {
        background: white;
        display: flex;
        justify-content: space-between;
        border: none;
    }
}
.on-show-display {
    text-align: center;
    padding-top: 1em;
}

//button

#inbox .show-on-hover:hover > ul.dropdown-menu {
    display: block;    
    -webkit-transform: translate(30);
    transform: translate(130);
    transition: all 0.1s ease;
    
}
#inbox .show-on-hover {
    position: fixed;
    bottom: 80px;
    right: 80px;
}

.product .show-on-hover {
    position: fixed;
    bottom: 25px !important;
    right: 30px !important;
}

#inbox .btn-io{
    border-radius: 50%;
    height: 55px;
    width: 55px;
    padding: 0 !important;
    cursor: pointer;
}

#inbox .btn-black {
    background-color: #24334A;
    &:hover {
        &:before {
            content: "";
        }
    }
}
#inbox .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: -40%;
    bottom: 0;
    margin-bottom: 1px;
    margin-bottom: -5px;
    padding-bottom: 30px;
}
.product .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: -49% !important;
}

#inbox .dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}
#inbox .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0) !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
#inbox .fa-iox{
    font-size: 22px;
}
#inbox .fa-1-75-x{
    font-size: 2rem;
}
#inbox .dropdown-menu > li > span {
    display: flex;
    padding: 0;
    margin-top: 20px;
    clear: both;
    font-weight: normal;
    color: #333;
    background: #fff;
    white-space: nowrap;
    width: 55px;
    height: 55px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 21px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i{
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }
}

#inbox .dropdown-menu > li:first-child {
    &:hover{
        .tooltip_group {
            visibility: visible;
            opacity: 1;
            transform: translate(-10%, 0);
        }
    }
}

#inbox .dropdown-menu > li:last-child {
    &:hover{
        .tooltip {
            visibility: visible;
            opacity: 1;
            transform: translate(-10%, 0);
        }
    }
}

#inbox .dropdown-menu > li:first-child > span {
    background: #24334A !important;
    color: #fff !important;
    &:hover{
        .tooltip {
            visibility: visible;
            opacity: 1;
            transform: translate(-10%, 0);
        }
    }
}
#inbox .dropdown-menu > li:last-child > span {
    background: #24334A;
    color: #fff;
    &:hover{
        .tooltip {
            visibility: visible;
            opacity: 1;
            transform: translate(-10%, 0);
        }
    }
}
#inbox .fa-iosm{
    
    margin-top: 7px;
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 1.6em!important;
    height: 2em;
    line-height: 1.8em!important;
    vertical-align: middle;
}
/* Tooltips */
.tooltip_group {
    display: block;
    position: absolute;
    top: 40%;
    right: 45px;
    padding: 0.2rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    -webkit-transform: translate(30);
    transform: translate(130);
    transition: all 0.1s ease;
    z-index: 1;
    color: #f00;
    width: 160px;
    background: #8da2b5;
    color: #fff;
    text-align:center;
}

.btn-black {
    color: #fff;
    background-color: #24334A;
    border: 1px solid #eee;
    box-shadow: 1px 2px 10px #ddd;
    cursor: pointer;
    padding: 0.5em 2em;
    text-transform: uppercase;
    &:hover {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
}

.btn-light {
    &:hover {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
}
.btn-white {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 2px 10px #ddd;
    cursor: pointer;
    padding: 0.5em 2em;
    text-transform: uppercase;
    &:hover {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
}
.btn-danger {
    &:hover {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
}
.btn-delete {
  background: #F74969;
    text-transform: uppercase;
  color: #fff;
  border: 1px solid #eee;
  box-shadow: 1px 2px 10px #ddd;
  cursor: pointer;
  padding: 0.5em 2em;
  &:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}
//end button
