// global font color
body {
    color: #67768C;
    font-family: 'Roboto-Regular';
}

.card-body.table-responsive {
    position: relative; min-height: 50%
}

.cal-container {

    .fc-scroller.fc-time-grid-container{
		height: 350px;
		max-height: 100%;
    }
}

.control-label {
    text-transform: uppercase;
}

// filter des
.filters-description {
    .report-options {
        font-size: 14px;
        color: #67768C;
    }
}

// clickable row
.row.clickable-row {
    cursor: pointer;
    border-bottom: 1px solid #e5e9ec;

    &:hover {
        background-color: #f4f4f5;
    }
    .appoiment-title {
        color: #007bff;
    }
}


// card
.card-custom {
    border: none;

    .card-header {
        background: white;
        display: flex;
        justify-content: space-between;
        border: none;
    }
}