@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 235px !important;
        }
    }
    
    .navbar-toggler.mobile {
        display: block;
    }
    .navbar-toggler.desktop {
        display: none;
    }
}
@media screen and (min-width: 993px) {
    body {
        transition: margin 0.2s ease-in-out;
    }
    .push-right {
        margin-left: -235px !important;
        .sidebar {
            left: 0px !important;
        }
    }
    .navbar-toggler.mobile {
        display: none;
    }
    .navbar-toggler.desktop {
        display: block;
    }
    .sidebar.sidebar-mobile-menu {
        display: none;
    }
}



$breakpoint-iphone: 667px;
//desktop
@media (min-width: $breakpoint-iphone) {
    
    .block-mb {
        max-width: 140px;
        flex: 0 0 140px;
    }
    .box-button {
        .dropdown-menu {
            &.show {
                width: -webkit-fill-available;
            }
        }
    }

    .table {
        tbody {
            tr {
                &:last-child {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
    
}

//mobile
@media (max-width: $breakpoint-iphone) {
  
    label {
        &.control-label{
            margin-bottom: 0 !important;
            margin-top: .5rem;
        }
        
    }

    .table {
        tbody {
            tr {
                &:last-child {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }

    .box-birthday > div {
        margin-bottom: .3rem;
    }

    .box-button {
        .dropdown-menu {
            &.show {
                width: -webkit-fill-available;
            }
        }
    }

    
    .card {
        .mbx {
            input {
                width: 100% !important;
            }
        }
        .card-filter {

            div {
                 display: block !important;
                * {
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
        }
    }

}