<div class="row">
  <div class="col-sm-6">
    <div class="row m-t-20">
      <div class="col-sm-12 col-ms-12 col-lg-12">
        <div class="row sales-settings-container" id="sales-settings">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-sm-12">
                <h5>Staff Commissions
                  <i class="fa fa-question-circle-o hint-icon v-align-middle" data-placement="bottom" data-toggle="tooltip" title="" placement="bottom" ngbTooltip="Changes to commission and tax settings will only apply to new invoices, existing invoices are not impacted" data-original-title="Changes to commission and tax settings will only apply to new invoices, existing invoices are not impacted"></i>
                </h5>
                <div class="inputs">
                  <div class="form-group">
                    <div class="form-inline">
                      <div class="form-group boolean optional provider_commission_before_discount">
                        <label class="con" style="font-size: 13px;text-transform: uppercase;font-weight: 700;">Calculate by item sale price before discount
                          <input type="checkbox" checked="checked">
                          <span class="checkmark1"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" id="commission-after-tax">
                    <div class="form-inline">
                      <div class="form-group boolean optional provider_commission_after_tax">
                        <label class="con" style="font-size: 13px;text-transform: uppercase;font-weight: 700;">Calculate by item sale price including tax
                          <input type="checkbox" checked="checked">
                          <span class="checkmark1"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <h5>Vouchers
                  <div class="inputs">
                    <div class="form-group">
                      <label for="provider_voucher_expiration_period" style="font-size: 13px;text-transform: uppercase;font-weight: 700;">Default expiry period</label>
                      <div class="select-wrapper">
                        <select include_blank="false" class="select optional form-control" name="provider[voucher_expiration_period]" id="provider_voucher_expiration_period">
                          <option value="months_1">1 Month</option>
                          <option value="months_2">2 Months</option>
                          <option value="months_3">3 Months</option>
                          <option selected="selected" value="months_6">6 Months</option>
                          <option value="years_1">1 Year</option>
                          <option value="never">No Expiry</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-t-20 mobile-m-b-30">
          <div class="col-lg-12">
            <div class="text-left">
              <input type="submit" name="commit" value="Save Changes" class="btn btn-ad" id="submit-button">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>











