<div class="box-import">
    	<div class="modal-header">
        <h5 class="modal-title" style="margin:0 auto; display:inline-block; width:90%">Import Clients To Shedul</h5>
        <button type="button" class="close" aria-label="Close" (click)="close()" style=" font-size: 3em; padding: 0px 0px 0px 0px; ">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Follow the simple instructions below to import clients to your Shedul account</p>
        <div class="bs-step">
            <span class="one">Download your import spreadsheet using the button below</span>
            <span class="two">Copy and paste your client details into the spreadsheet</span>
            <span class="three">Email it back to us on <a href="mailto:info@shedul.com?subject=import">info@shedul.com</a> and we'll add the clients to your account!</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-black" style="width:100%">Download import file</button>
    </div>
</div>