<div *ngIf="client_info" class="box-details">
	<div class="col-lg-12 col-md-12">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-12">
				<div class="box-info mb-4">
					<div class="avatar">
						<div class="circle-avatar" [ngClass]="reload && client_info?.status == '1' ? '' : 'block' ">
							<i class="fa fa-ban" *ngIf="reload && client_info?.status !== '1'"></i>
							<span>{{client_info?.firstName | slice : 0:1 }}</span>
						</div>
					</div>
					<div class="name">
						<span>{{client_info?.firstName}} {{client_info?.lastName}}</span>
						<span *ngIf="reload && checkNew <= 5" class="new-client" [ngClass]="client_info?.status == '1' ? '' : 'block' ">{{client_info?.status == '1' ? 'New Client' : 'Blocked'}}</span>
						<span *ngIf="reload && checkNew > 5" [ngClass]="client_info?.status == '1' ? '' : 'block' ">{{client_info?.status == '1' ? '' : 'Blocked'}}</span>
						<span class="block_reason">{{client_info?.status !== '1' ? client_info?.block_reason : ''}}</span>
					</div>
					<div class="box-button">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-lg-6 col-sm-6">
									<div ngbDropdown>
					                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
						                    <span>More Options</span>
						                </a>
					                    <div ngbDropdownMenu>
					                        <a routerLink="/clients/edit/{{client_info.id}}" class="dropdown-item">
						                        Edit
						                    </a>
						                    <a *ngIf="client_info?.status == 1" href="javascript:void(0)" class="dropdown-item" (click)="open(content_block)">
						                        Block
						                    </a>
						                    <a *ngIf="client_info?.status !== 1" href="javascript:void(0)" class="dropdown-item" (click)="open(content_unblock)">
						                        UnBlock
						                    </a>
						                    <a href="javascript:void(0)" class="dropdown-item" (click)="open(content)">
						                        Delete
						                    </a>
					                    </div>
					                </div>
								</div>
								<div class="col-lg-6 col-sm-6 no-pd">
									<span class="btn btn-dark">New appointment</span>
								</div>
							</div>
						</div>
					</div>
					<div class="hrbox"></div>
					<div class="box-ephone">
						<div class="form-group">
							<label for="Mobile" *ngIf="client_info?.phone">Mobile</label>
							<span>{{client_info?.phone}}</span>
						</div>
						<div class="form-group" *ngIf="client_info?.tele_phone">
							<label for="Mobile">Telephone</label>
							<span>{{client_info?.tele_phone}}</span>
						</div>
						<div class="form-group" *ngIf="client_info?.email">
							<label for="Email">Email</label>
							<span>{{client_info?.email}}</span>
						</div>
						<div class="form-group" *ngIf="client_info?.address || client_info?.suburb || client_info?.city || client_info?.state || client_info?.zip_postcode">
							<label for="Address">Address</label>
							<span>{{client_info?.address}}</span>
							<span>{{client_info?.suburb}}</span>
							<span>{{client_info?.city}}</span>
							<span>{{client_info?.state}}</span>
							<span>{{client_info?.zip_postcode}}</span>
						</div>
						<div class="form-group" *ngIf="client_info?.birthday">
							<label for="birthday">Date of Birth</label>
							<span>{{ getDateofBirth(client_info?.birthday) }}</span>
						</div>
						<div class="form-group" *ngIf="client_info?.gender">
							<label for="gender">Gender</label>
							<span>{{client_info?.gender == '1' ? 'Male' : client_info?.gender == '2' ? 'Female' : 'Unknown'}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-7 col-sm-12">
				<div class="box-info mb-4">
					<div class="row mb-3">
						<div class="col-lg-6 col-sm-6 pd-no-right bd-right">
							<div class="text-sales">
								<p>£35</p>
								<span>Total Sales</span>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6 pd-no-left">
							<div class="text-outstanding">
								<p>£0</p>
								<span>Outstanding</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-sm-3">
							<div class="text-normal">
								<p>3</p>
								<span>All bookings</span>
							</div>
						</div>
						<div class="col-lg-3 col-sm-3">
							<div class="text-normal">
								<p>1</p>
								<span>Completed</span>
							</div>
						</div>
						<div class="col-lg-3 col-sm-3">
							<div class="text-normal">
								<p>0</p>
								<span>Cancelled</span>
							</div>
						</div>
						<div class="col-lg-3 col-sm-3">
							<div class="text-normal">
								<p>0</p>
								<span>No Shows</span>
							</div>
						</div>
					</div>
				</div>

				<div class="box-info">
					<div class="row">
						<div class="col-lg-12">
							<ngb-tabset>
								<ngb-tab title="Appointments">
									<ng-template ngbTabContent>
										<div class="col-md-12 form-content">
											<div class="text-center">
												<h1><i class="fa fa-2x fa-calendar"></i></h1>
												<h3 class="text-capitalize">No Appointments</h3>
												<p>The client has no upcoming or past appointments</p>
											</div>
										</div>
									</ng-template>
								</ngb-tab>
								<ngb-tab title="Products">
									<ng-template ngbTabContent>
										<div class="col-md-12 form-content">
											<div class="text-center">
												<h1><i class="fa fa-2x fa-cubes"></i></h1>
												<h3 class="text-capitalize">No Sales History</h3>
												<p>Use the checkout feature to create a new sale for this client</p>
											</div>
										</div>
									</ng-template>
								</ngb-tab>
								<ngb-tab title="Invoices">
									<ng-template ngbTabContent>
										<div class="col-md-12 form-content">
											<div class="text-center">
												<h1><i class="fa fa-2x fa-shopping-cart"></i></h1>
												<h3 class="text-capitalize">No Sales History</h3>
												<p>Use the checkout feature to create a new sale for this client</p>
											</div>
										</div>
									</ng-template>
								</ngb-tab>
							</ngb-tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ng-template #content let-c="close" let-d="dismiss">
	        <div class="box-delete">
	        	<div class="modal-header">
		            <h5 class="modal-title" style="margin:0 auto; display:inline-block; width:90%">Delete Client</h5>
		            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style=" font-size: 3em; padding: 0px 0px 0px 0px; ">
		                <span aria-hidden="true">&times;</span>
		            </button>
		        </div>
		        <div class="modal-body">
		            <p>Are you sure? This action cannot be undone.</p>
		        </div>
		        <div class="modal-footer">
		            <button type="button" class="btn btn-delete" style="text-transform: uppercase;" (click)="removeUser(client_info?.id)">Delete</button>
		        </div>
	        </div>
	    </ng-template>
		<ng-template #content_block let-c="close" let-d="dismiss">
	        <div class="box-block">
	        	<div class="modal-header">
		            <h5 class="modal-title" style="margin:0 auto; display:inline-block; width:90%">Block Client</h5>
		            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style=" font-size: 3em; padding: 0px 0px 0px 0px; ">
		                <span aria-hidden="true">&times;</span>
		            </button>
		        </div>
		        <div class="modal-body">
		            <p style="font-weight: bold">Are you sure you want to block this client?</p>
					<p>Blocking prevents this client from booking online appointments with you, they will find no available time slots.</p>
					<p>Blocked clients are also automatically excluded from any marketing messages.
					</p>
					<div class="form-group">
						<label for="blocking">Blocking reason</label>
						<select class="_190Ggi i7D1Pv JoUyMM form-control mb-2" name="blockReason" [(ngModel)]="blockReason">
							<option disabled="" value="" selected="selected" hidden="hidden">Select blocking reason</option>
							<option value="Too many no shows">Too many no shows</option>
							<option value="Too many late cancellations">Too many late cancellations</option>
							<option value="Too many reschedules">Too many reschedules</option>
							<option value="Rude or inappropriate to staff">Rude or inappropriate to staff</option>
							<option value="Refused to pay">Refused to pay</option>
							<option value="Booked fake appointments">Booked fake appointments</option>
							<option value="0">Other</option>
						</select>
						<textarea *ngIf="blockReason == '0'" class="form-control" rows="3" name="textBlock" [(ngModel)]="textBlock" placeholder="Blocking Reason"></textarea>
					</div>
		        </div>
		        <div class="modal-footer">
		            <button type="button" style="width: 50%" class="btn btn-white" (click)="c('Close click')">Cancel</button>
		            <button type="button" style="width: 50%" class="btn btn-black" (click)="blockUser(client_info)">Block</button>
		        </div>
	        </div>
	    </ng-template>
		<ng-template #content_unblock let-c="close" let-d="dismiss">
	        <div class="box-un-block">
	        	<div class="modal-header">
		            <h5 class="modal-title" style="margin:0 auto; display:inline-block; width:90%">Unblock Client</h5>
		            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style=" font-size: 3em; padding: 0px 0px 0px 0px; ">
		                <span aria-hidden="true">&times;</span>
		            </button>
		        </div>
		        <div class="modal-body">
		            <p>Are you sure you want to unblock this client?</p>
		            <p>This will allow the client to book online appointments with you and to receive marketing messages.</p>
		        </div>
		        <div class="modal-footer">
		            <button type="button" class="btn btn-white" (click)="c('Close click')">Cancel</button>
		            <button type="button" class="btn btn-black" (click)="unblockUser(client_info)">Unblock</button>
		        </div>
	        </div>
	    </ng-template>
	</div>
</div>

<div *ngIf="!client_info" class="text-center" style="margin-top: 30px;">
	<h1><i class="fa fa-fw fa-search"></i></h1>
	<h3 class="text-capitalize">Unable to load data</h3>
	<p>Your request couldn’t be processed at this point.</p>
	<p>Please try again later or contact our support.</p>
	<button class="btn" (click)="goBack()">Go back</button>
</div>
	