<div class="modal-header">
    <h4 class="modal-title offset-sm-4" id="modal-basic-title">Select Supplier</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <div class="row" id="divSelectSupplier">
        <div class="col-12" style="margin-top:10px;color: #67768C;" id="titleSupplier">
          <label>Select a supplier to order product stock from</label>
        </div>
        <div class="col-12" id="divSupplier" *ngFor="let product of listproducts">
          <div class="col-12 item-modal-wizard" step="1">
            <div class="col-6">
              <div class="col-12">
                <strong>{{ product.name_product }}</strong>
              </div>
            </div>
            <div class="col-6 text-right">
              <span><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.187 16.9c-.25.253-.25.66 0 .91.248.253.652.253.9 0l7.285-7.355c.25-.25.25-.66 0-.91L7.088 2.19c-.25-.253-.652-.253-.9 0-.25.25-.25.658-.002.91L12.83 10l-6.643 6.9z"></path>
              </svg></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
