.client-left-content{
	label {
		&.control-label {
			strong {
				color: #f00;
			}
		}
	}
	.focus-color {
	    border: 1px solid #f00;
	}
}

@media screen and (min-width: 768px) {
    .client-left-content {
        padding-top: 73px;
        border-right: 1px solid #e9ecef; 
        margin-right: 35px; 
        padding-right: 50px;
    }
}