<form class="modal-content" style="border: none" #f="ngForm">
  <div class="modal-header">
    <h4 class="modal-title col-sm-4 offset-sm-4">New Client</h4>
  </div>

  <div class="modal-body row form-content">
    <div class="col-lg-5 offset-lg-1 col-md-12 client-left-content">
      <div class="row form-group">
        <div class="col-sm-6">
          <label class="control-label">First Name <strong>*</strong></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">F</div>
            </div>
            <input [(ngModel)]="form.firstName" type="text" required text class="form-control input-underline input-lg" name="firstName" placeholder="First Name" [ngModelOptions]="{updateOn: 'blur'}" #firstName="ngModel" #firstName>
          </div>
          <small class="form-text text-danger " *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">Invaild firstName !</small>
        </div>
        <div class="col-sm-6">
          <label class="control-label">Last Name </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">L</div>
            </div>
            <input [(ngModel)]="form.lastName" type="text" name="lastName" class="form-control input-underline input-lg" placeholder="Last Name"  #lastName="ngModel" #lastName>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6">
          <label class="control-label">Mobile </label>
          <div class="input-group">
            <ngx-intl-tel-input 
              [enablePlaceholder]="true" 
              [enableAutoCountrySelect]="true"
              name="mobile"
              [cssClass]="'custom-css'"
              [(ngModel)]="mobile"></ngx-intl-tel-input>
            <!-- <input [(ngModel)]="form.mobile" type="text" name="mobile" class="form-control input-underline input-lg" placeholder="Mobile" #mobile="ngModel" minlength="9" maxlength="12" pattern="^[0-9]{9,12}$" #mobileChild> -->
          </div>
          <!-- <small class="form-text text-danger" *ngIf="!mobile.valid">Number Only!</small> -->
        </div>

        <div class="col-sm-6">
          <label class="control-label">Telephone</label>
          <div class="input-group">
            <!-- <div class="input-group-prepend">
              <div class="input-group-text">T</div>
            </div>
            <input [(ngModel)]="form.telephone" type="text" name="telephone" class="form-control input-underline input-lg" placeholder="Telephone" #telephone="ngModel" minlength="1" maxlength="12" pattern="^[0-9]{1,12}$"> -->
            <ngx-intl-tel-input 
              [enablePlaceholder]="true" 
              [enableAutoCountrySelect]="true"
              name="telephone"
              [cssClass]="'custom-css'"
              [(ngModel)]="telephone"></ngx-intl-tel-input>
          </div>
          <!-- <small class="form-text text-danger" *ngIf="!telephone.valid">Number Only!</small> -->
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
          <label class="control-label">Email </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input [(ngModel)]="form.email" type="email" name="email" class="form-control input-underline input-lg" placeholder="Email" email #email="ngModel" >
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
          <label class="control-label">{{'Send notifications by' }}</label>
          <select [(ngModel)]="form.notificationType" name="notificationType" class="form-control" #notificationType="ngModel">
            <option value="0" disabled selected="selected" hidden> -= Select notifications =-</option>
            <option *ngFor="let no of notificationTypes" value="{{no.id}}">{{no.name}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
            <div class="custom-control custom-checkbox">
          <input [(ngModel)]="form.acceptNotification" name="acceptNotification" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Accepts marketing notifications</label>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-5 col-md-12">
      <ngb-tabset>
        <ngb-tab title="Personal Info">
          <ng-template ngbTabContent>

              <div class="row form-group">
                  <div class="col-sm-6">
                    <label class="control-label">{{'Gender' }}</label>
                    <select [(ngModel)]="form.gender" name="gender" class="form-control" #gender="ngModel" >
                      <option *ngFor="let gen of genders" value="{{gen.id}}">{{gen.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <label class="control-label">{{'Referral source' }}</label>
                    <select [(ngModel)]="form.referral" name="referral" class="form-control">
                      <option *ngFor="let re of referralSources" value="{{re.id}}">{{re.name}}</option>
                    </select>
                  </div>
                </div>

              <div class="row form-group">
                <div class="col-md-12 col-sm-12">
                  <label class="control-label">Birthday</label>
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <select [(ngModel)]="birthday.month" name="month" class="form-control"(change)="selectMonth()">
                        <option value="" selected="selected" disabled="disabled" hidden>Select Month</option>
                        <option *ngFor="let m of month" value="{{m.id}}">{{m.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <select [(ngModel)]="birthday.day" name="day" class="form-control" (change)="selectDay()">
                        <option value="" selected="selected" disabled="disabled" hidden>Select Day</option>
                        <option *ngFor="let d of day" value="{{d.id}}">{{d.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <a href="javascript:void(0);" *ngIf="!setYear" (click)="showYear()">Set Year</a>
                      <select [(ngModel)]="birthday.year" name="year" class="form-control" *ngIf="setYear" (change)="selectYear()">
                        <option value="" selected="selected" disabled="disabled" hidden>Select Year</option>
                        <option *ngFor="let y of year" value="{{y.id}}">{{y.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Client notes</label>
                    <div class="input-group">
                      <textarea [(ngModel)]="form.notes" name="notes" class="form-control input-underline input-lg" #notes="ngModel" placeholder="Client notes"rows="4"></textarea>
                    </div>
                  </div>
                </div>

              <div class="row form-group">
                  <div class="col-sm-12">
                      <div class="custom-control custom-checkbox">
                          <input [(ngModel)]="form.displayAllBooking" name="display-all" type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label" for="customCheck2">Display on all bookings</label>
                        </div>
                  </div>
                </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Address">
          <ng-template ngbTabContent>
              <div class="row form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">A</div>
                      </div>
                      <input [(ngModel)]="form.address" placeholder="Address" class="form-control" name="address" [(ngModel)]="model" #address="ngModel">
                    </div>
                  </div>
                </div>
              <div class="row form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Suburb</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">S</div>
                      </div>
                      <input [(ngModel)]="form.suburb" placeholder="Suburb" class="form-control" name="suburb" [(ngModel)]="model" #suburb="ngModel">
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                      <label class="control-label">City</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">C</div>
                        </div>
                        <input [(ngModel)]="form.city" placeholder="City" class="form-control" name="city" [(ngModel)]="model" #city="ngModel">
                      </div>
                    </div>
            
                    <div class="col-sm-6">
                      <label class="control-label">State</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">S</div>
                        </div>
                        <input [(ngModel)]="form.state" placeholder="State" class="form-control" name="state" [(ngModel)]="model" #state="ngModel">
                      </div>
                    </div>
                  </div>

                  <div class="row form-group">
                      <div class="col-sm-12">
                        <label class="control-label">Zip / Post Code</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">Z</div>
                          </div>
                          <input [(ngModel)]="form.zip_postcode" placeholder="Zip / Post Code" class="form-control" name="zip_postcode" [(ngModel)]="model" #zip_postcode="ngModel">
                        </div>
                      </div>
                    </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white pull-right" (click)="goBack()"><i class="fa fa-close"></i> Cancel </button>
    <button type="submit" class="btn btn-black pull-right" (click)="onSubmit()"><i class="fa fa-plus"></i> Save </button>
  </div>
</form>