<form class="modal-content" style="border: none" #f="ngForm">
  <div class="modal-header">
    <h4 class="modal-title col-sm-4 offset-sm-4">New Client</h4>
  </div>

  <div class="modal-body row form-content">
    <div class="col-md-5 offset-md-1 client-left-content">
      <div class="row form-group">
        <div class="col-sm-6">
          <label class="control-label">First Name <strong>*</strong></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">F</div>
            </div>
            <input [(ngModel)]="form.firstName" type="text" required text class="form-control input-underline input-lg" name="firstName" placeholder="First Name" [ngModelOptions]="{updateOn: 'blur'}" #firstName="ngModel" #firstName>
          </div>
          <small class="form-text text-danger " *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">Invaild firstName !</small>
        </div>
        <div class="col-sm-6">
          <label class="control-label">Last Name <strong>*</strong></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">L</div>
            </div>
            <input [(ngModel)]="form.lastName" type="text" name="lastName" class="form-control input-underline input-lg" placeholder="Last Name" required text #lastName="ngModel" [ngModelOptions]="{updateOn: 'blur'}" #lastName>
          </div>
          <small class="form-text text-danger " *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">Invaild lastName !</small>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-6">
          <label class="control-label">Mobile <strong>*</strong></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">M</div>
            </div>
            <input [(ngModel)]="form.mobile" type="text" name="mobile" class="form-control input-underline input-lg" placeholder="Mobile" required text #mobile="ngModel" [ngModelOptions]="{updateOn: 'blur'}" minlength="9" maxlength="12" pattern="^[0-9]{9,12}$" #mobileChild>
          </div>
          <small class="form-text text-danger" *ngIf="!mobile.valid && (mobile.dirty || mobile.touched || mobile.pattern)">Mobile number length must be between 9 and 11 (Number Only)!</small>
        </div>

        <div class="col-sm-6">
          <label class="control-label">Telephone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">T</div>
            </div>
            <input [(ngModel)]="form.telephone" type="text" name="telephone" class="form-control input-underline input-lg" placeholder="Telephone" #telephone="ngModel" minlength="1" maxlength="12" pattern="^[0-9]{1,12}$">
          </div>
          <small class="form-text text-danger" *ngIf="!telephone.valid">Number Only!</small>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
          <label class="control-label">Email <strong>*</strong></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input [(ngModel)]="form.email" type="email" name="email" class="form-control input-underline input-lg" placeholder="Email" #email required email #email="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
          </div>
          <small class="form-text text-danger " *ngIf="!email.valid && (email.dirty || email.touched)">Invaild Email !</small> 
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
          <label class="control-label">{{'Send notifications by' }}</label>
          <select [(ngModel)]="form.notificationType" name="notificationType" class="form-control" #notificationType="ngModel">
            <option value="0" disabled selected="selected" hidden> -= Select notifications =-</option>
            <option *ngFor="let no of notificationTypes" value="{{no.id}}">{{no.name}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-sm-12">
            <div class="custom-control custom-checkbox">
          <input [(ngModel)]="form.acceptNotification" name="acceptNotification" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Accepts marketing notifications</label>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-5">
      <ngb-tabset>
        <ngb-tab title="Personal Info">
          <ng-template ngbTabContent>

              <div class="row form-group">
                  <div class="col-sm-6">
                    <label class="control-label">{{'Gender' }}</label>
                    <select [(ngModel)]="form.gender" name="gender" class="form-control" #gender="ngModel" >
                      <option *ngFor="let gen of genders" value="{{gen.id}}">{{gen.name}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <label class="control-label">{{'Referral source' }}</label>
                    <select [(ngModel)]="form.referral" name="referral" class="form-control">
                      <option *ngFor="let re of referralSources" value="{{re.id}}">{{re.name}}</option>
                    </select>
                  </div>
                </div>

              <div class="row form-group">
                <div class="col-md-6 col-sm-12">
                  <label class="control-label">Birthday</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">B</div>
                    </div>
                    <input type="text" placeholder="MM-dd" class="form-control" name="birthday" [(ngModel)]="form.birthday" #birthday="ngModel" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" (ngModelChange)="selectDate($event)" [navigation]="navigation">
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <label class="control-label">Year</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Y</div>
                    </div>
                    <input [(ngModel)]="form.birthdayYear" type="text" placeholder="yyyy" class="form-control" name="birthdayYear" #birthdayYear="ngModel">
                  </div>
                </div>
              </div>

              <div class="row form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Client notes</label>
                    <div class="input-group">
                      <textarea [(ngModel)]="form.notes" name="notes" class="form-control input-underline input-lg" #notes="ngModel" placeholder="Client notes"rows="4"></textarea>
                    </div>
                  </div>
                </div>

              <div class="row form-group">
                  <div class="col-sm-12">
                      <div class="custom-control custom-checkbox">
                          <input [(ngModel)]="form.displayAllBooking" name="display-all" type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label" for="customCheck2">Display on all bookings</label>
                        </div>
                  </div>
                </div>

          </ng-template>
        </ngb-tab>
        <ngb-tab title="Address">
          <ng-template ngbTabContent>
              <div class="row form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">A</div>
                      </div>
                      <input [(ngModel)]="form.address" placeholder="Address" class="form-control" name="address" [(ngModel)]="model" #address="ngModel">
                    </div>
                  </div>
                </div>
              <div class="row form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Suburb</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">S</div>
                      </div>
                      <input [(ngModel)]="form.suburb" placeholder="Suburb" class="form-control" name="suburb" [(ngModel)]="model" #suburb="ngModel">
                    </div>
                  </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-6">
                      <label class="control-label">City</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">C</div>
                        </div>
                        <input [(ngModel)]="form.city" placeholder="City" class="form-control" name="city" [(ngModel)]="model" #city="ngModel">
                      </div>
                    </div>
            
                    <div class="col-sm-6">
                      <label class="control-label">State</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">S</div>
                        </div>
                        <input [(ngModel)]="form.state" placeholder="State" class="form-control" name="state" [(ngModel)]="model" #state="ngModel">
                      </div>
                    </div>
                  </div>

                  <div class="row form-group">
                      <div class="col-sm-12">
                        <label class="control-label">Zip / Post Code</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">Z</div>
                          </div>
                          <input [(ngModel)]="form.zip_postcode" placeholder="Zip / Post Code" class="form-control" name="zip_postcode" [(ngModel)]="model" #zip_postcode="ngModel">
                        </div>
                      </div>
                    </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white pull-right" (click)="goBack()"><i class="fa fa-close"></i> Cancel </button>
    <button type="submit" class="btn btn-black pull-right" (click)="onSubmit()"><i class="fa fa-plus"></i> Save </button>
  </div>
</form>