<div [@routerTransition]>
<div class="row">
  <div class="col-lg-12 col-md-12 mb-4">
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-md-6">
            <select name="lstStaff" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="box-title">
            <div class="box-button">
              <span class="btn btn-info" (click)="prevDay()"><i class="fa fa-angle-left"></i></span>
              <span class="btn btn-info active">{{switch == 'day' ? 'Today' : 'Week'}}</span>
              <span class="btn btn-info">{{calendar}}</span>
              <span class="btn btn-info" (click)="nextDay()"><i class="fa fa-angle-right"></i></span>
            </div>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="box-button">
          <span class="btn btn-info" [ngClass]="switch == 'week' ? 'active' : ''" (click)="switchCalendar('week')"><i class="fa fa-calendar"></i>Week</span>
          <span class="btn btn-info" [ngClass]="switch == 'day' ? 'active' : ''" (click)="switchCalendar('day')"><i class="fa fa-calendar"></i>Day</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <dynamic-component [componentData]="componentData"></dynamic-component>
    <!-- <div [ngSwitch]="view">
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (hourSegmentClicked)="dayClick($event.date, content)"
        (dayHeaderClicked)="view = $event.day.date; view = 'day'"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        (hourSegmentClicked)="dayClick($event.date, content)"
      >
      </mwl-calendar-day-view>
    </div> -->
</div>
<ng-template #content let-modal>
	<add-event [_clickEvent]="_clickEvent"></add-event>
</ng-template>
</div>
