<div [@routerTransition]>
<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
<div>
    <div [ngSwitch]="view">
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (hourSegmentClicked)="dayClick($event.date, content)"
        (dayHeaderClicked)="view = $event.day.date; view = 'day'"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        (hourSegmentClicked)="dayClick($event.date, content)"
      >
      </mwl-calendar-day-view>
    </div>
</div>
<ng-template #content let-modal>
	<add-event [_clickEvent]="_clickEvent"></add-event>
</ng-template>
</div>
