<div *ngIf="number_order > 0">
<div class="_2jGgaE">
  <div>
    <div>
      <div>
        <div class="_3_Zd_x">
          <div class="_3mFAWf">
            <div class="_1XOh8M _1jFEEZ" placeholder="Search product or order" value="">
              <div class="H9L5q0">
                <input class="JOAm_M _1FszNF" placeholder="Search product or order" value="" (input)="filterItem(myInput.value)">
                <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="qNCe1U _1dzVLv"></div>
          <div class="_3T9g9r">
            <span class="_2IkdIq _26n0p2">
              <select class="_3b4Iwb">
                <option value="">Export</option>
                <option value="xlsx">Excel</option>
                <option value="csv">CSV</option>
              </select>
              <span class="_2FSeuB _240vE8 _2CXiYN _25R4LF _2hkIol">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6">
                  <path d="M5.5 4.793L10.146.146a.5.5 0 1 1 .708.708l-5 5a.5.5 0 0 1-.708 0l-5-5A.5.5 0 1 1 .854.146L5.5 4.793z" fill-rule="nonzero"></path>
                </svg>
              </span>
            </span>
          </div>
          <button class="_1FszNF _3ttzJg _2DZ1oJ _26WQGn _311OLi">
            <span class="_2FSeuB _240vE8 _3uXBro RCcMXQ _3vTBXo _1w3FE_">
              <svg viewBox="0 0 18 16">
                <path d="M0 2h15" stroke-linecap="round"></path>
                <circle cx="4" cy="2" r="2"></circle>
                <path d="M0 8h15" stroke-linecap="round"></path>
                <circle cx="9" cy="8" r="2"></circle>
                <path d="M0 14h15" stroke-linecap="round"></path>
                <circle cx="4" cy="14" r="2"></circle>
              </svg>
            </span>Filters
          </button>
        </div>
        <div class="_1mW557 _1DHTqT table-responsive">
          <div class="_2hndFf">
            <div>
              <div class="nsuqUP">
                <table class="_3rpc36 table table-hover">
                  <thead>
                    <tr>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Order No.</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Created Date</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Supplier</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Status</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa o5hxTP">
                        <div>Total Cost</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr class="_1A0eEb _1zQ7jO" *ngFor="let order of listorder" (click)="editOrder(edit_order, order)"> -->
                    <tr class="_1A0eEb _1zQ7jO" *ngFor="let order of listorder" [routerLink]="[ '/inventory/orders/', order.id]">
                      <td class="N3OZB6 _1vLxYz">
                        <div >P {{ order.id }}</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <div>{{ order.updated_at | date: 'dd MMM yyyy'}}</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <div>{{ order.name_supplier }}</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz" >
                        <div>
                          <span class="_1p62pX _1QLX7x _3GjCeD _2-xB9j0 _2okolH" style="background-color: #F5A623;color: white;" *ngIf="order.status_order == 1 || order.status_order == 2" >ORDERED</span>
                          <span class="_1p62pX _1QLX7x _3GjCeD _2-xB9j0 _2okolH" style="background-color: rgb(35, 245, 123);color: white;" *ngIf="order.status_order == 3" >RECEIVED</span>
                          <span class="_1p62pX _1QLX7x _3GjCeD _2-xB9j0 _2okolH" style="background-color: rgb(245, 35, 35);color: white;" *ngIf="order.status_order == 0" >CANCELED</span>
                        </div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <span class="_2V5qqW" >${{ order.total_price }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="wADsrH">
          <div class="_3Cd6wq">
            <ng-container *ngIf="number_order == 1; else elseTemplate">
                <div class="_3oGeTh">Displaying
                    <b class="_2P0kb0">{{number_order}}</b>orders
                  </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="_3oGeTh">Displaying all
                    <b class="_2P0kb0">{{number_order}}</b>orders
                  </div>
            </ng-template>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="_1nM1bd" data-qa="loader-spinner-container">
  <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
</div>
<!-- <div class="rTWbSm">
  <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_" (click)="openModal(content)" ngbTooltip="New Order" placement="left">
    <span class="_2FSeuB _240vE8 RCcMXQ">
      <i class="fa fa-plus fa-1-75x"></i>
    </span>
  </button>
</div> -->
<div class="row">
    <div id="inbox" class="product">
      <div class="fab btn-group show-on-hover dropup">
        <div data-toggle="tooltip" data-placement="left" title="Compose">
          <button type="button" class="btn btn-black btn-io" data-toggle="dropdown">
            <span class="fa-stack fa-1-75-x">
              <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
            </span>
          </button>
        </div>
        <!-- <ul class="dropdown-menu dropdown-menu-right" role="menu" (click)="openModal(content)"> -->
        <ul class="dropdown-menu dropdown-menu-right" role="menu" [routerLink]="[ '/inventory/order/new-order' ]">
          <li>
            <span>
              <i class="fa fa-archive"></i>
            </span>
            <div class="tooltip_group">New Order</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="number_order == 0" class="aa">
  <div class="text-center" style="margin-top: 30px;">
      <div class="dd"><span class="da"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M23 47H7c-1.7 0-3-1.3-3-3V13v-.2l2-7.9V3c0-1.7 1.3-3 3-3h12c1.7 0 3 1.3 3 3v1.9l2 7.9V44c0 1.7-1.3 3-3 3zM6 13.1V44c0 .6.4 1 1 1h16c.6 0 1-.4 1-1V13.1l-2-7.9V3c0-.6-.4-1-1-1H9c-.6 0-1 .4-1 1v2.2l-2 7.9z"></path><path d="M5 12h20v2H5zM7 4h16v2H7zM41 47H23v-2h18c.6 0 1-.4 1-1V32.2l-1.9-5.8c0-.1-.1-.2-.1-.3v-2c0-.6-.4-1-1-1H26v-2h13c1.7 0 3 1.3 3 3v1.8l1.9 5.8c0 .1.1.2.1.3v12c0 1.7-1.3 3-3 3z"></path><path d="M26 25h15v2H26zM26 31h17v2H26zM25 36H15c-.6 0-1-.4-1-1V20c0-.6.4-1 1-1h9v2h-8v13h9v2zM38 41h-9c-.6 0-1-.4-1-1v-4c0-.6.4-1 1-1h9c.6 0 1 .4 1 1v4c0 .6-.4 1-1 1zm-8-2h7v-2h-7v2z"></path></svg></span></div>
    <h3 class="text-capitalize p2">Manage Stock Orders</h3>
    <p class="p1">Send purchase orders directly to your suppliers <br>
      and effortlessly receive new stock deliveries</p>
    <div class="dv1" style="display: flex; flex-direction: row; flex-grow: 1;">
      <button class="btn btn-black cus" type="button" (click)="openModal(content)">NEW
            ORDER</button>
    </div>
  </div>
</div>

