<ng-container *ngIf="!hasProduct; else listdata">
  <div class="text-center" style="margin-top: 30px;">
    <h1><i class="fa fa-product-hunt"></i></h1>
    <h3 class="text-capitalize">Add New Products</h3>
    <p>Have you got stuff you want to sell? No sweat -</p>
    <p>you can add your retail products here and sell them</p>
    <p>with an existing appointment or as one-off items. Too easy!</p>
    <button class="btn btn-black" type="button" [routerLink]="[ '/inventory/products/add' ]">Add
      product</button>
  </div>
</ng-container>

<ng-template #listdata>
  <div class="card card-custom mb-3">
      <div class="card-header card-filter">
        <div style="display: flex">
          <select name="brand" class="form-control du" [(ngModel)]="brandId">
              <option value=0>All brands</option>
              <option value={{brand.id}} *ngFor="let brand of brands" selected>
                  {{brand.name_brand}}</option>
          </select>
          <select name="category" class="form-control du" [(ngModel)]="categoryId">
              <option value=0>All categories</option>
              <option value={{category.id}} *ngFor="let category of categories" selected>
                  {{category.name_category}}</option>
          </select>
          <select name="supplier" class="form-control du" [(ngModel)]="supplierId">
              <option value=0>All suppliers</option>
              <option value={{supplier.id}} *ngFor="let supplier of suppliers" selected>
                  {{supplier.name_supplier}}</option>
          </select>
          <button class="btn btn-light ma mr-2" (click)="searchProduct()">View</button>
          <button class="btn btn-light ma" (click)="clearFilters()">Clear filters</button>
        </div>
        <!-- <div>
            <button class="btn btn-primary pull-right" type="button" [routerLink]="[ '/inventory/products/add' ]">Add
              product</button>
        </div> -->
      </div>

    <div class="card-header mbx">
      <!-- <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-1x fa-search" style="font-size: 1.5rem"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search by name, barcode or SKU" (input)="searchProduct($event)">
          </div> -->
      <input type="text" class="form-control" style="width: 40%;" placeholder="Search by name, barcode or SKU"
        [ngModel]='keyword' (ngModelChange)='changed($event)'>
      
    </div>

    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{'Product name'}}</th>
            <th>{{'Barcode'}}</th>
            <th>{{'Retail price'}}</th>
            <th>{{'Stock on hand'}}</th>
            <th>{{'Updated at'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; index as i" [routerLink]="['/inventory/products/', product.id, 'view']">
            <td>{{product.productName}}</td>
            <td>{{product.barCode}}</td>
            <td>{{product.retailPrice}}</td>
            <td>{{product.totalOnHand}}</td>
            <td>{{product.updatedAt}}</td>
          </tr>
        </tbody>
        <!-- <tfoot *ngIf="numberList > 0">
          <tr>
            <th colspan="3">
              paging
            </th>
          </tr>
        </tfoot> -->
      </table>
    </div>
    
    <div class="on-show-display">
      <span>Displaying all {{number_display}} products</span>
    </div>
  </div>
</ng-template>
<div class="row">
  <div id="inbox" class="product">
    <div class="fab btn-group show-on-hover dropup">
      <div data-toggle="tooltip" data-placement="left" title="Compose">
        <button type="button" class="btn btn-black btn-io" data-toggle="dropdown">
          <span class="fa-stack fa-1-75-x">
            <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
          </span>
        </button>
      </div>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
          <span title="Add New Product" [routerLink]="[ '/inventory/products/add' ]">
            <i class="fa fa-archive"></i>
          </span>
          <div class="tooltip_group">New Product</div>
        </li>
      </ul>
    </div>
  </div>
</div>