<ng-container *ngIf="!hasProduct; else listdata">
  <div class="text-center" style="margin-top: 30px;">
      <div class="dd"><span class="da"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M23 47H7c-1.7 0-3-1.3-3-3V13v-.2l2-7.9V3c0-1.7 1.3-3 3-3h12c1.7 0 3 1.3 3 3v1.9l2 7.9V44c0 1.7-1.3 3-3 3zM6 13.1V44c0 .6.4 1 1 1h16c.6 0 1-.4 1-1V13.1l-2-7.9V3c0-.6-.4-1-1-1H9c-.6 0-1 .4-1 1v2.2l-2 7.9z"></path><path d="M5 12h20v2H5zM7 4h16v2H7zM41 47H23v-2h18c.6 0 1-.4 1-1V32.2l-1.9-5.8c0-.1-.1-.2-.1-.3v-2c0-.6-.4-1-1-1H26v-2h13c1.7 0 3 1.3 3 3v1.8l1.9 5.8c0 .1.1.2.1.3v12c0 1.7-1.3 3-3 3z"></path><path d="M26 25h15v2H26zM26 31h17v2H26zM25 36H15c-.6 0-1-.4-1-1V20c0-.6.4-1 1-1h9v2h-8v13h9v2zM38 41h-9c-.6 0-1-.4-1-1v-4c0-.6.4-1 1-1h9c.6 0 1 .4 1 1v4c0 .6-.4 1-1 1zm-8-2h7v-2h-7v2z"></path></svg></span></div>
    <h3 class="text-capitalize">Add New Products</h3>
    <p>Have you got stuff you want to sell? No sweat -<br>
    you can add your retail products here and sell them<br>
    with an existing appointment or as one-off items. Too easy!</p>
    <button class="btn btn-black" type="button" [routerLink]="[ '/inventory/products/add' ]">New
      product</button>
  </div>
</ng-container>

<ng-template #listdata>
  <div class="card card-custom mb-3">
      <div class="container-fluid" style="padding-left: 2rem; padding-right: 2rem;">
        <div class="row">
          <select name="brand" class="form-control col-sm-12 col-md-2 mr-2 mb-2" [(ngModel)]="brandId">
              <option value=0>All brands</option>
              <option value={{brand.id}} *ngFor="let brand of brands" selected>
                  {{brand.name_brand}}</option>
          </select>
          <select name="category" class="form-control col-sm-12 col-md-2 mr-2 mb-2" [(ngModel)]="categoryId">
              <option value=0>All categories</option>
              <option value={{category.id}} *ngFor="let category of categories" selected>
                  {{category.name_category}}</option>
          </select>
          <select name="supplier" class="form-control col-sm-12 col-md-2 mr-2 mb-2" [(ngModel)]="supplierId">
              <option value=0>All suppliers</option>
              <option value={{supplier.id}} *ngFor="let supplier of suppliers" selected>
                  {{supplier.name_supplier}}</option>
          </select>
          <div class="filter-action col-sm-12 col-md-3 mb-2">
          <button class="btn btn-light mr-2" (click)="searchProduct()">View</button>
          <button class="btn btn-light" (click)="clearFilters()">Clear filters</button>
        </div>
        </div>
        <div class="row">
          <input type="text" class="form-control col-sm-12 col-md-4" placeholder="Search by name, barcode or SKU"
        [ngModel]='keyword' (ngModelChange)='changed($event)'>
        </div>
      </div>

    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{'Product name'}}</th>
            <th>{{'Barcode'}}</th>
            <th>{{'Retail price'}}</th>
            <th>{{'Stock on hand'}}</th>
            <th>{{'Updated at'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; index as i" [routerLink]="['/inventory/products/', product.id, 'view']">
            <td>{{product.productName}}</td>
            <td>{{product.barCode}}</td>
            <td>{{product.retailPrice}}</td>
            <td>{{product.totalOnHand}}</td>
            <td>{{product.updatedAt | date: 'dd MMM yyyy'}}</td>
          </tr>
        </tbody>
        <!-- <tfoot *ngIf="numberList > 0">
          <tr>
            <th colspan="3">
              paging
            </th>
          </tr>
        </tfoot> -->
      </table>
    </div>

    <div class="on-show-display">
      <span>Displaying all {{number_display}} products</span>
    </div>
  </div>
  <div class="row">
      <div id="inbox" class="product">
        <div class="fab btn-group show-on-hover dropup">
          <div data-toggle="tooltip" data-placement="left" title="Compose">
            <button type="button" class="btn btn-black btn-io" data-toggle="dropdown">
              <span class="fa-stack fa-1-75-x">
                <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
              </span>
            </button>
          </div>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>
              <span title="Add New Product" [routerLink]="[ '/inventory/products/add' ]">
                <i class="fa fa-archive"></i>
              </span>
              <div class="tooltip_group">New Product</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

</ng-template>
