<section class="nav-tabs-container">
    <ul class="nav nav-pills nav-main" role="tablist">
  
        <li class="">
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/button" routerLinkActive="active">Booking Button</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/facebook" routerLinkActive="active">Facebook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/widget" routerLinkActive="active">Embed Widget</a>
            </li>
  
    </ul>
  </section>
  <router-outlet></router-outlet>