<div class="modal-header" style="border: none">
  <div class="title-header">
    <span>Edit Payment Type</span>
  </div>
  <div class="close">
    <span (click)="close()">x</span>
  </div>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="type_name">PAYMENT TYPE NAME</label>
    <input type="text" name="type_name" class="form-control"
           [(ngModel)]="formUpdate.type_name" #type_name="ngModel" #type_name>
  </div>
</div>
<div class="modal-footer" style="border: none">
  <span class="btn btn-delete pull-left" (click)="deleteModal(remove_businessType)">Delete</span>
  <span class="btn btn-black pull-right" (click)="onSubmit()">Save</span>
  <span class="btn btn-white pull-right" (click)="close()">Cancel</span>
</div>
<div class="row">
  <ng-template #remove_businessType let-c="close" let-d="dismiss">
    <div class="group-service">
      <div class="modal-header">
        <h4 class="modal-title" style="width:90%;display: block;">Delete Referral Source</h4>
      </div>
      <div class="modal-body">
        <div class="box-mess-confirm">
          <p>Are you sure you want to delete this referral source?</p>
        </div>
      </div>
      <div class="modal-footer" style="border: none">
        <button type="button" class="btn btn-delete pull-right" (click)="confirmRemove()">
          Delete
        </button>
        <button type="button" class="btn btn-default pull-right" (click)="c('Cross click')">
          Cancel
        </button>
      </div>
    </div>
  </ng-template>
</div>
