/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "color-picker";
@import "switch-button";
@import "modal-custom";
@import "custom";
// @import "../../node_modules/angular-calendar/css/angular-calendar.css";
@import "../../node_modules/angular-notifier/styles";
@media print {
    .breadcrumb {
        display: none !important;
    }
}

.margin-bottom-5px {
    margin-bottom: 5px;
}
$breakpoint-iphone: 667px;
@media (max-width: $breakpoint-iphone){
  .custom-modal div {
    max-width: 100%;
    margin: -0.25rem auto;
  }
}
