<div class="login-page" [@routerTransition]>
    <ngx-loading [show]="loading" [config]="{animationType: ngxLoadingAnimationTypes.circle, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}"
      ></ngx-loading>

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular7</h1>
            <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="alert alert-danger" [hidden]="!error"> {{error}} </div>
                    <div class="form-group">
                        <input type="email" name="email" [(ngModel)]="form.email" class="form-control input-underline input-lg" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="form.password" class="form-control input-underline input-lg" placeholder="Password" required>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!loginForm.valid"> Log in </button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                <small class="float-right"><a [routerLink]="['/request-password-reset'] "> Reset Password</a></small>
            </form>
            <!-- <div class="panel panel-default">
                <div class="panel-heading text-center">Social Login </div>
        
                <div class="panel-body">
                    <a href="#" class="btn btn-primary btn-block">
                        Login with Facebook
                    </a>
                    <a href="#" class="btn btn-info btn-block">
                        Login with Twitter
                    </a>
                    <a href="#" class="btn btn-danger btn-block">
                        Login with Google
                    </a>
                    <a href="#" class="btn btn-default btn-block">
                        Login with Github
                    </a>
                    <hr>
                    <a href="#" class="btn btn-danger btn-block">
                        Login with Email
                    </a>
                </div>
            </div> -->
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="/backend/public/auth/github" class="btn btn-block btn-social btn-github btn-flat">
                  <i class="fa fa-github"></i> Sign in using Github
                </a>
                <a href="/backend/public/auth/google" class="btn btn-block btn-social btn-google btn-flat">
                  <i class="fa fa-google"></i> Sign in using Google+
                </a>
                <a href="/backend/public/auth/facebook" class="btn btn-block btn-social btn-facebook btn-flat">
                  <i class="fa fa-facebook"></i> Sign in using Facebook
                </a>
              </div>
        </div>
    </div>
    <!-- <ng-snotify class="{{style}}"></ng-snotify> -->
</div>
