.modal-content {
	border: none;
	border-radius: 0;
	.list-group {
		.list-group-item {
			border-radius: 0;
			color: #000;
			font-weight: 600;
			&:hover {
				background: #eee;
			}

			&:after {
				content: "\00bb";
			    position: absolute;
			    right: 20px;
			}
		}

		p {
			padding: 1em 2em;
    		margin-bottom: 0;

    		a {
    			text-decoration: none;

    			&:hover{
    				text-decoration: none;
    			}
    		}
		}
	}
}