<div class="modal-header">
	<div class="title-header">
		<span>Add Busines Type</span>
	</div>
	<div class="close">
		<span (click)="close()">x</span>
	</div>
</div>
<div class="modal-body">
	<div class="form-group">
		<label for="type_name">Name Business Type</label>
		<input type="text" name="type_name" class="form-control" placeholder="e.g. Tatto" [(ngModel)]="form.type_name" #type_name="ngModel" #type_name>
	</div>
</div>
<div class="modal-footer">
	<span class="btn btn-white" (click)="close()">Cancel</span>
	<span class="btn btn-black" (click)="onSubmit()">Save</span>
</div>
