<div class="row">
    <div class="col-sm-12">
        <div class="card card-custom mb-3">
            <div class="card-header">
                <button class="btn btn-primary pull-right" type="button" (click)="openCreateModal(content)">New Staff</button>
                <div ngbDropdown class="d-inline-block pull-right mr-2">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Options</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" ngbDropdownItem (click)="export('excel')">Download Excel</button>
                        <button class="dropdown-item" ngbDropdownItem (click)="export('csv')">Download CSV</button>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                    <!-- <div cdkDropList (cdkDropListDropped)="onDrop($event)">
                            <div class="box" *ngFor="let item of items" cdkDrag>{{item}}</div>
                          </div> -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>  <!-- appointment color -->
                        <th>{{'Name' | uppercase}}</th>
                        <th>{{'Mobile number' | uppercase}}</th>
                        <th>{{'Email' | uppercase}}</th>
                        <th>{{'APPOINTMENTS	' | uppercase}}</th>
                        <th>{{'USER PERMISSION' | uppercase}}</th>
                    </tr>
                    </thead>
                    <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
                    <ng-container *ngIf="!listusers">
                            <tr style="background-color: #fff; cursor: default;">
                                    <td colspan="6" style="padding-top:40px;">
                                        <div class="text-center">
                                                <h1><i class="fa fa-search fa-lg"></i></h1>
                                                <h3 class="text-capitalize">No Results Found</h3>
                                                <p>Try using different filter options to find what you're looking for</p>
                                            </div>
                                    </td>
                                </tr>
                    </ng-container>
                    <ng-container *ngIf="listusers">
                        <!-- TODO: wait for sort api cdkDrag -->
                            <tr *ngFor="let user of listusers; index as i" (click)="openUpdateModal(content, user.id)"> 
                                    <td>
                                        <span class="appoinment-color" [ngStyle]="{'background': user.appointmentColor}"></span>
                                    </td>
                                    <td>{{user.firstName}} {{user.lastName}}</td>
                                    <td>{{user.mobileNumber}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.appointmentBooking ? 'Calendar bookings enabled' : 'Calendar disabled'}}</td>
                                    <td>{{user.userPermission}}</td>
                                </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
</div>
</div>

<ng-template #content let-modal>
<div class="modal-header">
<h4 class="modal-title col-sm-4 offset-sm-4">{{isCreate ? 'New Staff' : 'Edit Staff'}}</h4>
<button type="button" class="col-sm-4 close" aria-label="Close">
  <span aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
</button>
</div>

<form #signupForm=ngForm (ngSubmit)="onSubmit()">
<div class="modal-body">

    <ngb-tabset>
    <ngb-tab title="Details">
        <ng-template ngbTabContent>
            
                <div class="col-md-12 form-content">
                <div class="row">
                  <div class="col-md-6">
                      <div class="row form-group">
                          <div class="col-sm-6">
                            <label class="control-label">First Name</label>
                            <input [(ngModel)]="form.firstName" type="text" class="form-control input-underline input-lg" name="first-name" placeholder="e.g. Jane" required>
                            <div class="alert alert-danger" [hidden]="!error.name"> {{ error.name }} </div>
                            <div class="invalid-feedback">
                                    is required
                            </div>
                        </div>
        
                        <div class="col-sm-6">
                            <label class="control-label">Last Name</label>
                            <input [(ngModel)]="form.lastName" type="text" name="last-name" class="form-control input-underline input-lg" placeholder="e.g. Doe">
                            <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12">
                        <label class="control-label">Mobile Number</label><br>
                        <!-- <input [(ngModel)]="form.mobileNumber" type="number" name="number" class="form-control input-underline input-lg" placeholder="+84 91 234 56 78"> -->
                        <ngx-intl-tel-input
                            [preferredCountries]="['gb','us']"
                            [enablePlaceholder]="true" 
                            [enableAutoCountrySelect]="true"
                            name="mobile"
                            [cssClass]="'form-control'"
                            [(ngModel)]="form.mobileNumber"></ngx-intl-tel-input>
                        <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label class="control-label">Email</label>
                            <input [(ngModel)]="form.email" type="email" name="email" class="form-control input-underline input-lg" placeholder="mail@example.com">
                            <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                            <div class="invalid-feedback">
                                    is invalid
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label class="control-label">User Permission</label><i class="fa fa-fw fa-question-circle mb-2" placement="bottom" ngbTooltip="When saved, this staff member will receive email instructions to setup their own login password"></i>
                            <select [(ngModel)]="form.userPermission" name="user-permission" class="form-control">
                                <option *ngFor="let p of permissions" value={{p}} selected>{{p}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12 btn-switch">
                            <label class="switch">
                                <input type="checkbox" [(ngModel)]="form.appointmentBooking" name="appointmentBooking">
                                <span class="slider round"></span>
                            </label>
                            <label class="control-label">Enable Appointment Bookings</label>
                            <i class="fa fa-fw fa-question-circle mb-2" placement="bottom" ngbTooltip="Allows this staff member to perform client bookings on the calendar, switch off for admin staff such as receptionist"></i>
                        </div>
                    </div>

                    <div class="row form-group">
                            <div class="col-sm-12 btn-switch">
                                    <div class="color-picker" *ngIf="form.appointmentBooking">
                                            <label class="control-label">Appointment Color</label><i class="fa fa-fw fa-question-circle mb-2" placement="bottom" ngbTooltip="See your Calendar Settings page under Setup to set how colors are displayed on the calendar"></i> <br>
                                            <div class="ml-2">
                                                <ng-container *ngFor="let color of colors; index as i">
                                                    <input [(ngModel)]="form.appointmentColor" type="radio" name="color-appointment" id="{{color}}" value="{{color}}" />
                                                    <label for="{{color}}"><span class="{{color}}"></span></label>
                                                </ng-container>
                                            </div>
                                        </div>
                            </div>
                        </div>

                  </div>

                  <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label class="control-label">Staff Title</label>
                            <input [(ngModel)]="form.staffTitle" type="text" name="staff-title" class="form-control input-underline input-lg"
                                placeholder="Add staff title (i.e. Hairdresser) viewable in online booking only (optional)">
                            <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label class="control-label">Notes</label>
                            <textarea class="form-control form-text-area" [(ngModel)]="form.notes" name="notes"
                                placeholder="Add private notes viewable in staff settings only (optional)" rows="9"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label class="control-label">Employment Start Date</label>
                            <input class="form-control" placeholder="Select date" (click)="dst.open()" readonly
                                name="start-date" [(ngModel)]="form.employmentStartDate" ngbDatepicker #dst="ngbDatepicker">
                            <!-- <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="dst.toggle()" type="button"></button>
                            </div> -->
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Employment End Date</label>
                            <input class="form-control" placeholder="Select date" (click)="de.open()" readonly
                                name="end-date" [(ngModel)]="form.employmentEndDate" ngbDatepicker #de="ngbDatepicker">
                            <!-- <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="de.toggle()" type="button"></button>
                            </div> -->
                        </div>
                    </div>

                  </div>

              </div>
            </div>

        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Services</ng-template>
        <ng-template ngbTabContent>
                <p style="font-size: 12px; color: rgba(98,98,98,.55);">Assign services this staff member can perform.</p>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="select-all" [(ngModel)]="selectAll">
                <label class="custom-control-label" for="customCheck1">Select All</label>
                </div>
                <hr>
                <div class="container row">
                <div *ngFor="let sv of services" class="col-sm-6 custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name={{sv.id}} [(ngModel)]="sv.selected" id={{sv.id}}>
                        <label class="custom-control-label" for={{sv.id}}>{{sv.name_service}}</label>
                </div>
            </div>
        
                
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Commission">
        <ng-template ngbTabContent>
            
            <div class="col-sm-6">
                <form role="form">
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                                <label class="control-label">Service Commission</label>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">%</span>
                                    </div>
                                    <input [(ngModel)]="form.commissions.service" name="service" type="number" class="form-control" placeholder="0.0">
                                </div>
                        </div>
                        <div class="col-sm-6">
                                <label class="control-label">Product Commission</label>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">%</span>
                                    </div>
                                    <input [(ngModel)]="form.commissions.product" name="product" type="number" class="form-control" placeholder="0.0">
                                </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6">
                                    <label class="control-label">Voucher Sales Commission</label>
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">%</span>
                                        </div>
                                        <input [(ngModel)]="form.commissions.voucherSale" name="voucher" type="number" class="form-control" placeholder="0.0">
                                    </div>
                            </div>
                    </div>
                    </form>

                </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>
<div class="modal-footer" style="position: unset;" [ngClass]="isCreate ? '' : 'display'">
    <ng-container *ngIf="!isCreate">
        <button  type="button" class="btn btn-delete" style="justify-content: flex-start" (click)="openModalDelete(content_delete)"> Delete </button>
        <button type="button" class="btn btn-white" (click)="resetPassword()"> Send reset password email </button>
    </ng-container>
    <div class="pull-right">
        <button type="button" class="btn btn-white mr-2" (click)="modal.dismiss('Cancel click')"> Cancel </button>
        <button type="submit" class="btn btn-black"> Save </button>
    </div>
</div>
</form>
</ng-template>
<ng-template #content_delete let-c="close" let-d="dismiss">
    <div class="box-delete">
        <div class="modal-header">
            <h5 class="modal-title">Delete Employee</h5>
            <button type="button" class="close" aria-label="Close" (click)="c('Cancel click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this employee?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white pull-right" (click)="d('Cancel click')"> Cancel </button>
            <button type="button" class="btn btn-delete" (click)="deleteStaff()">Delete</button>
        </div>
    </div>
</ng-template>