$blue: #007FC9;

.no-shift:not(.closed) {
    vertical-align: middle;
    cursor: pointer;

    &::after {
        text-align: center;
        content: '+';
        display: block;
        font-size: 2em;
        color: #626262;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &:hover::after {
        opacity: 1;
    }
}

.work-hour {
    cursor: pointer;

    &:not(.closed):hover div {
        background: lighten($blue, 10%);
    }
    
    div {
        color: #FFF;
        background-color: $blue;
        padding: 10px;
        text-align: center;
    }
}

.week-picker {
    .btn {
        border: 1px solid #ced4da;
    }

    input {
        cursor: pointer;
    text-align: center;
    background-color: white;
    max-width: 200px;
    }
}


.closed {
    cursor: default;

    div {
        background-color: #24334A;
        color: #FFF;
        padding: 10px;
    }
}

.header-closed{
    border: none;
    background: none;
}

.custom-select {
    width: 100%;
}

.close-shift-2 {
    position: absolute;
    width: 28px;
    right: 20px;
    top: 15%;
    background-color: white;
    color:black;
    font-weight: bolder;
    border: none;
    outline: none;
    cursor: pointer;
}

$breakpoint-iphone: 667px;
//desktop
@media (min-width: $breakpoint-iphone) {
  
}

//mobile
@media (max-width: $breakpoint-iphone) {
  
  .modal-footer {
        position: sticky;
        width: 100%;
    }
}

