<div class="card card-custom mb-3">
  <div class="card-header row">
    <select [(ngModel)]="staffFilter" (ngModelChange)='changeStaff($event)' class="custom-select col-lg-2 col-md-3 col-sm-12">
      <option value=0 selected>All Staff</option>
      <option value={{staff.staffId}} *ngFor="let staff of allSchedules">{{staff.staffName}}</option>
    </select>
    <div class="col-md-1 col-sm-12"><p></p></div>
    <div class="week-picker col-md-6 col-sm-12 justify-content-end" style="display: flex;">
      <button class="btn btn-light ma" (click)="prevWeek()">&lt;</button>
      <button class="btn btn-light ma" (click)="changeWeek()">Today</button>
      <input class="form-control" (click)="week_picker.open()" readonly
          name="week-picker" [(ngModel)]="currentWeekModel" (ngModelChange)="changeWeek($event)" ngbDatepicker #week_picker="ngbDatepicker">
      <button class="btn btn-light ma mr-2" (click)="nextWeek()">&gt;</button>
    </div>
  </div>

  <div class="card-body table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="header-closed"></th>
          <th *ngFor="let cd of weekdays" [ngClass]="{'closed': cd.isClosed, 'header-closed': true}">
            <div placement="top" ngbTooltip={{cd.closedReason}} container="body">{{cd.isClosed ? 'CLOSED' : ''}}</div>
          </th>
        </tr>
        <tr>
        <th class="head-col">Staff</th>
        <th *ngFor="let day of weekdays">{{day.dateString}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sche of schedules">
          <th class="head-col" style="vertical-align: middle">
            <div style="font-weight: 700; margin-bottom: 5px;">{{sche.staffName}}</div>
            <div style="font-weight: normal;">{{sche.weeklyHours > 0 ? sche.weeklyHours + 'h'  : 'Not working'}}</div>
          </th>
          <ng-container *ngFor="let w of sche.weekSchedule">
            <ng-container *ngIf="w.isNew; else work_hour">
              <td (click)="w.isClosed || openScheduleModal(edit_work_hour, w)"
                [ngClass]="{'no-shift': true, 'closed': w.isClosed}"></td>
            </ng-container>
            <ng-template #work_hour>
              <td [ngClass]="{'work-hour': true, 'closed': w.isClosed}" (click)="w.isClosed || openScheduleModal(edit_work_hour, w)">
                <div placement="top" ngbTooltip={{w.closedReason}} class="mb-2" >{{w.shiftStart1.hour | number: '2.0-0'}}:{{w.shiftStart1.minute | number: '2.0-0'}} - {{w.shiftEnd1.hour | number: '2.0-0'}}:{{w.shiftEnd1.minute | number: '2.0-0'}}</div>
                <div placement="top" ngbTooltip={{w.closedReason}} *ngIf="w.hasShift2">{{w.shiftStart2.hour | number: '2.0-0'}}:{{w.shiftStart2.minute | number: '2.0-0'}} - {{w.shiftEnd2.hour | number: '2.0-0'}}:{{w.shiftEnd2.minute | number: '2.0-0'}}</div>
              </td>
            </ng-template>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #edit_work_hour let-modal>
  <div class="modal-header">
    <h4 class="modal-title col-sm-6 offset-sm-3">Edit {{selectedSchedule.staffName}}'s Hours</h4>
    <button type="button" class="col-sm-3 close" aria-label="Close">
      <span aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
    </button>
    <br>
    <div class="col-sm-12 text-center">{{selectedSchedule.currentDate.toDateString()}}</div>
    <div *ngIf="!selectedSchedule.isValidShift" class="col-sm-12 alert alert-danger mt-3" role="alert">Shifts are overlapping</div>
  </div>


  <div class="modal-body">
    <div class="row form-group" style="flex-wrap: nowrap;">
      <div class="col-sm-6">
        <label class="control-label">SHIFT START</label><br>
        <select class="custom-select"
        [(ngModel)]="selectedSchedule.shiftStart1"
        [compareWith]="compareTimeModel"
        (ngModelChange)="selectedSchedule.validateShift()">
            <option *ngFor="let t of times" [ngValue]="t">{{t.text}}</option>
          </select>
      </div>

      <div class="col-sm-6">
        <label class="control-label">SHIFT END</label><br>
        <select class="custom-select"
        [(ngModel)]="selectedSchedule.shiftEnd1"
        [compareWith]="compareTimeModel"
        (ngModelChange)="selectedSchedule.validateShift()">
            <option *ngFor="let t of times" [ngValue]="t">{{t.text}}</option>
          </select>
      </div>
    </div>

    <ng-container *ngIf="selectedSchedule.hasShift2; else btn_add_shift_2">
      <div class="row form-group" style="flex-wrap: nowrap;">
        <div class="col-sm-6">
            <select class="custom-select"
            [(ngModel)]="selectedSchedule.shiftStart2"
            [compareWith]="compareTimeModel"
            (ngModelChange)="selectedSchedule.validateShift()">
                <option *ngFor="let t of times" [ngValue]="t">{{t.text}}</option>
              </select>
        </div>

        <div class="col-sm-6">
            <select class="custom-select"
            [(ngModel)]="selectedSchedule.shiftEnd2"
            [compareWith]="compareTimeModel"
            (ngModelChange)="selectedSchedule.validateShift()">
                <option *ngFor="let t of times" [ngValue]="t">{{t.text}}</option>
              </select>
              <button class="close-shift-2" (click)="selectedSchedule.toggleShift2()">x</button>
        </div>
      </div>
      <div *ngIf="selectedSchedule.isValidShift" class="row form-group" style="justify-content: center;">
        {{selectedSchedule.breakTime.hour + ' hour ' + selectedSchedule.breakTime.minute + ' minute'}} break time
      </div>
    </ng-container>

    <ng-template #btn_add_shift_2>
    <div class="row form-group">
      <div class="col-sm-12">
        <button class="btn btn-block btn-light" (click)="selectedSchedule.toggleShift2()">Add another shift</button>
      </div>
    </div>
  </ng-template>

    <div class="row form-group">
      <div class="col-sm-12 btn-switch">
        <label class="control-label mr-2">Repeat weekly</label>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="selectedSchedule.isRepeat" name="repeat">
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div *ngIf="selectedSchedule.isRepeat" class="row form-group">
      <div class="col-sm-12">
        <label class="control-label">END REPEAT</label>
        <select [(ngModel)]="selectedSchedule.hasEndDate" class="custom-select mb-3">
          <option value=0>Ongoing</option>
          <option value=1>Specific date</option>
        </select>
        <input *ngIf="selectedSchedule.hasEndDate == 1" class="form-control" placeholder="yyyy-mm-dd" (click)="d.open()"
          name="schedule-end" [markDisabled]="isDisabled" [(ngModel)]="selectedSchedule.scheduleEndDate" ngbDatepicker #d="ngbDatepicker">
      </div>
    </div>



  </div>

  <div class="modal-footer" style="justify-content: space-between">
    <button *ngIf="!selectedSchedule.isNew" type="button" class="btn btn-delete" (click)='onClickDeleteSchedule(confirm_override)'> Delete </button>
    <div></div>
    <div>
    <button type="button" class="btn btn-white mr-2" (click)="modal.dismiss('Cancel click')"> Cancel </button>
    <button type="submit" class="btn btn-black" (click)="onClickSaveSchedule(confirm_override)"> Save </button>
  </div>
  </div>

</ng-template>

<ng-template #confirm_override let-modal>
    <div class="modal-header">
      <h4 class="modal-title col-sm-6 offset-sm-3">Repeating Shift</h4>
    </div>
  
    <div class="modal-body">
        You {{isConfirmDeleteRepeat ? 'are deleting' : 'have edited'}} a shift that repeats weekly. {{isConfirmDeleteRepeat ? 'Deleting' : 'Updating'}} upcoming shifts will overwrite 
        {{selectedSchedule.staffName}}'s
        {{selectedSchedule.hasEndDate === 1 ? '' : 'ongoing'}} {{selectedSchedule.currentDate.toLocaleDateString('en-US', {weekday: 'long'}) }} schedule
        {{selectedSchedule.hasEndDate === 1 ? 'up to ' + selectedSchedule.scheduleEndDate.toLocaleDateString('en-US', {day: 'numeric', month: 'long', year: 'numeric'}) : '' }}
    </div>
  
    <div class="modal-footer" style="display: unset;">
        
        <ng-container *ngIf="isConfirmDeleteRepeat; else update_repeat">
          
          <button type="button" class="btn btn-success col-sm-12 mb-2" (click)="onClickDeleteUpcoming()"> Delete upcoming shifts </button>
          <button type="button" class="btn btn-info col-sm-12 mb-2" (click)="onClickDeleteThisShiftOnly()"> Delete this shift only</button>
        </ng-container>
        
        <ng-template #update_repeat>
          <button type="button" class="btn btn-success col-sm-12 mb-2" (click)="onClickUpdateUpcoming()"> Update upcoming shifts </button>
          <button type="button" class="btn btn-info col-sm-12 mb-2" (click)="onClickUpdateThisShiftOnly()"> Update this shift only</button>
        </ng-template>

        <button type="button" class="btn btn-white col-sm-12" (click)="modal.dismiss('Cancel click')"> Close </button>
    </div>
  </ng-template>
