<div class="card card-custom mb-3">
  <div class="card-header">
    <select [(ngModel)]="staffFilter" (ngModelChange)='changeStaff($event)' class="custom-select custom-select mb-3">
      <option value=0 selected>All Staff</option>
      <option value={{staff.staffId}} *ngFor="let staff of allSchedules">{{staff.staffName}}</option>
    </select>
    <div>
      <button class="btn btn-light ma" (click)="prevWeek()">Previous week</button>
      <button class="btn btn-light ma mr-2" (click)="nextWeek()">Next week</button>
    </div>
  </div>

  <div class="card-body table-responsive">
    <table class="table table-bordered">
      <thead>
        <th class="head-col">Staff</th>
        <th *ngFor="let day of weekdays">{{day.dateString}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let sche of schedules">
          <th class="head-col" style="vertical-align: middle">
            <div style="font-weight: 700; margin-bottom: 5px;">{{sche.staffName}}</div>
            <div>{{sche.weeklyHours}}</div>
          </th>
          <ng-container *ngFor="let w of sche.weekSchedule">
            <ng-container *ngIf="w.isNew; else work_hour">
              <td (click)="openModal(edit_work_hour, w)" class="no-shift"></td>
            </ng-container>
            <ng-template #work_hour>
              <td class="work-hour" (click)="openModal(edit_work_hour, w)">
                <div class="mb-2">{{w.shift1_start}} - {{w.shift1_end}}</div>
                <div *ngIf="w.hasShift2">{{w.shift2_start}} - {{w.shift2_end}}</div>
              </td>
            </ng-template>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #edit_work_hour let-modal>
  <div class="modal-header">
    <h4 class="modal-title col-sm-6 offset-sm-3">Edit {{selectedSchedule.staffName}}'s Hours</h4>
    <button type="button" class="col-sm-3 close" aria-label="Close">
      <span aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
    </button>
    <br>
    <div class="col-sm-12 text-center">{{selectedSchedule.currentDate}}</div>
  </div>


  <div class="modal-body">
    <div class="row form-group" style="flex-wrap: nowrap;">
      <div class="col-sm-6">
        <label class="control-label">SHIFT START</label>
        <ngb-timepicker [(ngModel)]="selectedSchedule.shiftStart1" [minuteStep]="5"></ngb-timepicker>
      </div>

      <div class="col-sm-6">
        <label class="control-label">SHIFT END</label>
        <ngb-timepicker [(ngModel)]="selectedSchedule.shiftEnd1" [minuteStep]="5" (ngModelChange)='selectedSchedule.updateBreakTime()'></ngb-timepicker>
      </div>
    </div>

    <ng-container *ngIf="selectedSchedule.hasShift2; else btn_add_shift_2">
      <div class="row form-group" style="flex-wrap: nowrap;">
        <div class="col-sm-6">
          <ngb-timepicker [(ngModel)]="selectedSchedule.shiftStart2" [minuteStep]="5" (ngModelChange)='selectedSchedule.updateBreakTime()' ></ngb-timepicker>
        </div>

        <div class="col-sm-5">
          <ngb-timepicker [(ngModel)]="selectedSchedule.shiftEnd2" [minuteStep]="5"></ngb-timepicker>
        </div>

        <!-- <div class="col-sm-1" style="align-self: center;">
                    <button (click)="toggleShift2()" style="background-color: white; border: none; color:red;cursor: pointer;">x</button>
                </div> -->
      </div>
      <div class="row form-group" style="justify-content: center;">
        {{selectedSchedule.breakTime.hour + ' hour ' + selectedSchedule.breakTime.minute + ' minute'}} break time
      </div>
    </ng-container>

    <ng-template #btn_add_shift_2>
    <div class="row form-group">
      <div class="col-sm-12">
        <button class="btn btn-block btn-light" (click)="selectedSchedule.toggleShift2()">Add another shift</button>
      </div>
    </div>
  </ng-template>

    <div class="row form-group">
      <div class="col-sm-12 btn-switch">
        <label class="control-label">Repeat weekly </label>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="selectedSchedule.isRepeat" name="repeat">
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div *ngIf="selectedSchedule.isRepeat" class="row form-group">
      <div class="col-sm-12">
        <label class="control-label">END REPEAT</label>
        <select class="custom-select custom-select mb-3" style="width: 100%">
          <option value=0 selected>Ongoing</option>
          <option value=1>Specific date</option>
        </select>
      </div>
    </div>



  </div>

  <div class="modal-footer">
    <button *ngIf="!selectedSchedule.isNew" type="button" class="btn btn-danger" style="justify-content: flex-start"> Delete </button>
    <button type="button" class="btn btn-light pull-right" (click)="modal.dismiss('Cancel click')"> Cancel </button>
    <button type="submit" class="btn btn-dark pull-right" (click)="saveSchedule(confirm_override)"> Save </button>
  </div>

</ng-template>

<ng-template #confirm_override let-modal>
    <div class="modal-header">
      <h4 class="modal-title col-sm-6 offset-sm-3">Repeating Shift</h4>
    </div>
  
    <div class="modal-body">
        You have edited a shift that repeats weekly. Updating upcoming shifts will overwrite {{selectedSchedule.staffName}}'s ongoing {{selectedSchedule.currentDay}} schedule
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.dismiss('Cancel click')"> Close </button>
      <button type="button" class="btn btn-success" (click)="onClickUpdateUpcoming()"> Update upcoming shifts </button>
      <button type="button" class="btn btn-info" (click)="onClickUpdateThisShiftOnly()"> Update this shift only</button>
    </div>
  
  </ng-template>