<div class="_2GveWK">
  <div class="tCGsZl" style="display: flex; flex-direction: column; flex-shrink: 1; flex-grow: 1;">
    <header class="_2MOTTd _1o_KVJ">
      <div class="qQ2mF7 _1eGgST hOEdLx _1Z2NI6">
        <h2 class="_1p62pX _2wRsul _3zrjGD _1qRCLp _1OSdXv">Create Order</h2>
        <div role="button" class="_1TG8o8 _1jCX7X _148Kg3 _27gKhW _1FszNF">
          <span class="_2FSeuB _240vE8 RCcMXQ _3G1j0F EDA0Qt" [routerLink]="['/inventory/orders']" routerLinkActive="router-link-active">
            <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 1.914L16.086 1 9 8.086 1.914 1 1 1.914 8.086 9 1 16.086l.914.914L9 9.914 16.086 17l.914-.914L9.914 9z"></path>
            </svg>
          </span>
        </div>
      </div>
    </header>
    <div class="_26Q8ey Pn9am0" style="display: flex; flex-direction: column;">
      <div class="_21M7Mi _2YZBIG" style="display: flex; flex-direction: column; flex-shrink: 0; flex-grow: 1;">
        <div class="QRuMR4 _3U302c">
          <div class="_1gvjFA">
            <div class="Oevsm9">{{ getNameSupplier(supplier) }}</div>
          </div>
          <div class="_2kNycV">
            <div class="_159PWY">Deliver To</div>
            <strong>ha noi</strong>
            <div class="_2nu-sW">Default Address</div>
            <div class="_2nu-sW">Default City</div>
          </div>
          <div class="GPGTEy">
            <div class="A-SwpO">
              <div>Order Total:</div>
              <div class="_1jHgdQ">
                <span>₫0</span>
              </div>
            </div>
            <button class="llIfVd _2fOvjP _3V6zo- _36zpTJ _2DZ1oJ">Create Order</button>
          </div>
        </div>
        <div class="_2uwdW_">
          <div class="_1p62pX _2N2XlO _2LUoF4 d7Wx_q">You haven't added any product to your order yet.</div>
          <button class="_10B5NW _1FszNF _3ttzJg _2DZ1oJ">
            <span class="_2FSeuB _240vE8 RCcMXQ _25R4LF _1w3FE_">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <path d="M26 22V8c0-1.11-.895-2-2-2-1.112 0-2 .895-2 2v14H8c-1.11 0-2 .895-2 2 0 1.112.895 2 2 2h14v14c0 1.11.895 2 2 2 1.112 0 2-.895 2-2V26h14c1.11 0 2-.895 2-2 0-1.112-.895-2-2-2H26z"></path>
              </svg>
            </span>Add Product
          </button>
        </div>
      </div>
    </div>
    <div class=""><span class="YD8xyG"></span></div>
  </div>
</div>
