<section class="nav-tabs-container">
    <ul class="nav nav-pills nav-main" role="tablist">
  
        <li class="">
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/overview" routerLinkActive="active">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/profile" routerLinkActive="active">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/channels" routerLinkActive="active">Channels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/settings" routerLinkActive="active">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/analytics" routerLinkActive="active">Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/online_booking/payments" routerLinkActive="active">Payments</a>
            </li>
  
    </ul>
  </section>
  <router-outlet></router-outlet>