<div class="shedul-app">
  <section class="main-content">
    <div class="react">
      <div class="_2uCs3H">
        <div class="_2gzTLZ">
          <div class="WCtapg">
            <div class="GVEv-Y" style="display: flex; flex-direction: column;">
              <div>
                <div class="_2jGgaE">
                  <div>
                    <div>
                      <div class="_3ggHzc">
                        <div class="_2m5494">
                          <div class="_1XOh8M _1jFEEZ" placeholder="Search by brand name" value="">
                            <div class="H9L5q0">
                              <input class="JOAm_M _1FszNF" placeholder="Search by brand name" value="" (input)="searchBrand($event)">
                              <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
                                  <path d="M21.285 19.399c1.285-1.682 2.049-3.785 2.049-6.065 0-5.523-4.477-10-10-10s-10 4.477-10 10c0 5.523 4.477 10 9.999 10 0.006 0 0.011 0 0.017 0 2.286 0 4.392-0.77 6.049-2.049l7.239 7.238c0.24 0.24 0.572 0.388 0.939 0.388 0.368 0 0.702-0.15 0.943-0.392 0.243-0.24 0.393-0.574 0.393-0.943 0-0.367-0.149-0.699-0.389-0.939l-7.238-7.239zM13.333 20.667c-4.050 0-7.333-3.283-7.333-7.333s3.283-7.333 7.333-7.333 7.333 3.283 7.333 7.333-3.283 7.333-7.333 7.333z"></path>
                                </svg>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="_2xbMaI _1dzVLv"></div>
                      </div>
                      <div class="_1mW557 _3p4ZDJ table-responsive">
                        <div class="_2hndFf">
                          <div>
                            <div class="nsuqUP">
                              <table class="_3rpc36 table table-hover">
                                <thead>
                                  <tr>
                                    <th class="_3jHaBz _1hEJSa _1DaKSp _3Y5acH _2oXRrd" [class.active]="order == 'name'" (click)="setOrder('name')">
                                      <div>Brand name</div>
                                      <span>
                                        <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1QKGAB" [hidden]="reverse">
                                          <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" >
                                            <path d="M13.762 11.316l-.48.458c-.168.15-.362.226-.585.226-.227 0-.42-.075-.578-.226L9 8.804l-3.12 2.97c-.158.15-.35.226-.577.226-.223 0-.417-.075-.584-.226l-.478-.458C4.08 11.16 4 10.976 4 10.76c0-.22.08-.404.244-.55l4.178-3.978C8.576 6.077 8.77 6 9 6c.227 0 .422.077.584.232l4.178 3.978c.16.15.238.334.238.55 0 .21-.08.397-.238.556z"></path>
                                          </svg>
                                        </span>
                                        <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" [hidden]="!reverse">
                                          <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" >
                                            <path d="M13.762 6.684l-.48-.458c-.168-.15-.362-.226-.585-.226-.227 0-.42.075-.578.226L9 9.196l-3.12-2.97C5.723 6.076 5.53 6 5.304 6c-.223 0-.417.075-.584.226l-.476.458C4.08 6.84 4 7.024 4 7.24c0 .22.08.404.244.55l4.178 3.978c.154.155.347.232.578.232.227 0 .422-.077.584-.232l4.178-3.978c.16-.15.238-.334.238-.55 0-.21-.08-.397-.238-.556z"></path>
                                          </svg>
                                        </span>
                                      </span>
                                    </th>
                                    <th class="_3jHaBz _1hEJSa _2mmSvJ _1DaKSp">
                                      <div>Products Assigned</div>
                                      <span>
                                        <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1QKGAB" >
                                          <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.762 11.316l-.48.458c-.168.15-.362.226-.585.226-.227 0-.42-.075-.578-.226L9 8.804l-3.12 2.97c-.158.15-.35.226-.577.226-.223 0-.417-.075-.584-.226l-.478-.458C4.08 11.16 4 10.976 4 10.76c0-.22.08-.404.244-.55l4.178-3.978C8.576 6.077 8.77 6 9 6c.227 0 .422.077.584.232l4.178 3.978c.16.15.238.334.238.55 0 .21-.08.397-.238.556z"></path>
                                          </svg>
                                        </span>
                                        <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" >
                                          <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.762 6.684l-.48-.458c-.168-.15-.362-.226-.585-.226-.227 0-.42.075-.578.226L9 9.196l-3.12-2.97C5.723 6.076 5.53 6 5.304 6c-.223 0-.417.075-.584.226l-.476.458C4.08 6.84 4 7.024 4 7.24c0 .22.08.404.244.55l4.178 3.978c.154.155.347.232.578.232.227 0 .422-.077.584-.232l4.178-3.978c.16-.15.238-.334.238-.55 0-.21-.08-.397-.238-.556z"></path>
                                          </svg>
                                        </span>
                                      </span>
                                    </th>
                                    <th class="_3jHaBz _1hEJSa lHijAf _1DaKSp">
                                      <div> Updated at</div>
                                      <span>
                                        <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1QKGAB" >
                                          <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.762 11.316l-.48.458c-.168.15-.362.226-.585.226-.227 0-.42-.075-.578-.226L9 8.804l-3.12 2.97c-.158.15-.35.226-.577.226-.223 0-.417-.075-.584-.226l-.478-.458C4.08 11.16 4 10.976 4 10.76c0-.22.08-.404.244-.55l4.178-3.978C8.576 6.077 8.77 6 9 6c.227 0 .422.077.584.232l4.178 3.978c.16.15.238.334.238.55 0 .21-.08.397-.238.556z"></path>
                                          </svg>
                                        </span>
                                        <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" >
                                          <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.762 6.684l-.48-.458c-.168-.15-.362-.226-.585-.226-.227 0-.42.075-.578.226L9 9.196l-3.12-2.97C5.723 6.076 5.53 6 5.304 6c-.223 0-.417.075-.584.226l-.476.458C4.08 6.84 4 7.024 4 7.24c0 .22.08.404.244.55l4.178 3.978c.154.155.347.232.578.232.227 0 .422-.077.584-.232l4.178-3.978c.16-.15.238-.334.238-.55 0-.21-.08-.397-.238-.556z"></path>
                                          </svg>
                                        </span>
                                      </span>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr class="_1A0eEb _1zQ7jO" *ngFor="let brand of listbrands">
                                    <td class="N3OZB6 _1vLxYz" (click)="openUpdateModal(content, brand.id)">{{brand.brandName}}</td>
                                    <td class="N3OZB6 _1vLxYz">
                                      <div class="_2mmSvJ">{{getNumberproduct(brand)}}</div>
                                    </td>
                                    <td class="N3OZB6 _1vLxYz">{{brand.updatetime}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="ykxCtS">
                              <div class="_3Cd6wq">
                                <div class="_3oGeTh">Displaying
                                  <b class="_2P0kb0">{{listbrands.length}}</b>product brand
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="_1nM1bd" data-qa="loader-spinner-container">
                          <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="rTWbSm">
  <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_" (click)="openCreateModal(content)">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path d="M26 22V8c0-1.11-.895-2-2-2-1.112 0-2 .895-2 2v14H8c-1.11 0-2 .895-2 2 0 1.112.895 2 2 2h14v14c0 1.11.895 2 2 2 1.112 0 2-.895 2-2V26h14c1.11 0 2-.895 2-2 0-1.112-.895-2-2-2H26z"></path>
      </svg>
    </span>
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title offset-sm-4" id="modal-basic-title">{{isCreate ? 'Add Brand' : 'Edit Brand'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #signupForm=ngForm (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <label class="font-weight-bold" style="font-size: 13px;">{{ 'brand name' | uppercase }}</label>
      <input [(ngModel)]="form.brandName" name="category" type="text" class="form-control" placeholder="e.g L'Oreal">
    </div>
    <div class="modal-footer" style="display: inline;">
      <button *ngIf="!isCreate" type="button" class="btn btn-danger" style="justify-content: flex-start" (click)="deleteBrand()"> Delete </button>
      <button type="button" class="btn btn-light pull-right" (click)="modal.dismiss('Cancel click')"> Cancel </button>
      <button type="submit" class="btn btn-dark pull-right" [disabled]="!signupForm.valid" > Save </button>
    </div>
  </form>
</ng-template>
