<div *ngIf="number_display > 0">
<div class="shedul-app">
  <section class="main-content">
    <div class="react">
      <div class="_2uCs3H">
        <div class="_2gzTLZ">
          <div class="WCtapg">
            <div class="GVEv-Y" style="display: flex; flex-direction: column;">
              <div>
                <div class="_2jGgaE">
                  <div>
                    <div>
                      <div class="_3ggHzc">
                        <div class="_2m5494">
                          <div class="_1XOh8M _1jFEEZ" placeholder="Search by brand name" value="">
                            <div class="H9L5q0">
                              <input class="JOAm_M _1FszNF" placeholder="Search by brand name" value="" (input)="searchBrand($event)">
                              <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
                                  <path d="M21.285 19.399c1.285-1.682 2.049-3.785 2.049-6.065 0-5.523-4.477-10-10-10s-10 4.477-10 10c0 5.523 4.477 10 9.999 10 0.006 0 0.011 0 0.017 0 2.286 0 4.392-0.77 6.049-2.049l7.239 7.238c0.24 0.24 0.572 0.388 0.939 0.388 0.368 0 0.702-0.15 0.943-0.392 0.243-0.24 0.393-0.574 0.393-0.943 0-0.367-0.149-0.699-0.389-0.939l-7.238-7.239zM13.333 20.667c-4.050 0-7.333-3.283-7.333-7.333s3.283-7.333 7.333-7.333 7.333 3.283 7.333 7.333-3.283 7.333-7.333 7.333z"></path>
                                </svg>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="_2xbMaI _1dzVLv"></div>
                      </div>
                      <div class="_1mW557 _3p4ZDJ table-responsive">
                        <div class="_2hndFf">
                          <div>
                            <div class="nsuqUP">
                              <table class="_3rpc36 table table-hover">
                                <thead>
                                  <tr>
                                    <th class="_3jHaBz _1hEJSa _1DaKSp _3Y5acH _2oXRrd" [class.active]="order == 'name'" (click)="setOrder('name')">
                                      <div>Brand name</div>
                                    </th>
                                    <th class="_3jHaBz _1hEJSa _2mmSvJ _1DaKSp">
                                      <div>Products Assigned</div>
                                    </th>
                                    <th class="_3jHaBz _1hEJSa lHijAf _1DaKSp">
                                      <div> Updated at</div>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr class="_1A0eEb _1zQ7jO" *ngFor="let brand of listbrands" (click)="openUpdateModal(content, brand.id)">
                                    <td class="N3OZB6 _1vLxYz" >{{brand.brandName}}</td>
                                    <td class="N3OZB6 _1vLxYz">
                                      <div class="_2mmSvJ">{{getNumberproduct(brand)}}</div>
                                    </td>
                                    <td class="N3OZB6 _1vLxYz">{{brand.updatetime}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                          </div>
                        </div>
                        <div class="_1nM1bd" data-qa="loader-spinner-container">
                          <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
                        </div>
                      </div>

                      <div class="ykxCtS">
                        <div class="_3Cd6wq">
                          <div class="_3oGeTh">Displaying
                            <b class="_2P0kb0">{{number_display}}</b>product brand
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="rTWbSm">
    <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_" (click)="openCreateModal(content)" ngbTooltip="New Brand" placement="left">
      <span class="_2FSeuB _240vE8 RCcMXQ">
          <i class="fa fa-plus fa-1-75x"></i>
      </span>
    </button>
</div>
</div>
<div *ngIf="number_display == 0">
  <div class="text-center" style="margin-top: 30px;">
    <h1><i class="fa fa-product-hunt"></i></h1>
    <h3 class="text-capitalize">Add Product Brands</h3>
    <p>Setup your brand names here, and link them to your products. Too easy! </p>
    <button class="btn btn-black" type="button" (click)="openCreateModal(content)">NEW
      BRAND</button>
  </div>
</div>
<ng-template #content let-modal>
  <div class="box-desktop">
    <div class="modal-header">
      <h4 class="modal-title offset-sm-4" id="modal-basic-title">{{isCreate ? 'Add Brand' : 'Edit Brand'}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #signupForm=ngForm (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <label class="font-weight-bold" style="font-size: 13px;">{{ 'brand name' | uppercase }}</label>
        <input [(ngModel)]="form.brandName" name="category" type="text" class="form-control" placeholder="e.g L'Oreal">
      </div>
      <div class="modal-footer" style="display: list-item;">
        <button *ngIf="!isCreate" type="button" class="btn btn-delete pull-left"(click)="openModal(delete)"> Delete </button>
        <button type="submit" class="btn btn-black pull-right" [disabled]="!signupForm.valid" > Save </button>
        <button type="button" class="btn btn-white pull-right" (click)="modal.dismiss('Cancel click')"> Cancel </button>
      </div>
    </form>
  </div>
  <div class="box-mobile" style="height: -webkit-fill-available;">
      <div class="modal-body">
        <div class="custommodal">
          <div class="custom1">
            <div class="title" style="flex-direction: column; flex-shrink: 1; flex-grow: 1;">
              <div class=" modal-header title1">
                <h4 class="titlecusom modal-title">{{isCreate ? 'Add Brand' : 'Edit Brand'}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="margin-top: 18px;">
                  <span aria-hidden="true" class="bt">&times;</span>
                </button>
              </div>
              <div class="modal-body bodys" style="display: flex; flex-direction: column;">
                <div class="main-body" style="margin-left:10px;width: 100%;">
                  <label class="labelname">Brand name</label>
                  <div class="inputs">
                    <div class="inputs1">
                        <input [(ngModel)]="form.brandName" name="category" type="text" class="form-control typeinput" placeholder="e.g L'Oreal" required text #categoryName="ngModel">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer" [ngClass]="isCreate ? '' : 'display'" style="width:100%;">
                <button *ngIf="!isCreate"  type="button" class="btn btn-delete" (click)="openModal(delete)"> Delete </button>
                <button type="submit" class="btn btn-black pull-right" [disabled]="!signupForm.valid"> Save </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-template>
<ng-template #delete let-modal>
  <div class="modal-header" [ngClass]="isCreate ? '' : 'sticky'">
    <h4 class="modal-title offset-sm-4 offset-sm-4" id="modal-basic-title">Delete Brand</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="font-size:16px;line-height: 22px;color: #67768C;">Are you sure you want to delete this brand?</div>
  </div>
  <div class="modal-footer" [ngClass]="isCreate ? '' : 'sticky'"> 
    <button *ngIf="!isCreate" type="button" class="btn btn-delete" style="justify-content: flex-start" (click)="deleteBrand()"> Delete </button>
  </div>
</ng-template>

