<div class="col-md-12 form-content">
  <div class="title-name">Create Product</div>
    <div class="row">
      <div class="col-md-6">
          <div class="row form-group">
              <div class="col-sm-12">
                <label class="control-label">PRODUCT NAME</label>
                <input  type="text" class="form-control input-underline input-lg" placeholder="e.g. Jane" required>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-12">
                <label class="control-label">CATEGORY</label>
                <select name="category" class="form-control">
                    <option selected>Select category</option>
                    <option>Two</option>
                    <option>Three</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-12">
                <label class="control-label">BRAND</label>
                <select name="brand" class="form-control">
                    <option selected>Select brand</option>
                    <option>Two</option>
                    <option>Three</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-12 btn-switch">
                <label class="control-label">Enable Retail Sales</label>
                <label class="switch" style="margin-left:120px;">
                    <input type="checkbox" name="retailsale" [(ngModel)]="retailsale">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="row form-group">
                <div class="col-sm-6 btn-switch">
                        <div class="color-picker"*ngIf="retailsale">
                                <label class="control-label">RETAIL PRICE</label> <br>
                                <ng-container>
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">$</span>
                                    </div>
                                    <input name="price" type="number" class="form-control" placeholder="0.0">
                                  </div>
                                </ng-container>

                        </div>

                </div>
                <div class="col-sm-6 btn-switch">
                    <div class="color-picker"*ngIf="retailsale">
                            <label class="control-label">RETAIL PRICE</label> <br>
                            <ng-container>
                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input name="price" type="number" class="form-control" placeholder="0.0">
                              </div>
                            </ng-container>

                    </div>

              </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12" style="margin-top: -40px;" *ngIf="retailsale">
                    <label class="control-label">TAX<span style="font-size: 12px; color: rgba(98,98,98,.55);">  Included in prices</span></label>
                    <select name="brand" class="form-control">
                        <option selected>Default: No tax</option>
                        <option>No Tax</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12" style="margin-top:10px;" *ngIf="retailsale">
                    <label class="dX40sN _1_jtQh" data-qa="undefined-label">
                      <input class="_190Ggi" type="checkbox" style="margin-right:10px;">
                      <div class="_176wG2" style="display: flex; flex-direction: column; flex-grow: 1;">
                        <span class="_1p62pX _2dGqEF tHvQyk -LDB_y">Enable commission</span>
                        <div class="_1p62pX _2KgpY7 _2ScRLU">Calculate staff commissions when this product is sold</div>
                      </div>
                    </label>

                </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-12" *ngIf="!retailsale" style="margin-top:-95px;margin-left: 20px;">
                Switch on "Enable Retail Sales" to sell this product at checkout.
              </div>
            </div>

      </div>

      <div class="col-md-6">
        <div class="row form-group">
            <div class="col-sm-6">
                <label class="control-label">BARCODE<span style="font-size: 12px; color: rgba(98,98,98,.55);">  (ISBN,UPC,etc.)</span></label>
                <input  type="text"  class="form-control input-underline input-lg"
                    placeholder="e.g. 123ABC">
            </div>
            <div class="col-sm-6">
                <label class="control-label">SKU<span style="font-size: 12px; color: rgba(98,98,98,.55);">  Stock Keeping Unit</span></label>
                <input  type="text"  class="form-control input-underline input-lg"
                    placeholder="e.g. 123ABC">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-12">
                <label class="control-label">DESCRIPTION</label>
                <textarea class="form-control form-text-area"
                  placeholder="e.g. the world's most spectacular product" rows="5"></textarea>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12 btn-switch">
                <label class="control-label">Enable Stock Control</label>
                <label class="switch" style="margin-left:120px;">
                    <input type="checkbox" name="stockcontrol" [(ngModel)]="stockcontrol">
                    <span class="slider round"></span>
                </label>

            </div>
        </div>

        <div class="row form-group">
                <div class="col-sm-6 btn-switch" *ngIf="stockcontrol">
                        <div class="color-picker">
                                <label class="control-label">SUPPLY PRICE</label> <br>
                                <ng-container>
                                  <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">$</span>
                                    </div>
                                    <input name="price" type="number" class="form-control" placeholder="0.00">
                                  </div>
                                </ng-container>

                        </div>

                </div>
                <div class="col-sm-6 btn-switch" *ngIf="stockcontrol">
                    <div class="color-picker">
                            <label class="control-label">INITIAL STOCK</label> <br>
                            <ng-container>
                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input name="price" type="number" class="form-control" placeholder="0.00">
                              </div>
                            </ng-container>

                    </div>

              </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12" style="margin-top: -40px;" *ngIf="stockcontrol">
                    <label class="control-label">SUPPLIER</label>
                    <select name="brand" class="form-control">
                        <option selected>Select supplier</option>
                        <option *ngFor="let suppiler of suppliers">{{ supplier.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row form-group" style="margin-top:10px;" *ngIf="stockcontrol">
                <div class="col-sm-6 btn-switch">
                        <div class="color-picker">
                                <label class="control-label">REORDER POINT</label> <br>
                                <ng-container>
                                  <div class="form-group input-group">
                                    <input name="price" type="number" class="form-control" placeholder="0">
                                  </div>
                                </ng-container>

                        </div>

                </div>
                <div class="col-sm-6 btn-switch" *ngIf="stockcontrol">
                    <div class="color-picker">
                            <label class="control-label">REORDER QTY.</label> <br>
                            <ng-container>
                              <div class="form-group input-group">
                                <input name="price" type="number" class="form-control" placeholder="0">
                              </div>
                            </ng-container>

                    </div>

              </div>



      </div>
      <div class="row form-group" >
          <div class="col-sm-12" *ngIf="!stockcontrol" style="margin-top:-60px;margin-left: 20px;">
              Switch on 'Enable Stock Control' inventory levels for this product.
          </div>
        </div>
  </div>
</div>
<div class="fsSjRH" style="float:right;">
  <span class="YD8xyG tSvWd9 QdzXW3 _17C7ha">
    <button class="_1FszNF _3V6zo- _3zG3Wy _2DZ1oJ _26WQGn">Save</button>
    <div>
      <a class="_1FszNF _3ttzJg _3zG3Wy _2DZ1oJ _26WQGn" routerLink="/inventory/products">Cancel</a>
    </div>
    <div class="mpfCVt"></div>
  </span>
</div>
<router-outlet></router-outlet>
