<div class="modal-header" style="border: none">
	<div class="title-header">
    <h4 class="text-center">
      New Payment Type
    </h4>
	</div>
	<div class="close">
		<span (click)="close()">x</span>
	</div>
</div>
<div class="modal-body">
	<div class="form-group">
		<label for="payment_type">PAYMENT TYPE NAME</label>
		<input type="text" name="payment_type" class="form-control" placeholder="e.g. Mastercard" [(ngModel)]="form.payment_type">
	</div>
  <div class="pull-left">
  </div>
  <input type="submit" name="commit" value="Save" id="save" (click)="onSubmit()" class="btn btn-black">
  <input type="submit" name="cancel" value="Cancel" id="cancel" (click)="close()" class="btn btn-black">
</div>

