<div class="row">
    <div class="col-md-3 col-ms-12 margin-bottom-5px">
        <input class="form-control" type="text" placeholder="Search by name, e-mail or mobile number">
      </div>
      <div class="col-md-2 col-sm-12 margin-bottom-5px">
          <select class="custom-select custom-select-lg mb-3">
              <option selected>Options</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
      </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>{{'Name' | translate}}</th>
                <th>{{'Mobile number' | translate}}</th>
                <th>{{'Email' | translate}}</th>
                <th>{{'Gender' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Giang Mai</td>
              <td>123456789</td>
              <td>giang@mail.com</td>
              <td>unknown</td>
            </tr>
            <tr>
              <td>Giang Mai</td>
              <td>123456789</td>
              <td>giang@mail.com</td>
              <td>unknown</td>
            </tr>
            <tr>
              <td>Giang Mai</td>
              <td>123456789</td>
              <td>giang@mail.com</td>
              <td>unknown</td>
            </tr>
            <tr>
              <td>Giang Mai</td>
              <td>123456789</td>
              <td>giang@mail.com</td>
              <td>unknown</td>
            </tr>
        </table>
    </div>
    </div>