<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="form-group">
				<label for="appointment_color">APPOINTMENT COLORS</label>
				<select class="select form-control" name="appointment_color" id="appointment_color" [(ngModel)]="form.appointment_color">
					<option selected="selected" value="status">By booking status</option>
					<option value="service_group">By service group</option>
					<option value="employee">By staff booked</option>
				</select>
			</div>
			<div class="form-group">
				<label for="time_slot">TIME SLOT INTERVAL</label>
				<select class="select form-control" name="time_slot" id="time_slot" [(ngModel)]="form.time_slot">
					<option selected="selected" value="10">10 Minutes</option>
					<option value="15">15 Minutes</option>
					<option value="30">30 Minutes</option>
				</select>
			</div>
			<div class="form-group">
				<label for="default_view">DEFAULT VIEW</label>
				<select class="select form-control" name="default_view" id="default_view" [(ngModel)]="form.default_view">
					<option value="day">Day</option>
					<option selected="selected" value="week">Week</option>
				</select>
			</div>
			<div class="form-group">
				<label for="week_start_day">WEEK START DAY</label>
				<select class="select form-control" name="week_start_day" id="week_start_day" [(ngModel)]="form.week_start_day">
					<option value="sunday">Sunday</option>
					<option selected="selected" value="monday">Monday</option>
					<option value="tuesday">Tuesday</option>
					<option value="wednesday">Wednesday</option>
					<option value="thursday">Thursday</option>
					<option value="friday">Friday</option>
					<option value="saturday">Saturday</option>
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-black">Save Changes</button>
			</div>
		</div>
	</div>	
</div>