<div class="modal-header">
	<div class="title-header">
		<span>Edit Busines Type</span>
	</div>
	<div class="close">
		<span (click)="close()">x</span>
	</div>
</div>
<div class="modal-body">
	<div class="form-group">
		<label for="type_name">Name Business Type</label>
		<input type="text" name="type_name" class="form-control" placeholder="e.g. Downtown Branch" [(ngModel)]="formUpdate.type_name" #type_name="ngModel" #type_name>
	</div>
</div>
<div class="modal-footer">
	<span class="btn btn-delete pull-left" (click)="deleteModal(remove_businessType)">Delete</span>
	<span class="btn btn-black pull-right" (click)="onSubmit()">Save</span>
	<span class="btn btn-white pull-right" (click)="close()">Cancel</span>
</div>
<div class="row">
	<ng-template #remove_businessType let-c="close" let-d="dismiss">
        <div class="group-service">
        	<div class="modal-header">
			    <h4 class="modal-title" style="width:90%;display: block;">Delete Business Type</h4>
			    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')" style=" font-size: 3em; padding: 0px 0px 0px 0px; ">
			        <span aria-hidden="true">&times;</span>
			    </button>
			</div>
			<div class="modal-body">
				<div class="box-mess-confirm">
					<p>Are you sure you want to delete this business type?</p>
				</div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-delete pull-right" (click)="confirmRemove()">
			    	Delete
			    </button>
			</div>
        </div>
    </ng-template>
</div>
