<div class="shedul-app">
  <section class="main-content">
    <div class="react">
      <div class="_2uCs3H">
        <div class="_2gzTLZ">
          <div class="WCtapg">
            <div class="GVEv-Y" style="display: flex; flex-direction: column;">
              <div>
                <div class="_2jGgaE">
                  <div>
                    <div data-qa="supplier-list">
                      <div>
                        <div class="_134Njq">
                          <div class="iy4yLz">
                            <div class="_1XOh8M _1jFEEZ" placeholder="Search by supplier name" value="">
                              <div class="H9L5q0 col-md-12">
                                <input class="JOAm_M _1FszNF col-sm-12" placeholder="Search by supplier name" value="" (input)="searchSupplier($event)">
                                <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                                  <i class="fa fa-search" style="margin-left:-10px;"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="AMbqoV _1dzVLv"></div>
                        </div>
                        <div class="_1mW557 _1qlJRD">
                          <div class="_2hndFf">
                            <div>
                              <div class="nsuqUP table-responsive">
                                <table class="_3rpc36 table table-striped">
                                  <thead>
                                    <tr>
                                      <th class="_3jHaBz _1hEJSa _1DaKSp">
                                        <div>Supplier name</div>

                                            <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" style="margin-top:-10px;margin-left:10px">
                                                <i class="fa fa-angle-up"></i>
                                              </span>
                                              <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" style="margin-left:10px">
                                                  <i class="fa fa-angle-down"></i>
                                              </span>

                                      </th>
                                      <th class="_3jHaBz _1hEJSa">
                                        <div>Phone</div>
                                      </th>
                                      <th class="_3jHaBz _1hEJSa">
                                        <div>Email</div>
                                      </th>
                                      <th class="_3jHaBz _1hEJSa _3uGQFE _1DaKSp">
                                        <div>Products Assigned</div>

                                            <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" style="margin-top:-10px;margin-left:10px">
                                                <i class="fa fa-angle-up"></i>
                                              </span>
                                              <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" style="margin-left:10px">
                                                  <i class="fa fa-angle-down"></i>
                                              </span>
                                      </th>
                                      <th class="_3jHaBz _1hEJSa _327eWA _1DaKSp">
                                        <div>Updated at</div>
                                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" style="margin-top:-10px;margin-left:10px">
                                            <i class="fa fa-angle-up"></i>
                                          </span>
                                          <span class="_2FSeuB _240vE8 RCcMXQ _15CJet _1cBzQe" style="margin-left:10px">
                                              <i class="fa fa-angle-down"></i>
                                          </span>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody *ngFor="let supplier of listsupplier">
                                    <tr class="_1A0eEb _1zQ7jO" (click)="openUpdateModal(content, supplier.id)">
                                      <td class="N3OZB6 _1vLxYz">
                                        <div>{{supplier.name_supplier}}</div>
                                      </td>
                                      <td class="N3OZB6 _1vLxYz">
                                        <div>{{supplier.mobileNumber}}</div>
                                      </td>
                                      <td class="N3OZB6 _1vLxYz">
                                        <div>{{supplier.email}}</div>
                                      </td>
                                      <td class="N3OZB6 _1vLxYz">
                                        <div class="_3uGQFE">{{getNumberproduct(supplier)}}</div>
                                      </td>
                                      <td class="N3OZB6 _1vLxYz">
                                        <div>{{supplier.timeupdate}}</div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="PQsoKY">
                                <div class="_3Cd6wq">
                                  <div class="_3oGeTh">Displaying
                                    <b class="_2P0kb0">{{listsupplier.length}}</b>product supplier
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="_1nM1bd" data-qa="loader-spinner-container">
                            <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="rTWbSm">
    <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_" (click)="openCreateModal(content)">
      <span class="_2FSeuB _240vE8 RCcMXQ">
          <i class="fa fa-plus fa-1-75x"></i>
      </span>
    </button>
</div>


  <ng-template #content let-modal>
    <div class="modal-header">
    <h4 class="modal-title col-sm-4 offset-sm-4">{{isCreate ? 'Add Supplier' : 'Edit Supplier'}}</h4>
    <button type="button" class="col-sm-4 close" aria-label="Close">
      <span aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
    </button>
    </div>

    <form #signupForm=ngForm (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="desktop">

                    <div class="col-md-12 form-content">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Supplier Details</label><br>
                        <div class="row form-group">
                            <div class="col-sm-12">
                              <label class="control-label">SUPPLIER NAME</label>
                              <input [(ngModel)]="form.name_supplier" type="text" class="form-control input-underline input-lg" name="name_supplier" placeholder="e.g. Jane" required #name_supplier="ngModel">
                              <div class="alert alert-danger" [hidden]="!error.name_supplier"> {{ error.name_supplier }} </div>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-sm-12">
                            <label class="control-label">SUPPLIER DESCRIPTION</label>
                            <textarea class="form-control form-text-area" [(ngModel)]="form.description_supplier" name="description_supplier"
                            placeholder="Add private notes viewable in staff settings only (optional)" rows="4"></textarea>
                            <div class="alert alert-danger" [hidden]="!error.description_supplier"> {{ error.description_supplier }} </div>
                          </div>
                        </div>
                        <label>Contact Information</label><br>
                        <div class="col-sm-12">
                          <div class="row form-group">
                            <div class="col-sm-6">
                              <label class="control-label">First Name</label>
                              <input [(ngModel)]="form.firstName" type="text" class="form-control input-underline input-lg" name="firstName" placeholder="e.g. Jane" required #firstName="ngModel">
                              <div class="alert alert-danger" [hidden]="!error.firstName"> {{ error.firstName }} </div>
                            </div>

                            <div class="col-sm-6">
                                <label class="control-label">Last Name</label>
                                <input [(ngModel)]="form.lastName" type="text" name="lastName" class="form-control input-underline input-lg" placeholder="e.g. Doe">
                                <div class="alert alert-danger" [hidden]="!error.lastName"> {{ error.lastName }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                              <div class="col-sm-6">
                                <label class="control-label">Mobile Number</label>
                                <input [(ngModel)]="form.mobileNumber" type="number" name="number" class="form-control input-underline input-lg" placeholder="+84 91 234 56 78">
                                <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                            </div>

                            <div class="col-sm-6">
                              <label class="control-label">Email</label>
                              <input [(ngModel)]="form.email" type="email" name="email" class="form-control input-underline input-lg" placeholder="mail@example.com">
                              <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-6">
                                <label class="control-label">TELEPHONE</label>
                                <input [(ngModel)]="form.telephoneNumber" type="number" name="telephoneNumber" class="form-control input-underline input-lg" placeholder="+84 91 234 56 78">
                                <div class="alert alert-danger" [hidden]="!error.telephoneNumber"> {{ error.telephoneNumber }} </div>
                            </div>
                            <div class="col-sm-6">
                              <label class="control-label">WEBSITE</label>
                              <input [(ngModel)]="form.website" type="text" name="website" class="form-control input-underline input-lg" placeholder="example.com">
                              <div class="alert alert-danger" [hidden]="!error.website"> {{ error.website }} </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-md-6">
                          <div class="col-sm-12">
                              <div class="row" *ngIf="!postal_address">
                                <div class="col-sm-6">
                                    <label>Physical Address</label><br>
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                          <label class="control-label">STREET</label>
                                          <textarea class="form-control form-text-area" [(ngModel)]="form.street" name="street"
                                          placeholder="" rows="4"></textarea>
                                          <div class="alert alert-danger" [hidden]="!error.street"> {{ error.street }} </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                      <div class="col-sm-12">
                                          <label class="control-label">SUBURB</label>
                                          <input [(ngModel)]="form.suburb" type="text" name="suburb" class="form-control input-underline input-lg" placeholder="">
                                          <div class="alert alert-danger" [hidden]="!error.suburb"> {{ error.suburb }} </div>
                                      </div>
                                    </div>
                                    <div class="row form-group">
                                      <div class="col-sm-12">
                                          <label class="control-label">CITY</label>
                                          <input [(ngModel)]="form.city" type="text" name="city" class="form-control input-underline input-lg" placeholder="">
                                          <div class="alert alert-danger" [hidden]="!error.city"> {{ error.city }} </div>
                                      </div>
                                    </div>
                                    <div class="row form-group">
                                      <div class="col-sm-12">
                                          <label class="control-label">SATE</label>
                                          <input [(ngModel)]="form.sate" type="text" name="sate" class="form-control input-underline input-lg" placeholder="">
                                          <div class="alert alert-danger" [hidden]="!error.sate"> {{ error.sate }} </div>
                                      </div>
                                    </div>
                                    <div class="row form-group">
                                      <div class="col-sm-12">
                                          <label class="control-label">ZIP / POST CODE</label>
                                          <input [(ngModel)]="form.postCode" type="number" name="postCode" class="form-control input-underline input-lg" placeholder="">
                                          <div class="alert alert-danger" [hidden]="!error.postCode"> {{ error.postCode }} </div>
                                      </div>
                                    </div>
                                    <div class="row form-group">
                                      <div class="col-sm-12">
                                        <label class="control-label">COUNTRY</label>
                                        <select [(ngModel)]="form.country" name="notificationType" class="form-control">
                                          <option value="0" disabled selected="selected" hidden> -= Select notifications =-</option>
                                          <option *ngFor="let no of notificationTypes" value="{{no.id}}">{{no.name}}</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                  <label>Postal Address</label><br>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                      <label class="control-label">STREET</label>
                                      <textarea class="form-control form-text-area" [(ngModel)]="form.street" name="street"
                                      placeholder="" rows="4"></textarea>
                                      <div class="alert alert-danger" [hidden]="!error.street"> {{ error.street }} </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                      <label class="control-label">SUBURB</label>
                                      <input [(ngModel)]="form.suburb" type="text" name="suburb" class="form-control input-underline input-lg" placeholder="">
                                      <div class="alert alert-danger" [hidden]="!error.suburb"> {{ error.suburb }} </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                      <label class="control-label">CITY</label>
                                      <input [(ngModel)]="form.city" type="text" name="city" class="form-control input-underline input-lg" placeholder="">
                                      <div class="alert alert-danger" [hidden]="!error.city"> {{ error.city }} </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                      <label class="control-label">SATE</label>
                                      <input [(ngModel)]="form.sate" type="text" name="sate" class="form-control input-underline input-lg" placeholder="">
                                      <div class="alert alert-danger" [hidden]="!error.sate"> {{ error.sate }} </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                      <label class="control-label">ZIP / POST CODE</label>
                                      <input [(ngModel)]="form.postCode" type="number" name="postCode" class="form-control input-underline input-lg" placeholder="">
                                      <div class="alert alert-danger" [hidden]="!error.postCode"> {{ error.postCode }} </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                    <label class="control-label">COUNTRY</label>
                                    <select [(ngModel)]="form.country" name="notificationType" class="form-control">
                                      <option value="0" disabled selected="selected" hidden> -= Select notifications =-</option>
                                      <option *ngFor="let no of notificationTypes" value="{{no.id}}">{{no.name}}</option>
                                    </select>
                                  </div>
                                </div>
                                </div>
                              </div><br>
                              <div *ngIf="postal_address" style="margin-top: -23px;">
                                <label>Physical Address</label><br>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                      <label class="control-label">STREET</label>
                                      <textarea class="form-control form-text-area" [(ngModel)]="form.street" name="street"
                                      placeholder="" rows="4"></textarea>
                                      <div class="alert alert-danger" [hidden]="!error.street"> {{ error.street }} </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                      <label class="control-label">SUBURB</label>
                                      <input [(ngModel)]="form.suburb" type="text" name="suburb" class="form-control input-underline input-lg" placeholder="">
                                      <div class="alert alert-danger" [hidden]="!error.suburb"> {{ error.suburb }} </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                      <label class="control-label">CITY</label>
                                      <input [(ngModel)]="form.city" type="text" name="city" class="form-control input-underline input-lg" placeholder="">
                                      <div class="alert alert-danger" [hidden]="!error.city"> {{ error.city }} </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                      <label class="control-label">SATE</label>
                                      <input [(ngModel)]="form.sate" type="text" name="sate" class="form-control input-underline input-lg" placeholder="">
                                      <div class="alert alert-danger" [hidden]="!error.sate"> {{ error.sate }} </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                      <label class="control-label">ZIP / POST CODE</label>
                                      <input [(ngModel)]="form.postCode" type="number" name="postCode" class="form-control input-underline input-lg" placeholder="">
                                      <div class="alert alert-danger" [hidden]="!error.postCode"> {{ error.postCode }} </div>
                                  </div>
                                </div>
                                <div class="row form-group">
                                  <div class="col-sm-12">
                                    <label class="control-label">COUNTRY</label>
                                    <select [(ngModel)]="form.country" name="notificationType" class="form-control">
                                      <option value="0" disabled selected="selected" hidden> -= Select notifications =-</option>
                                      <option *ngFor="let no of notificationTypes" value="{{no.id}}">{{no.name}}</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div><br>
                            <div class="row form-group">
                              <div class="col-sm-12 btn-switch">
                                <label class="control-label">SAME AS POSTAL ADDRESS </label>
                                <label class="switch" style="margin-left:120px;">
                                  <input type="checkbox" name="postal_address" [(ngModel)]="postal_address">
                                  <span class="slider round"></span>
                                </label>
                              </div>
                            </div>
                      </div>

                  </div>
                </div>
      </div>
      <div class="mobile">

          <div class="col-md-12 form-content">
              <div class="row">
                <div class="col-md-12">
                  <label>Supplier Details</label><br>
                  <div class="row form-group">
                      <div class="col-sm-12">
                        <label class="control-label">SUPPLIER NAME</label>
                        <input [(ngModel)]="form.name_supplier" type="text" class="form-control input-underline input-lg" name="name_supplier" placeholder="e.g. Jane" required #name_supplier="ngModel">
                        <div class="alert alert-danger" [hidden]="!error.name_supplier"> {{ error.name_supplier }} </div>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-sm-12">
                      <label class="control-label">SUPPLIER DESCRIPTION</label>
                      <textarea class="form-control form-text-area" [(ngModel)]="form.description_supplier" name="description_supplier"
                      placeholder="Add private notes viewable in staff settings only (optional)" rows="4"></textarea>
                      <div class="alert alert-danger" [hidden]="!error.description_supplier"> {{ error.description_supplier }} </div>
                    </div>
                  </div>
                  <label>Contact Information</label><br>
                  <div class="col-sm-12">
                    <div class="row form-group">
                      <div class="col-sm-6">
                        <label class="control-label">First Name</label>
                        <input [(ngModel)]="form.firstName" type="text" class="form-control input-underline input-lg" name="firstName" placeholder="e.g. Jane" required #firstName="ngModel">
                        <div class="alert alert-danger" [hidden]="!error.firstName"> {{ error.firstName }} </div>
                      </div>

                      <div class="col-sm-6">
                          <label class="control-label">Last Name</label>
                          <input [(ngModel)]="form.lastName" type="text" name="lastName" class="form-control input-underline input-lg" placeholder="e.g. Doe">
                          <div class="alert alert-danger" [hidden]="!error.lastName"> {{ error.lastName }} </div>
                      </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                          <label class="control-label">Mobile Number</label>
                          <input [(ngModel)]="form.mobileNumber" type="number" name="number" class="form-control input-underline input-lg" placeholder="+84 91 234 56 78">
                          <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                      </div>

                      <div class="col-sm-6">
                        <label class="control-label">Email</label>
                        <input [(ngModel)]="form.email" type="email" name="email" class="form-control input-underline input-lg" placeholder="mail@example.com">
                        <div class="alert alert-danger" [hidden]="!error.email"> {{ error.email }} </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-sm-6">
                          <label class="control-label">TELEPHONE</label>
                          <input [(ngModel)]="form.telephoneNumber" type="number" name="telephoneNumber" class="form-control input-underline input-lg" placeholder="+84 91 234 56 78">
                          <div class="alert alert-danger" [hidden]="!error.telephoneNumber"> {{ error.telephoneNumber }} </div>
                      </div>
                      <div class="col-sm-6">
                        <label class="control-label">WEBSITE</label>
                        <input [(ngModel)]="form.website" type="text" name="website" class="form-control input-underline input-lg" placeholder="example.com">
                        <div class="alert alert-danger" [hidden]="!error.website"> {{ error.website }} </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-md-12">
                    <div class="col-sm-12">
                        <div class="row" *ngIf="!postal_address">
                          <div class="col-sm-6">
                              <label>Physical Address</label><br>
                              <div class="row form-group">
                                  <div class="col-sm-12">
                                    <label class="control-label">STREET</label>
                                    <textarea class="form-control form-text-area" [(ngModel)]="form.street" name="street"
                                    placeholder="" rows="4"></textarea>
                                    <div class="alert alert-danger" [hidden]="!error.street"> {{ error.street }} </div>
                                  </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-12">
                                    <label class="control-label">SUBURB</label>
                                    <input [(ngModel)]="form.suburb" type="text" name="suburb" class="form-control input-underline input-lg" placeholder="">
                                    <div class="alert alert-danger" [hidden]="!error.suburb"> {{ error.suburb }} </div>
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-12">
                                    <label class="control-label">CITY</label>
                                    <input [(ngModel)]="form.city" type="text" name="city" class="form-control input-underline input-lg" placeholder="">
                                    <div class="alert alert-danger" [hidden]="!error.city"> {{ error.city }} </div>
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-12">
                                    <label class="control-label">SATE</label>
                                    <input [(ngModel)]="form.sate" type="text" name="sate" class="form-control input-underline input-lg" placeholder="">
                                    <div class="alert alert-danger" [hidden]="!error.sate"> {{ error.sate }} </div>
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-12">
                                    <label class="control-label">ZIP / POST CODE</label>
                                    <input [(ngModel)]="form.postCode" type="number" name="postCode" class="form-control input-underline input-lg" placeholder="">
                                    <div class="alert alert-danger" [hidden]="!error.postCode"> {{ error.postCode }} </div>
                                </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-sm-12">
                                  <label class="control-label">COUNTRY</label>
                                  <select [(ngModel)]="form.country" name="notificationType" class="form-control">
                                    <option value="0" disabled selected="selected" hidden> -= Select notifications =-</option>
                                    <option *ngFor="let no of notificationTypes" value="{{no.id}}">{{no.name}}</option>
                                  </select>
                                </div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                            <label>Postal Address</label><br>
                          <div class="row form-group">
                              <div class="col-sm-12">
                                <label class="control-label">STREET</label>
                                <textarea class="form-control form-text-area" [(ngModel)]="form.street" name="street"
                                placeholder="" rows="4"></textarea>
                                <div class="alert alert-danger" [hidden]="!error.street"> {{ error.street }} </div>
                              </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label">SUBURB</label>
                                <input [(ngModel)]="form.suburb" type="text" name="suburb" class="form-control input-underline input-lg" placeholder="">
                                <div class="alert alert-danger" [hidden]="!error.suburb"> {{ error.suburb }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label">CITY</label>
                                <input [(ngModel)]="form.city" type="text" name="city" class="form-control input-underline input-lg" placeholder="">
                                <div class="alert alert-danger" [hidden]="!error.city"> {{ error.city }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label">SATE</label>
                                <input [(ngModel)]="form.sate" type="text" name="sate" class="form-control input-underline input-lg" placeholder="">
                                <div class="alert alert-danger" [hidden]="!error.sate"> {{ error.sate }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label">ZIP / POST CODE</label>
                                <input [(ngModel)]="form.postCode" type="number" name="postCode" class="form-control input-underline input-lg" placeholder="">
                                <div class="alert alert-danger" [hidden]="!error.postCode"> {{ error.postCode }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                              <label class="control-label">COUNTRY</label>
                              <select [(ngModel)]="form.country" name="notificationType" class="form-control">
                                <option value="0" disabled selected="selected" hidden> -= Select notifications =-</option>
                                <option *ngFor="let no of notificationTypes" value="{{no.id}}">{{no.name}}</option>
                              </select>
                            </div>
                          </div>
                          </div>
                        </div><br>
                        <div *ngIf="postal_address" style="margin-top: -23px;">
                          <label>Physical Address</label><br>
                          <div class="row form-group">
                              <div class="col-sm-12">
                                <label class="control-label">STREET</label>
                                <textarea class="form-control form-text-area" [(ngModel)]="form.street" name="street"
                                placeholder="" rows="4"></textarea>
                                <div class="alert alert-danger" [hidden]="!error.street"> {{ error.street }} </div>
                              </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label">SUBURB</label>
                                <input [(ngModel)]="form.suburb" type="text" name="suburb" class="form-control input-underline input-lg" placeholder="">
                                <div class="alert alert-danger" [hidden]="!error.suburb"> {{ error.suburb }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label">CITY</label>
                                <input [(ngModel)]="form.city" type="text" name="city" class="form-control input-underline input-lg" placeholder="">
                                <div class="alert alert-danger" [hidden]="!error.city"> {{ error.city }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label">SATE</label>
                                <input [(ngModel)]="form.sate" type="text" name="sate" class="form-control input-underline input-lg" placeholder="">
                                <div class="alert alert-danger" [hidden]="!error.sate"> {{ error.sate }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                                <label class="control-label">ZIP / POST CODE</label>
                                <input [(ngModel)]="form.postCode" type="number" name="postCode" class="form-control input-underline input-lg" placeholder="">
                                <div class="alert alert-danger" [hidden]="!error.postCode"> {{ error.postCode }} </div>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-12">
                              <label class="control-label">COUNTRY</label>
                              <select [(ngModel)]="form.country" name="notificationType" class="form-control">
                                <option value="0" disabled selected="selected" hidden> -= Select notifications =-</option>
                                <option *ngFor="let no of notificationTypes" value="{{no.id}}">{{no.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div><br>
                      <div class="row form-group">
                        <div class="col-sm-12 btn-switch">
                          <label class="control-label">SAME AS POSTAL ADDRESS </label>
                          <label class="switch" style="margin-left:120px;">
                            <input type="checkbox" name="postal_address" [(ngModel)]="postal_address">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                </div>

            </div>
          </div>

      </div>
    </div>
    <div class="modal-footer" style="display: inline;">
    <button *ngIf="!isCreate" type="button" class="btn btn-danger" style="justify-content: flex-start" (click)="deletesupplier()"> Delete </button>
    <button type="button" class="btn btn-light pull-right" (click)="modal.dismiss('Cancel click')"> Cancel </button>
    <button type="submit" class="btn btn-dark pull-right" [disabled]="!signupForm.valid" > Save </button>
    </div>
    </form>
    </ng-template>
