<div *ngIf="display > 0">
  <div class="shedul-app">
    <section class="main-content">
      <div class="react">
        <div class="_2uCs3H">
          <div class="_2gzTLZ">
            <div class="WCtapg">
              <div class="GVEv-Y" style="display: flex; flex-direction: column;">
                <div>
                  <div class="_2jGgaE">
                    <div>
                      <div data-qa="supplier-list">
                        <div>
                          <div class="_134Njq">
                            <div class="iy4yLz">
                              <div class="_1XOh8M _1jFEEZ" placeholder="Search by supplier name" value="">
                                <div class="H9L5q0 col-md-12">
                                  <input class="JOAm_M _1FszNF col-sm-12" placeholder="Search by supplier name" value="" (input)="searchSupplier($event)">
                                  <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                                    <i class="fa fa-search" style="margin-left:-10px;"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="AMbqoV _1dzVLv"></div>
                          </div>
                          <div class="_1mW557 _1qlJRD">
                            <div class="_2hndFf">
                              <div>
                                <div class="nsuqUP table-responsive">
                                  <table class="_3rpc36 table table-striped">
                                    <thead>
                                      <tr>
                                        <th class="_3jHaBz _1hEJSa _1DaKSp">
                                          <div>Supplier name</div>
                                        </th>
                                        <th class="_3jHaBz _1hEJSa">
                                          <div>Phone</div>
                                        </th>
                                        <th class="_3jHaBz _1hEJSa">
                                          <div>Email</div>
                                        </th>
                                        <th class="_3jHaBz _1hEJSa _3uGQFE _1DaKSp">
                                          <div>Products Assigned</div>
                                        </th>
                                        <th class="_3jHaBz _1hEJSa _327eWA _1DaKSp">
                                          <div>Updated at</div>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody *ngFor="let supplier of listsupplier">
                                      <tr class="_1A0eEb _1zQ7jO" (click)="openUpdateModal(content, supplier.id, supplier)">
                                        <td class="N3OZB6 _1vLxYz">
                                          <div>{{supplier.name_supplier}}</div>
                                        </td>
                                        <td class="N3OZB6 _1vLxYz">
                                          <div>{{supplier.mobilenumber_supplier}}</div>
                                        </td>
                                        <td class="N3OZB6 _1vLxYz">
                                          <div>{{supplier.email_supplier}}</div>
                                        </td>
                                        <td class="N3OZB6 _1vLxYz">
                                          <div class="_3uGQFE">{{getNumberproduct(supplier)}}</div>
                                        </td>
                                        <td class="N3OZB6 _1vLxYz">
                                          <div>{{supplier.updated_at}}</div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="PQsoKY">
                                  <div class="_3Cd6wq">
                                    <div class="_3oGeTh">Displaying
                                      <b class="_2P0kb0">{{display}}</b>product supplier
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                            <div class="_1nM1bd" data-qa="loader-spinner-container">
                              <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="rTWbSm">
      <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_" (click)="openCreateModal(content)">
        <span class="_2FSeuB _240vE8 RCcMXQ">
            <i class="fa fa-plus fa-1-75x"></i>
        </span>
      </button>
  </div>
</div>
<ng-template #content let-modal>
  <add-supplier [isCreate]="isCreate" [supplier]="_eSupplier" (reloadList)="reloadList($event)"></add-supplier>
</ng-template>
<div *ngIf="display == 0">
  <div class="text-center" style="margin-top: 30px;">
    <h1><i class="fa fa-product-hunt"></i></h1>
    <h3 class="text-capitalize">Add Product Supplier</h3>
    <button class="btn btn-primary" type="button" (click)="openCreateModal(content)">NEW
      SUPPLIER</button>
  </div>
</div>