<div *ngIf="display > 0">
  <div class="shedul-app">
    <section class="main-content">
      <div class="react">
        <div class="_2uCs3H">
          <div class="_2gzTLZ">
            <div class="WCtapg">
              <div class="GVEv-Y" style="display: flex; flex-direction: column;">
                <div>
                  <div class="_2jGgaE">
                    <div>
                      <div data-qa="supplier-list">
                        <div>
                          <div class="_134Njq">
                            <div class="iy4yLz">
                              <div class="_1XOh8M _1jFEEZ" placeholder="Search by supplier name" value="">
                                <div class="H9L5q0 col-md-12">
                                  <input class="JOAm_M _1FszNF col-sm-12" placeholder="Search by supplier name" value="" (input)="searchSupplier($event)">
                                  <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                                    <i class="fa fa-search" style="margin-left:-10px;"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="AMbqoV _1dzVLv"></div>
                          </div>
                          <div class="_1mW557 _1qlJRD">
                            <div class="_2hndFf">
                              <div>
                                <div class="nsuqUP table-responsive">
                                  <table class="_3rpc36 table table-striped">
                                    <thead>
                                      <tr>
                                        <th class="_3jHaBz _1hEJSa _1DaKSp">
                                          <div>Supplier name</div>
                                        </th>
                                        <th class="_3jHaBz _1hEJSa">
                                          <div>Phone</div>
                                        </th>
                                        <th class="_3jHaBz _1hEJSa">
                                          <div>Email</div>
                                        </th>
                                        <th class="_3jHaBz _1hEJSa _3uGQFE _1DaKSp">
                                          <div>Products Assigned</div>
                                        </th>
                                        <th class="_3jHaBz _1hEJSa _327eWA _1DaKSp">
                                          <div>Updated at</div>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody *ngFor="let supplier of listsupplier">
                                      <tr class="_1A0eEb _1zQ7jO" (click)="openUpdateModal(content, supplier.id, supplier)">
                                        <td class="N3OZB6 _1vLxYz">
                                          <div>{{supplier.name_supplier}}</div>
                                        </td>
                                        <td class="N3OZB6 _1vLxYz">
                                          <div>{{supplier.mobilenumber_supplier}}</div>
                                        </td>
                                        <td class="N3OZB6 _1vLxYz">
                                          <div>{{supplier.email_supplier}}</div>
                                        </td>
                                        <td class="N3OZB6 _1vLxYz">
                                          <div class="_3uGQFE">{{getNumberproduct(supplier)}}</div>
                                        </td>
                                        <td class="N3OZB6 _1vLxYz">
                                          <div>{{supplier.updated_at}}</div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="PQsoKY">
                                  <div class="_3Cd6wq">
                                    <div class="_3oGeTh">Displaying
                                      <b class="_2P0kb0">{{display}}</b>product supplier
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                            <div class="_1nM1bd" data-qa="loader-spinner-container">
                              <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <div class="rTWbSm">
      <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_" (click)="openCreateModal(content)" ngtoo>
        <span class="_2FSeuB _240vE8 RCcMXQ">
            <i class="fa fa-plus fa-1-75x"></i>
        </span>
      </button>
  </div> -->
  <div class="row">
      <div id="inbox" class="product">
        <div class="fab btn-group show-on-hover dropup">
          <div data-toggle="tooltip" data-placement="left" title="Compose">
            <button type="button" class="btn btn-black btn-io" data-toggle="dropdown">
              <span class="fa-stack fa-1-75-x">
                <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
              </span>
            </button>
          </div>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" (click)="openCreateModal(content)">
            <li>
              <span>
                <i class="fa fa-archive"></i>
              </span>
              <div class="tooltip_group">New Supplier</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
<ng-template #content let-modal>
  <add-supplier [isCreate]="isCreate" [supplier]="_eSupplier" (reloadList)="reloadList($event)"></add-supplier>
</ng-template>
<div *ngIf="display == 0">
  <div class="text-center" style="margin-top: 30px;">
      <div class="dd"><span class="da"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M23 47H7c-1.7 0-3-1.3-3-3V13v-.2l2-7.9V3c0-1.7 1.3-3 3-3h12c1.7 0 3 1.3 3 3v1.9l2 7.9V44c0 1.7-1.3 3-3 3zM6 13.1V44c0 .6.4 1 1 1h16c.6 0 1-.4 1-1V13.1l-2-7.9V3c0-.6-.4-1-1-1H9c-.6 0-1 .4-1 1v2.2l-2 7.9z"></path><path d="M5 12h20v2H5zM7 4h16v2H7zM41 47H23v-2h18c.6 0 1-.4 1-1V32.2l-1.9-5.8c0-.1-.1-.2-.1-.3v-2c0-.6-.4-1-1-1H26v-2h13c1.7 0 3 1.3 3 3v1.8l1.9 5.8c0 .1.1.2.1.3v12c0 1.7-1.3 3-3 3z"></path><path d="M26 25h15v2H26zM26 31h17v2H26zM25 36H15c-.6 0-1-.4-1-1V20c0-.6.4-1 1-1h9v2h-8v13h9v2zM38 41h-9c-.6 0-1-.4-1-1v-4c0-.6.4-1 1-1h9c.6 0 1 .4 1 1v4c0 .6-.4 1-1 1zm-8-2h7v-2h-7v2z"></path></svg></span></div>
      <h3 class="text-capitalize ad">Add Product Suppliers</h3>
      <p class="as">Setup your product suppliers here, to keep track <br>
        of details needed for purchase orders.</p>
      <button class="btn btn-black" type="button" (click)="openCreateModal(content)">NEW
          SUPPLIER</button>
    </div>
</div>
