<div class="_2jGgaE">
  <div>
    <div>
      <div>
        <div class="_3_Zd_x">
          <div class="_3mFAWf">
            <div class="_1XOh8M _1jFEEZ" placeholder="Search product or order" value="">
              <div class="H9L5q0">
                <input class="JOAm_M _1FszNF" placeholder="Search product or order" value="">
                <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="qNCe1U _1dzVLv"></div>
          <div class="_3T9g9r">
            <span class="_2IkdIq _26n0p2">
              <select class="_3b4Iwb">
                <option value="">Export</option>
                <option value="xlsx">Excel</option>
                <option value="csv">CSV</option>
              </select>
              <span class="_2FSeuB _240vE8 _2CXiYN _25R4LF _2hkIol">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6">
                  <path d="M5.5 4.793L10.146.146a.5.5 0 1 1 .708.708l-5 5a.5.5 0 0 1-.708 0l-5-5A.5.5 0 1 1 .854.146L5.5 4.793z" fill-rule="nonzero"></path>
                </svg>
              </span>
            </span>
          </div>
          <button class="_1FszNF _3ttzJg _2DZ1oJ _26WQGn _311OLi">
            <span class="_2FSeuB _240vE8 _3uXBro RCcMXQ _3vTBXo _1w3FE_">
              <svg viewBox="0 0 18 16">
                <path d="M0 2h15" stroke-linecap="round"></path>
                <circle cx="4" cy="2" r="2"></circle>
                <path d="M0 8h15" stroke-linecap="round"></path>
                <circle cx="9" cy="8" r="2"></circle>
                <path d="M0 14h15" stroke-linecap="round"></path>
                <circle cx="4" cy="14" r="2"></circle>
              </svg>
            </span>Filters
          </button>
        </div>
        <div class="_1mW557 _1DHTqT table-responsive">
          <div class="_2hndFf">
            <div>
              <div class="nsuqUP">
                <table class="_3rpc36 table table-hover">
                  <thead>
                    <tr>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Order No.</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Created Date</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Supplier</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Status</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa o5hxTP">
                        <div>Total Cost</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="_1A0eEb _1zQ7jO" *ngFor="let order of listorder" (click)="editOrder(edit_order, order)">
                      <td class="N3OZB6 _1vLxYz">
                        <div >{{ order.id }}</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <div>{{ order.updated_at }}</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <div>{{ getNameSupplier(order.id_supplier) }}</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz" >
                        <div>
                          <span class="_1p62pX _1QLX7x _3GjCeD _2-xB9j0" style="background-color: #F5A623;color: white;" *ngIf="order.status_order == 1 || order.status_order == 2" >ORDERED</span>
                          <span class="_1p62pX _1QLX7x _3GjCeD _2-xB9j0" style="background-color: rgb(35, 245, 123);color: white;" *ngIf="order.status_order == 3" >RECEIVED</span>
                          <span class="_1p62pX _1QLX7x _3GjCeD _2-xB9j0" style="background-color: rgb(245, 35, 35);color: white;" *ngIf="order.status_order == 0" >CANCELED</span>
                        </div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <span class="_2V5qqW">{{ order.total_price }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="_1nM1bd" data-qa="loader-spinner-container">
            <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
          </div>
        </div>
        
        <div class="wADsrH">
          <div class="_3Cd6wq">
            <div class="_3oGeTh">Displaying all
              <b class="_2P0kb0">{{number_order}}</b>orders
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rTWbSm">
  <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_" (click)="openModal(content)">
    <span class="_2FSeuB _240vE8 RCcMXQ">
      <i class="fa fa-plus fa-1-75x"></i>
    </span>
  </button>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title offset-sm-4" id="modal-basic-title">Select Supplier</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="row" id="divSelectSupplier">
            <div class="col-12" style="margin-top:10px;color: #67768C;" id="titleSupplier">
              <label>Select a supplier to order product stock from</label>
            </div>
            <div class="col-12" id="divSupplier" *ngFor="let supplier of listsuppliers" >
              <div class="col-12 item-modal-wizard" (click)="openSModal(product,supplier)">
                <div class="row">
                <div class="col-6">
                  <div class="col-12">
                    <strong >{{ supplier.name_supplier }}</strong>
                  </div>
                </div>
                <div class="col-6 text-right">
                  <span><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.187 16.9c-.25.253-.25.66 0 .91.248.253.652.253.9 0l7.285-7.355c.25-.25.25-.66 0-.91L7.088 2.19c-.25-.253-.652-.253-.9 0-.25.25-.25.658-.002.91L12.83 10l-6.643 6.9z"></path>
                  </svg></span>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</ng-template>
<ng-template #product let-modal>

    <div class="modal-header">
        <h4 class="modal-title offset-sm-4" id="modal-basic-title">Create Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div class="row" id="divOrder" style="">
              <div class="col-md-12 box-desktop">
                  <div class="col-md-9">
                      <div class="card">
                          <div class="card-body" id="addOrderDetail">
                              <div class="col-md-12" id="divNoDataProduct" style="display: none;">
                                  <h1 style="font-size:24px; font-weight:300; text-align:center">You haven't added any product to your order yet.</h1>
                              </div>
                              <div class="col-md-12 table-responsive" id="divTableData">
                                  <table class="table table-hover" id="tableAddProduct">
                                      <thead>
                                          <tr>
                                              <th style="text-align:left">PRODUCT</th>
                                              <th style="text-align:left">ORDER QTY.</th>
                                              <th style="text-align:left">SUPPLY PRICE</th>
                                              <th style="text-align:left">TOTAL COST</th>
                                              <th></th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let i of items">
                                            <td>{{i.name_product}}</td>
                                            <td><input type="number" name="qty" [(ngModel)]="i.quantity" (change)="sum()"></td>
                                            <td><input type="number" name="price" [(ngModel)]="i.supplyprice_product" (change)="sum()"></td>
                                            <td><span type="number" name="total">{{i.quantity * i.supplyprice_product}}</span></td>
                                            <!-- <td>{{i.quantity * i.supplyprice_product}}</td> -->
                                            <td><button (click)="deleteProd(i)">x</button></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <div class="col-md-12" style="margin-top:20px" >
                                  <div class="col-md-4">

                                  </div>
                                  <div class="col-md-4">
                                      <button type="button" class="btn btn-block btn-outline-primary" id="btnAddProduct" (click)="openProduct(category)"><i class="fa fa-plus"></i> Add Product</button>
                                  </div>
                                  <div class="col-md-4">

                                  </div>
                              </div>
                          </div>
                          <div class="card-body" id="viewOrderDetail" style="display: none;">
                              <div class="col-md-12" id="divOrderMaster">
                                  <div class="col-md-12"><h2 id="OrderStatus" style="text-align:center"></h2></div>
                                  <div class="col-md-12" style="text-align:center"><span id="OrderRemark"></span></div>
                                  <div class="col-md-12" style="margin-top:15px">
                                      <div class="col-md-6" style="display:flex; align-items:flex-end;justify-content:flex-end"><button type="button" id="btnEmailOrder" class="btn btn-block btn-outline-secondary" style="width:150px; font-weight:bold">EMAIL ORDER</button></div>
                                      <div class="col-md-6" style="display:flex; align-items:flex-start;justify-content:flex-start"><button type="button" id="btnDownloadPDFOrder" class="btn btn-block btn-outline-secondary" style="width:150px; font-weight:bold">DOWNLOAD PDF</button></div>
                                  </div>
                              </div>
                              <div class="col-md-12" id="divTableData" style="display: none;">
                                  <table class="table table-responsive-sm table-sm datatable no-footer" id="tableViewProduct" style="width:100%">
                                      <thead>
                                          <tr>
                                              <th style="text-align:left">PRODUCT</th>
                                              <th style="text-align:left">ORDER QTY.</th>
                                              <th style="text-align:left">RECEIVED QTY.</th>
                                              <th style="text-align:left">SUPPLY PRICE</th>
                                              <th style="text-align:left">TOTAL COST</th>
                                          </tr>
                                      </thead>
                                      <tbody></tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3" style="text-align:left;">
                      <div class="col-md-12" style="padding:10px 10px 10px 10px; border:1px solid #c2cfd6">
                          <div class="col-md-12" >
                            <h5 id="SupplierName">{{ _supplier.name_supplier }}</h5>
                          </div>
                          <div class="col-md-12">
                              <h6 id="Street">{{ _supplier.street_supplier}}</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="Suburb">{{ _supplier.suburb_supplier}}</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="City">{{ _supplier.city_supplier}}</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="ZipCode">{{ _supplier.zipcode_supplier}},{{ _supplier.state_supplier}}</h6>
                              <hr>
                          </div>
                          <div class="col-md-12">
                              <h5>DELIVER TO</h5>
                          </div>
                          <div class="col-md-12">
                              <h6 id="LocationName">{{ _supplier.suburb_supplier}}</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="StreetAddress">Default Address</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="APT"></h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="LCity">Default City</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="LState"></h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="LZipCode"></h6>
                              <hr>
                          </div>
                          <div class="col-md-12" style="display: -webkit-inline-box;">
                              <div class="col-md-5" style="display: inline;padding-left: 0;">Order Total:</div>
                              <input type="hidden" id="OrderID" value="0">
                              <div class="col-md-7"><h5 style="text-align:right" id="TotalAmount">{{orderTotal}}</h5></div>
                          </div>
                          <div class="col-md-12" style="margin-top:15px" id="divbtnCreateOrder">
                              <button type="button" id="btnCreateOrder" style="font-weight:bold" name="btnCreateOrder" class="btn btn-block btn-primary active" aria-pressed="true" (click)="create_oder()">CREATE ORDER</button>
                          </div>
                          <div class="col-md-12" style="margin-top: 15px; display: none;" id="divbtnReceiveStock">
                              <button type="button" id="btnReceiveStock" style="font-weight:bold" name="btnReceiveStock" class="btn btn-block btn-success active" aria-pressed="true">RECEIVE STOCK</button>
                          </div>
                          <div class="col-md-12" style="margin-top: 15px; display: none;" id="divbtnCancelOrder">
                              <button type="button" id="btnCancelOrder" style="font-weight:bold" name="btnCancelOrder" class="btn btn-block btn-danger active" aria-pressed="true">CANCEL ORDER</button>
                          </div>
                          <div class="col-md-12" style="margin-top: 15px; display: none;" id="divbtnCloseOrder">
                              <button type="button" id="btnCloseOrder" style="font-weight:bold" name="btnCloseOrder" class="btn btn-block btn-primary active" aria-pressed="true">CLOSE</button>
                          </div>
                          <div class="col-md-12" style="margin-top: 15px; display: none;" id="divbtnConfirmReceive">
                              <button type="button" id="btnConfirmReceive" style="font-weight:bold" name="btnConfirmReceive" class="btn btn-block btn-primary active" aria-pressed="true">CONFIRM</button>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-12 box-mobile">
                  <div class="col-md-9">
                      <div class="card">
                          <div class="card-body" id="addOrderDetail">
                              <div class="col-md-12 table-responsive" id="divTableData">
                                  <table class="table table-hover" id="tableAddProduct">
                                      <thead>
                                          <tr>
                                              <th style="text-align:left">PRODUCT</th>
                                              <th style="text-align:left">ORDER QTY.</th>
                                              <th style="text-align:left">SUPPLY PRICE</th>
                                              <th style="text-align:left">TOTAL COST</th>
                                              <th></th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let i of items">
                                            <td>{{i.name_product}}</td>
                                            <td><input type="number" name="qty" [(ngModel)]="i.quantity"></td>
                                            <td><input type="number" name="price" [(ngModel)]="i.supplyprice_product"></td>
                                            <td>{{i.quantity * i.supplyprice_product}}</td>
                                            <td><button (click)="deleteProd(i)">x</button></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <div class="col-md-12" style="margin-top:20px" (click)="openProduct(category)">
                                  <div class="col-md-4">

                                  </div>
                                  <div class="col-md-4">
                                      <button type="button" class="btn btn-block btn-outline-primary" id="btnAddProduct" style="width: 160%;"><i class="fa fa-plus"></i> Add Product</button>
                                  </div>
                                  <div class="col-md-4">

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="col-md-12" style="padding:10px 10px 10px 10px; border:1px solid #c2cfd6">
                          <div class="col-md-12" >
                            <h5 id="SupplierName">{{ _supplier.name_supplier }}</h5>
                          </div>
                          <div class="col-md-12">
                              <h6 id="Street">{{ _supplier.street_supplier}}</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="Suburb">{{ _supplier.suburb_supplier}}</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="City">{{ _supplier.city_supplier}}</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="ZipCode">{{ _supplier.zipcode_supplier}},{{ _supplier.state_supplier}}</h6>
                              <hr>
                          </div>
                          <div class="col-md-12">
                              <h5>DELIVER TO</h5>
                          </div>
                          <div class="col-md-12">
                              <h6 id="LocationName">{{ _supplier.suburb_supplier}}</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="StreetAddress">Default Address</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="APT"></h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="LCity">Default City</h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="LState"></h6>
                          </div>
                          <div class="col-md-12">
                              <h6 id="LZipCode"></h6>
                              <hr>
                          </div>
                          <div class="col-md-12" style="display: -webkit-inline-box;">
                              <div class="col-md-5" style="display: inline;padding-left: 0;">Order Total:</div>
                              <input type="hidden" id="OrderID" value="0">
                              <div class="col-md-7"><h5 id="TotalAmount">$0.00</h5></div>
                          </div>
                          <div class="col-md-12" style="margin-top:15px" id="divbtnCreateOrder">
                              <button type="button" id="btnCreateOrder" style="font-weight:bold" name="btnCreateOrder" class="btn btn-block btn-primary active" aria-pressed="true" (click)="create_oder()">CREATE ORDER</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

</ng-template>
<ng-template #category let-modal>
    <div class="modal-header">
      <h4 class="modal-title offset-sm-4" id="modal-basic-title">Select Product</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-4 search-modal-wizard">
          <div class="input-group-prepend">
              <span class="input-group-text">
                  <i class="fa fa-search"></i>
              </span>
              <input type="text" id="txtSearch" class="form-control" placeholder="Scan barcode or search any item">
          </div>
      </div>
      <div class="col-12" id="divCategory" style="">
        <div class="col-12 item-modal-wizard" step="1" categoryname="No Category" id-item-modal="0">
          <div class="row" *ngFor="let category of listcategories">
            <div class="col-6">
              <div class="col-12">
                <strong (click)="openProduct1(product1, category)">{{ category.name_category }}</strong>
              </div>
            </div>
            <div class="col-6 text-right">
              <span><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.187 16.9c-.25.253-.25.66 0 .91.248.253.652.253.9 0l7.285-7.355c.25-.25.25-.66 0-.91L7.088 2.19c-.25-.253-.652-.253-.9 0-.25.25-.25.658-.002.91L12.83 10l-6.643 6.9z"></path>
              </svg></span>
            </div>
            <hr  width="100%" align="center" />
          </div>
          <div class="row">
            <div class="col-6">
              <div class="col-12">
                <strong (click)="openModalNoCategory(no_category)">No Category</strong>
              </div>
            </div>
            <div class="col-6 text-right">
              <span><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.187 16.9c-.25.253-.25.66 0 .91.248.253.652.253.9 0l7.285-7.355c.25-.25.25-.66 0-.91L7.088 2.19c-.25-.253-.652-.253-.9 0-.25.25-.25.658-.002.91L12.83 10l-6.643 6.9z"></path>
              </svg></span>
            </div>
          </div>
        </div>
      </div>
    </div>

</ng-template>
<ng-template #product1 let-modal>
    <div class="modal-header">
        <span class="prevModalWizard">
          <i class="fa fa-chevron-left" (click)="openProduct(category)"></i>
        </span>
        <h4 class="modal-title offset-sm-4" id="modal-basic-title">{{ _category.name_category }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 p-4 search-modal-wizard">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" id="txtSearch" class="form-control" placeholder="Scan barcode or search any item">
            </div>
        </div>
        <div class="col-12" id="divCategory" style="" *ngFor="let prodss of _listproducts">
          <div class="col-12 item-modal-wizard" step="1" categoryname="No Category" id-item-modal="0">
            <div class="row" >
              <div class="col-6">
                <div class="col-12" (click)="selectedX(prodss)">
                  <strong>{{ prodss.name_product }}</strong><br>
                  <span class="text-muted">({{ prodss.initialstock_product }} in stock)</span>
                </div>
              </div>
              <div class="col-6 text-right">
                <span><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.187 16.9c-.25.253-.25.66 0 .91.248.253.652.253.9 0l7.285-7.355c.25-.25.25-.66 0-.91L7.088 2.19c-.25-.253-.652-.253-.9 0-.25.25-.25.658-.002.91L12.83 10l-6.643 6.9z"></path>
                </svg></span>
              </div>
              <!-- <hr  width="100%" align="center" /> -->
            </div>
          </div>
        </div>
      </div>
</ng-template>
<ng-template #no_category let-modal>
    <div class="modal-header">
        <span class="prevModalWizard">
          <i class="fa fa-chevron-left" (click)="modal.dismiss('Cross click')"></i>
        </span>
        <h4 class="modal-title offset-sm-4" id="modal-basic-title">No Category</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12 p-4 search-modal-wizard">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" id="txtSearch" class="form-control" placeholder="Scan barcode or search any item">
            </div>
        </div>
        <div class="col-12" id="divCategory" style="" *ngFor="let prodss of _listproducts">
          <div class="col-12 item-modal-wizard" step="1" categoryname="No Category" id-item-modal="0">
            <div class="row" >
              <div class="col-6">
                <div class="col-12" (click)="selectedX(prodss)">
                  <strong>{{ prodss.name_product }}</strong><br>
                  <span class="text-muted">({{ prodss.initialstock_product }} in stock)</span>
                </div>
              </div>
              <div class="col-6 text-right">
                <span><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.187 16.9c-.25.253-.25.66 0 .91.248.253.652.253.9 0l7.285-7.355c.25-.25.25-.66 0-.91L7.088 2.19c-.25-.253-.652-.253-.9 0-.25.25-.25.658-.002.91L12.83 10l-6.643 6.9z"></path>
                </svg></span>
              </div>
              <hr  width="100%" align="center" />
            </div>
          </div>
        </div>
      </div>
</ng-template>
<ng-template #edit_order let-modal>
<div class="box-desktop">
  <div class="modal-header" >
      <h4  class="modal-title offset-sm-4" id="modal-basic-title">Order {{ _order.id }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="row">
            <div class="col-md-9">
              <div class="">
                <span>
                  <i class="fas fa-shipping-fast"></i>
                </span>
              </div>
              <h2 style="text-align:center;"><i class="fas fa-shipping-fast"></i>Stock Ordered</h2>
              <div class="col-md-12" style="text-align:center;" >
                <span>Ordered {{ _order.update_at }} at has by Order {{ _order.id }}</span>
              </div>
              <div class="col-md-12" style="margin-top:15px;display: inline-flex;">
                <div class="col-md-6" style=" align-items: flex-end;justify-content: flex-end;">
                  <button type="button" class="btn btn-block btn-outline-secondary" style="width:150px; font-weight:bold;float: right;" (click)="send_email_order(_order.email_supplier)">EMAIL ORDER</button>
                </div>
                <div class="col-md-6" style=" align-items: flex-start;justify-content: flex-start;">
                  <button type="button" class="btn btn-block btn-outline-secondary" style="width:150px; font-weight:bold;" (click)="export_pdf_data(_order.id)">DOWNLOAD PDF</button>
                </div>
              </div>
              <div class="col-md-12" style="margin-top:20px;">
                <table class="table table-responsive-sm table-sm no-footer" style="width:100%;">
                  <thead>
                    <tr>
                      <th style="text-align:left">PRODUCT</th>
                      <th style="text-align:left">ORDER QTY.</th>
                      <th style="text-align:left; display: none;">RECEIVED QTY.</th>
                      <th style="text-align:left">SUPPLY PRICE</th>
                      <th style="text-align:left">TOTAL COST</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="_order.status_order == 2; else statuson">
                        <tr *ngFor="let i of _listorder1">
                            <td>{{i.name_product}}</td>
                            <td><input type="number" name="qty" [(ngModel)]="i.qty_product" (input)="sumEdit()"></td>
                            <td><input type="number" name="price" [(ngModel)]="i.price_product" (input)="sumEdit()"></td>
                            <td>{{i.qty_product * i.price_product}}</td>
                            <td><button (click)="deleteProd(i)">x</button></td>
                          </tr>
                    </ng-container>
                    <ng-template #statuson>
                        <tr *ngFor="let ad of _listorder1">
                            <td style="width:30%">{{getNameproduct(ad.id_product)}}</td>
                            <td style=" text-align:center;">{{ ad.qty_product }}</td>
                            <td style="text-align:center">${{ ad.price_product }}</td>
                            <td style=" text-align: right" >${{ ad.qty_product * ad.price_product }}</td>
                          </tr>
                    </ng-template>

                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-md-3">
              <div class="col-md-12" style="padding: 10px 10px 10px 10px; border:1px solid #c2cfd6;display: inline-table;">
                  <div class="col-md-12" >
                      <h5 id="SupplierName">{{ _order.name_supplier }}</h5>
                  </div>
                  <div class="col-md-12">
                      <h4 id="Street">{{ _order.street_supplier}}</h4>
                  </div>
                  <div class="col-md-12">
                      <h4 id="Suburb"></h4>
                  </div>
                  <div class="col-md-12">
                      <h4 id="City"></h4>
                  </div>
                  <div class="col-md-12">
                      <h4 id="State"></h4>
                  </div>
                  <div class="col-md-12">
                      <h4 id="ZipCode"></h4>
                      <hr>
                  </div>
                  <div class="col-md-12">
                      <h5 style="    color: aquamarine;">DELIVER TO</h5>
                  </div>
                  <div class="col-md-12">
                      <h6 id="LocationName" style="color:#67768C;font-size:small">has</h6>
                  </div>
                  <div class="col-md-12">
                      <h6 id="StreetAddress" style="color:#67768C;font-size:small">Default Address</h6>
                  </div>
                  <div class="col-md-12">
                      <h4 id="APT"></h4>
                  </div>
                  <div class="col-md-12">
                      <h6 id="LCity" style="color:#67768C;font-size:small">Default City</h6>
                  </div>
                  <div class="col-md-12">
                      <h4 id="LState"></h4>
                  </div>
                  <div class="col-md-12">
                      <h4 id="LZipCode"></h4>
                      <hr>
                  </div>
                  <div class="col-md-12" style="display: -webkit-inline-box;">
                      <div class="col-md-5" style="display: inline;padding-left: 0;">Order Total:</div>
                      <input type="hidden" id="OrderID" value="0">
                      <div class="col-md-7"><h5 style="text-align:right" >${{ _order.total_price }}</h5></div>
                  </div>
                  <div class="col-md-12" style="margin-top: 15px;" id="divbtnReceiveStock">
                      <button type="button" id="btnReceiveStock" style="font-weight:bold" name="btnReceiveStock" class="btn btn-block btn-success active" aria-pressed="true" *ngIf=" _order.status_order == 1" (click)="status_order(_order.id,2)">RECEIVE STOCK </button>
                  </div>
                  <div class="col-md-12" style="margin-top: 15px;" id="divbtnCancelOrder">
                      <button type="button" id="btnCancelOrder" style="font-weight:bold" name="btnCancelOrder" class="btn btn-block btn-danger active" aria-pressed="true"  *ngIf=" _order.status_order == 1" (click)="status_order(_order.id,0)">CANCEL ORDER</button>

                  </div>
                  <div class="col-md-12" style="margin-top: 15px;" id="divbtnCloseOrder">
                      <button type="button" id="btnCloseOrder" style="font-weight:bold" name="btnCloseOrder" class="btn btn-block btn-primary active" aria-pressed="true" *ngIf="_order.status_order == 3 || _order.status_order == 0" (click)="modal.dismiss(content)">CLOSE</button>
                  </div>
                  <div class="col-md-12" style="margin-top: 15px;" id="divbtnConfirmReceive">
                      <button type="button" id="btnConfirmReceive" style="font-weight:bold" name="btnConfirmReceive" class="btn btn-block btn-primary active" aria-pressed="true" *ngIf=" _order.status_order == 2" (click)="status_order(_order.id,3)">CONFIRM</button>
                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- mobile -->
<div  class="box-mobile">
    <div class="modal-header" >
        <h4  class="modal-title offset-sm-4" id="modal-basic-title">Order {{ _order.id }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="col-md-12">
              <div class="row">
              <div class="col-md-9">
                <div class="">
                  <span>
                    <i class="fas fa-shipping-fast"></i>
                  </span>
                </div>
                <h2 style="text-align:center;"><i class="fas fa-shipping-fast"></i>Stock Ordered</h2>
                <div class="col-md-12" style="text-align:center;" >
                  <span>Ordered {{ _order.update_at }} at has by Order {{ _order.id }}</span>
                </div>
                <div class="col-md-12" style="margin-top:15px;display: inline-flex;">
                  <div class="col-md-6" style=" align-items: flex-end;justify-content: flex-end;">
                    <button type="button" class="btn btn-block btn-outline-secondary" style="width:230px; font-weight:bold;float: right;">EMAIL ORDER</button>
                  </div>
                  <div class="col-md-6" style=" align-items: flex-start;justify-content: flex-start;">
                    <button type="button" class="btn btn-block btn-outline-secondary" style="width:230px; font-weight:bold;">DOWNLOAD PDF</button>
                  </div>
                </div>
                <div class="col-md-12" style="margin-top:20px;">
                  <table class="table table-responsive-sm table-sm no-footer" style="width:100%;">
                    <thead>
                      <tr>
                        <th style="text-align:left">PRODUCT</th>
                        <th style="text-align:left">ORDER QTY.</th>
                        <th style="text-align:left; display: none;">RECEIVED QTY.</th>
                        <th style="text-align:left">SUPPLY PRICE</th>
                        <th style="text-align:left">TOTAL COST</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ad of _listorder1">
                        <td style="width:30%">aa</td>
                        <td style=" text-align:center;">{{ ad.qty_product }}</td>
                        <td style="text-align:center">${{ ad.price_product }}</td>
                        <td style=" text-align: right" >${{ ad.qty_product * ad.price_product }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-md-3">
                <div class="col-md-12" style="padding: 10px 10px 10px 10px; border:1px solid #c2cfd6">
                    <div class="col-md-12" >
                        <h5 id="SupplierName">sadsadsad</h5>
                    </div>
                    <div class="col-md-12">
                        <h4 id="Street" style="color:#67768C;font-size:small">hanoi</h4>
                    </div>
                    <div class="col-md-12">
                        <h4 id="Suburb"style="color:#67768C;font-size:small">cau giay</h4>
                    </div>
                    <div class="col-md-12">
                        <h4 id="City"style="color:#67768C;font-size:small">cau giay</h4>
                    </div>
                    <div class="col-md-12">
                        <h4 id="State"style="color:#67768C;font-size:small">cau giay</h4>
                    </div>
                    <div class="col-md-12">
                        <h4 id="ZipCode"style="color:#67768C;font-size:small">cau giay</h4>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <h5 style="    color: aquamarine;">DELIVER TO</h5>
                    </div>
                    <div class="col-md-12">
                        <h6 id="LocationName" style="color:#67768C;font-size:small">has</h6>
                    </div>
                    <div class="col-md-12">
                        <h6 id="StreetAddress" style="color:#67768C;font-size:small">Default Address</h6>
                    </div>
                    <div class="col-md-12">
                        <h4 id="APT"></h4>
                    </div>
                    <div class="col-md-12">
                        <h6 id="LCity" style="color:#67768C;font-size:small">Default City</h6>
                    </div>
                    <div class="col-md-12">
                        <h4 id="LState"></h4>
                    </div>
                    <div class="col-md-12">
                        <h4 id="LZipCode"></h4>
                        <hr>
                    </div>
                    <div class="col-md-12" style="display: -webkit-inline-box;">
                        <div class="col-md-5" style="display: inline;padding-left: 0;">Order Total:</div>
                        <input type="hidden" id="OrderID" value="0">
                        <div class="col-md-7"><h5 >${{ _order.total_price }}</h5></div>
                    </div>
                    <div class="col-md-12" style="margin-top: 15px;" id="divbtnReceiveStock">
                        <button type="button" id="btnReceiveStock" style="font-weight:bold" name="btnReceiveStock" class="btn btn-block btn-success active" aria-pressed="true" (click)="receive_order()">RECEIVE STOCK</button>
                    </div>
                    <div class="col-md-12" style="margin-top: 15px;" id="divbtnCancelOrder">
                        <button type="button" id="btnCancelOrder" style="font-weight:bold" name="btnCancelOrder" class="btn btn-block btn-danger active" aria-pressed="true" (click)="cancel_order()">CANCEL ORDER</button>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</ng-template>
