<div class="_2jGgaE">
  <div>
    <div>
      <div>
        <div class="_3_Zd_x">
          <div class="_3mFAWf">
            <div class="_1XOh8M _1jFEEZ" placeholder="Search product or order" value="">
              <div class="H9L5q0">
                <input class="JOAm_M _1FszNF" placeholder="Search product or order" value="">
                <span class="_2FSeuB _240vE8 RCcMXQ _1bHTmd">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
                    <path d="M21.285 19.399c1.285-1.682 2.049-3.785 2.049-6.065 0-5.523-4.477-10-10-10s-10 4.477-10 10c0 5.523 4.477 10 9.999 10 0.006 0 0.011 0 0.017 0 2.286 0 4.392-0.77 6.049-2.049l7.239 7.238c0.24 0.24 0.572 0.388 0.939 0.388 0.368 0 0.702-0.15 0.943-0.392 0.243-0.24 0.393-0.574 0.393-0.943 0-0.367-0.149-0.699-0.389-0.939l-7.238-7.239zM13.333 20.667c-4.050 0-7.333-3.283-7.333-7.333s3.283-7.333 7.333-7.333 7.333 3.283 7.333 7.333-3.283 7.333-7.333 7.333z"></path>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="qNCe1U _1dzVLv"></div>
          <div class="_3T9g9r">
            <span class="_2IkdIq _26n0p2">
              <select class="_3b4Iwb">
                <option value="">Export</option>
                <option value="xlsx">Excel</option>
                <option value="csv">CSV</option>
              </select>
              <span class="_2FSeuB _240vE8 _2CXiYN _25R4LF _2hkIol">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6">
                  <path d="M5.5 4.793L10.146.146a.5.5 0 1 1 .708.708l-5 5a.5.5 0 0 1-.708 0l-5-5A.5.5 0 1 1 .854.146L5.5 4.793z" fill-rule="nonzero"></path>
                </svg>
              </span>
            </span>
          </div>
          <button class="_1FszNF _3ttzJg _2DZ1oJ _26WQGn _311OLi">
            <span class="_2FSeuB _240vE8 _3uXBro RCcMXQ _3vTBXo _1w3FE_">
              <svg viewBox="0 0 18 16">
                <path d="M0 2h15" stroke-linecap="round"></path>
                <circle cx="4" cy="2" r="2"></circle>
                <path d="M0 8h15" stroke-linecap="round"></path>
                <circle cx="9" cy="8" r="2"></circle>
                <path d="M0 14h15" stroke-linecap="round"></path>
                <circle cx="4" cy="14" r="2"></circle>
              </svg>
            </span>Filters
          </button>
        </div>
        <div class="_1mW557 _1DHTqT">
          <div class="_2hndFf">
            <div>
              <div class="nsuqUP">
                <table class="_3rpc36">
                  <thead>
                    <tr>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Order No.</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Created Date</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Supplier</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa">
                        <div>Status</div>
                      </th>
                      <th class="_3jHaBz _1hEJSa o5hxTP">
                        <div>Total Cost</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="_1A0eEb _1zQ7jO">
                      <td class="N3OZB6 _1vLxYz">
                        <div>P1</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <div>25 Jan 2019</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <div>asd</div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <div>
                          <span class="_1p62pX _1QLX7x _3GjCeD _2-xB9j">Received</span>
                        </div>
                      </td>
                      <td class="N3OZB6 _1vLxYz">
                        <span class="_2V5qqW">₫1</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="wADsrH">
                <div class="_3Cd6wq">
                  <div class="_3oGeTh">Displaying all
                    <b class="_2P0kb0">1</b>orders
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_1nM1bd" data-qa="loader-spinner-container">
            <div class="_2Nn7vB QZeBYP" data-qa="loader-spinner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rTWbSm" (mouseover)="changeText=true" (mouseout)="changeText=false">
  <button class="_2N1Wwk _1K8-3O _1hszOe _1Hbk3p _1jAoG_">
    <span class="_2FSeuB _240vE8 RCcMXQ" *ngIf="!changeText">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path d="M26 22V8c0-1.11-.895-2-2-2-1.112 0-2 .895-2 2v14H8c-1.11 0-2 .895-2 2 0 1.112.895 2 2 2h14v14c0 1.11.895 2 2 2 1.112 0 2-.895 2-2V26h14c1.11 0 2-.895 2-2 0-1.112-.895-2-2-2H26z"></path>
      </svg>
    </span>
    <span *ngIf="changeText">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
      </svg>
    </span>
  </button>
</div>
<router-outlet></router-outlet>
