<div class="">
<div class="product-header">
  <div class="product-name-header">{{product.productName}}</div>
  <div>
    <button type="button" class="btn btn-white" (click)="openModal(decreaseStock)"> Stock- </button>
    <button type="button" class="btn btn-white" (click)="openModal(increaseStock)"> Stock+ </button>
    <button type="button" class="btn btn-white" [routerLink]="[ '/inventory/products/', product.id, 'edit' ]" style="margin-left:20px"> Edit </button>
  </div>
</div>

<div class="product-info">
<table class="table no-border">
  <tr>
    <td>Barcode</td>
    <td>{{product.barCode}}</td>
    <td>Total on hand</td>
    <td>{{product.totalOnHand}}</td>
    <td>Brand</td>
    <td>{{product.brandName}}</td>
  </tr>
  <tr>
    <td>SKU</td>
    <td>{{product.sku}}</td>
    <td>Total Stock Cost</td>
    <td>{{product.totalStockCost}}</td>
    <td>Category</td>
    <td>{{product.categoryName}}</td>
  </tr>
  <tr>
    <td>Retail Price</td>
    <td>{{product.retailPrice}}</td>
    <td>Avg. Stock Cost</td>
    <td>{{product.avgStockCost}}</td>
    <td>Supplier</td>
    <td>{{product.supplierName}}</td>
  </tr>
  <tr>
    <td>Supply Price</td>
    <td>{{product.supplyPrice}}</td>
  </tr>
</table>
</div>

<div>
  <h3 class="pull-left">Stock History</h3>
  <div class="pull-right">
      <div ngbDropdown class="d-inline-block dropdown">
          <button class="btn btn-white col-sm-12 mb-1" ngbDropdownToggle>
            Export&nbsp;&nbsp;&nbsp;<i class="fa fa-download"></i>
          </button>
          <div ngbDropdownMenu>
              <button class="dropdown-item" (click)="exported()">Excel</button>
              <button class="dropdown-item" (click)="exported()">CSV</button>
              <button class="dropdown-item" (click)="exported()">PDF</button>
          </div>
      </div>
  </div>
</div>
<br>
<ng-container *ngIf="documo != 0">
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{'TIME & DATE' | translate}}</th>
              <th>{{'STAFF' | translate}}</th>
              <!-- <th>{{'LOCATION' | translate}}</th> -->
              <th>{{'ACTION' | translate}}</th>
              <th>{{'QTY. ADJUSTED' | translate}}</th>
              <th>{{'COST PRICE' | translate}}</th>
              <th>{{'STOCK ON HAND' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <!-- <ng-container *ngIf="true">
                <tr style="background-color: #fff; cursor: default;">
                                <td colspan="2" style="padding-top:40px;">
                                    <div class="text-center">
                                            <h1><i class="fa fa-search fa-lg"></i></h1>
                                            <h3 class="text-capitalize">No Results Found</h3>
                                            <p>Try using different filter options to find what you're looking for</p>
                                        </div>
                                </td>
                            </tr>
              </ng-container> -->
            <ng-container>
              <tr *ngFor="let stock of stocks; index as i">
                <td>{{stock.createdAt | date: 'dd MMM yyyy, hh:mm'}}</td>
                <td>{{stock.staffName}}</td>
                <td>{{stock.action}}</td>
                <td>{{stock.isIncreased ? '+' : '-'}} {{stock.stockQty}}</td>
                <td>{{stock.supplyPrice}}</td>
                <td>{{stock.totalStock}}</td>
              </tr>
            </ng-container>
          </tbody>
          <!-- <tfoot *ngIf="numberList > 0">
              <tr>
                <th colspan="3">
                  paging
                </th>
              </tr>
            </tfoot> -->
        </table>
        </div>
</ng-container>
<ng-container *ngIf="documo == 0">
    <div class="text-center" style="margin-top: 30px;">
      <h1><i class="fa fa-btc"></i></h1>
      <h3 class="text-capitalize" style="color:#24334A">No History Yet</h3>
      <p>Any sales or adjustments to this product's stock <br>
        will show here.</p>
    </div>
</ng-container>

</div>
<ng-template #increaseStock let-modal>
      <div class="modal-header">
          <h4 class="modal-title col-sm-6 offset-sm-3">Increase Stock</h4>
          <button type="button" class="col-sm-3 close" aria-label="Close">
            <span aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
          </button>
          </div>


          <div class="modal-body">
              <div>{{product.totalOnHand}} units currently in stock at Hachinet.</div>

              <div class="row form-group">
                  <div class="col-sm-12">

                        <label class="control-label">INCREASE QTY.</label>
                        <input  [(ngModel)]="stockForm.stockQty"
                        type="number" class="form-control input-underline input-lg" name="increase-qty">

                    </div>
            </div>
              <div class="row form-group">
                  <div class="col-sm-12">

                        <label class="control-label">SUPPLY PRICE</label>
                        <input [(ngModel)]="stockForm.supplyPrice"
                        type="number" class="form-control input-underline input-lg" name="supply-price">

                    </div>
            </div>

              <div class="row form-group">
                  <div class="col-sm-12">

                        <div class="custom-control custom-checkbox">
          <input  name="save-price" [(ngModel)]="stockForm.savePrice"
          type="checkbox" class="custom-control-input" id="save-price">
          <label class="custom-control-label" for="save-price"></label>SAVE PRICE FOR NEXT TIME</div>

                    </div>
            </div>

            <div class="row form-group">
              <div class="col-sm-12">
                  <label class="control-label">INCREASE REASON</label>
                  <select name="increase-reason" [(ngModel)]="stockForm.reason"
                  class="form-control">
                      <option value={{i.id}} *ngFor="let i of stockForm.increaseReasons">{{i.name}}</option>
                  </select>
              </div>
          </div>



          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-white pull-right" (click)="modal.dismiss('Cancel click')"> Cancel </button>
              <button type="submit" class="btn btn-black pull-right" (click)="addStockHistory(true)"> Save </button>
        </div>

  </ng-template>

<ng-template #decreaseStock let-modal>
      <div class="modal-header">
          <h4 class="modal-title col-sm-6 offset-sm-3">Decrease Stock</h4>
          <button type="button" class="col-sm-3 close" aria-label="Close">
            <span aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
          </button>
          </div>


          <div class="modal-body">
              <div>{{product.totalOnHand}} units currently in stock at Hachinet.</div>

              <div class="row form-group">
                  <div class="col-sm-12">

                        <label class="control-label">DECREASE QTY.</label>
                        <input [(ngModel)]="stockForm.stockQty"
                        type="number" class="form-control input-underline input-lg" name="decrease-qty">

                    </div>
            </div>


            <div class="row form-group">
              <div class="col-sm-12">
                  <label class="control-label">DECREASE REASON</label>
                  <select name="decrease-reason" [(ngModel)]="stockForm.reason"
                  class="form-control">
                  <option value={{i.id}} *ngFor="let i of stockForm.decreaseReasons">{{i.name}}</option>
                  </select>
              </div>
          </div>



          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-white pull-right" (click)="modal.dismiss('Cancel click')"> Cancel </button>
              <button type="submit" class="btn btn-black pull-right" (click)="addStockHistory(false)"> Save </button>
        </div>

  </ng-template>
