<div class="modal-header">
    <h4 class="modal-title">List Service Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-content">
    <ul class="list-group">
        <a  href="javascript:;"
            class="list-group-item" 
            *ngFor="let gr of listGroup?.service_group"
            (click)="addServiceToGroup(gr?.id)"
        >
        	<i class="fa fa-circle" [ngStyle]="{color: (gr.color_service_group)}"></i>&nbsp;&nbsp;{{gr?.name_service_group}}
        </a>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal('Close click')">
    	<i class="fa fa-close"></i>&nbsp;Cancel
    </button>
</div>