<div class="container-fuild">
	<div class="col-lg-12">
		<div class="row">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="pd-name">{{'Business Type Name' | translate}}</th>
							<th>{{'Create At' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngIf="numberList == 0">
	                        <tr style="background-color: #fff; cursor: default;">
	                            <td colspan="4" style="padding-top:40px;">
	                                <div class="text-center">
                                        <h1><i class="fa fa-search fa-lg"></i></h1>
                                        <h3 class="text-capitalize">No Results Found</h3>
                                        <p>Try using different filter options to find what you're looking for</p>
                                    </div>
	                            </td>
	                        </tr>
	                    </ng-container>
	                    <ng-container *ngIf="numberList > 0">
							<tr *ngFor="let bn of business?.business" (click)="editBusinessType(edit_business, bn)">
								<td class="ba">
									<span class="avatar">
										<i class="fa fa-bars"></i>
									</span>
									<span>{{bn?.name_business_type}}</span>
								</td>
								<td>{{bn?.created_at}}</td>
							</tr>
						</ng-container>
					</tbody>
					<!-- <tfoot *ngIf="numberList > 0">
						<tr>
							<th colspan="5">
								Showing {{numberList}} of {{numberList}} results
							</th>
						</tr>
					</tfoot> -->
				</table>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div id="inbox">
			<div class="fab">
				<div class="btn-fixed" (click)="addBusiness(add_business)">
					<span></span>
					<div class="tooltip_group">New Business Type</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<ng-template #add_business let-c="close" let-d="dismiss">
            <add-business-type (checkAddBusiness)="checkAddBusiness($event)"></add-business-type>
        </ng-template>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<ng-template #edit_business let-c="close" let-d="dismiss">
            <edit-business-type (checkEditBusiness)="checkEditBusiness($event)" [inputBusiness]="inputBusiness"></edit-business-type>
        </ng-template>
	</div>
</div>