<div class="card">
    <div class="card-header">Dropdown</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div ngbDropdown class="d-inline-block dropdown col-sm-12 margin-bottom-5px">
                    <button class="btn btn-outline-primary col-sm-12" ngbDropdownToggle>Toggle dropdown</button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item">Action</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 margin-bottom-5px">
                <div ngbDropdown placement="top-right" class="d-inline-block dropdown col-sm-12">
                    <button class="btn btn-outline-primary col-sm-12" ngbDropdownToggle>Toggle dropup</button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item">Action</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="mb-2">You can easily control dropdowns programmatically using the exported dropdown instance.</p>
        <div class="d-inline-block dropdown col-md-3 col-sm-12 margin-bottom-5px" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-primary col-sm-12" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu>
                <button class="dropdown-item">Action</button>
                <button class="dropdown-item">Another Action</button>
                <button class="dropdown-item">Something else is here</button>
            </div>
        </div>
        <div class="d-inline-block dropdown col-md-3 col-sm-12 margin-bottom-5px" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-success col-sm-12" (click)="$event.stopPropagation(); myDrop.open();">Open from outside</button>
        </div>
        <div class="d-inline-block dropdown col-md-3 col-sm-12" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-danger col-sm-12" (click)="$event.stopPropagation(); myDrop.close();">Close from outside</button>
        </div>
    </div>
</div>
