<div class="row justify-content-between">
	<div class="col-md-4 col-sm-9 width-mb">
		<div class="input-group mb-2">
			<div class="input-group-prepend">
				<div class="input-group-text">
					<i class="fa fa-1x fa-search"></i>
				</div>
			</div>
			<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search by name, e-mail or mobile number" (input)="searchClient($event)">
		</div>
	</div>
	<div class="col-lg-1 col-md-2 block-mb">
		<div ngbDropdown>
            <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                <span class="desktop">Options</span>
                <span class="mobile">
                	<i class="fa fa-circle"></i>
                	<i class="fa fa-circle"></i>
                	<i class="fa fa-circle"></i>
                </span>
            </a>
            <div ngbDropdownMenu>
                <a href="javascript:void(0)" class="dropdown-item">
                    Download Excel
                </a>
                <a href="javascript:void(0)" class="dropdown-item">
                    Download CSV
                </a>
                <a href="javascript:void(0)" class="dropdown-item">
                    Import Clients
                </a>
                <a href="javascript:void(0)" class="dropdown-item">
                    Merge Clients
                </a>
            </div>
        </div>
	</div>
</div>
<div class="clearfix"></div>
<div class="container-fuild">
	<div class="col-lg-12">
		<div class="row">
			<div class="table-responsive">
				<div class="box-mobile">
					<table class="table table-hover">
						<thead>
							<tr>
								<th colspan="2">{{'Name' | translate}}</th>
								<th>{{'Status' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="!loading && numberList == 0">
								<tr style="background-color: #fff; cursor: default;">
		                            <td colspan="2" style="padding-top:40px;">
		                                <div class="text-center">
		                                        <h1><i class="fa fa-search fa-lg"></i></h1>
		                                        <h3 class="text-capitalize">No Results Found</h3>
		                                        <p>Try using different filter options to find what you're looking for</p>
		                                    </div>
		                            </td>
		                        </tr>
							</ng-container>
							<ng-container *ngIf="numberList > 0">
								<tr *ngFor="let client of clients?.user; index as i" routerLink="/client/detail/{{client.id}}">
									<td>
										<span class="avatar">{{client?.firstName | slice: 0:1}}</span>
									</td>
									<td class="ba">
										<span>{{client?.firstName}} {{client?.lastName}}</span>
										<span>{{client?.phone}}</span>
									</td>
									<td>
										<i class="fa fa-2x" [ngClass]="client?.status == '1' ? 'fa-check-circle active' : 'fa-times-circle block'"></i>
									</td>
								</tr>
							</ng-container>
						</tbody>
						<!-- <tfoot *ngIf="numberList > 0">
							<tr>
								<th colspan="3">
									paging
								</th>
							</tr>
						</tfoot> -->
					</table>
				</div>
				<div class="box-desktop">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>{{'Name' | translate}}</th>
								<th>{{'Mobile number' | translate}}</th>
								<th>{{'Email' | translate}}</th>
								<th>{{'Gender' | translate}}</th>
								<th>{{'Status' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="!loading && numberList == 0">
		                        <tr style="background-color: #fff; cursor: default;">
		                            <td colspan="4" style="padding-top:40px;">
		                                <div class="text-center">
		                                        <h1><i class="fa fa-search fa-lg"></i></h1>
		                                        <h3 class="text-capitalize">No Results Found</h3>
		                                        <p>Try using different filter options to find what you're looking for</p>
		                                    </div>
		                            </td>
		                        </tr>
		                    </ng-container>
		                    <ng-container *ngIf="numberList > 0">
								<tr *ngFor="let client of clients?.user; index as i" routerLink="/client/detail/{{client.id}}">
									<td class="ba">
										<span class="avatar">{{client?.firstName | slice: 0:1}}</span>
										<span>{{client?.firstName}} {{client?.lastName}}</span>
									</td>
									<td>{{client?.phone}}</td>
									<td>{{client?.email}}</td>
									<td>{{client?.gender == '1' ? 'Male' : client?.gender == '2' ? 'FeMale' : 'Unknown'}}</td>
									<td>
										<i class="fa fa-2x" [ngClass]="client?.status == '1' ? 'fa-check-circle active' : 'fa-times-circle block'"></i>
									</td>
								</tr>
							</ng-container>
						</tbody>
						<!-- <tfoot *ngIf="numberList > 0">
							<tr>
								<th colspan="5">
									paging
								</th>
							</tr>
						</tfoot> -->
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div id="inbox">
			<div class="fab btn-group show-on-hover dropup">
				<div data-toggle="tooltip" data-placement="left" title="Compose">
					<button type="button" class="btn btn-black btn-io" data-toggle="dropdown">
						<span class="fa-stack">
							<i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
						</span>
					</button>
				</div>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<li>
						<span title="Add New Client" (click)="addNewClient()">
							<i class="fa fa-user"></i>
						</span>
						<div class="tooltip_group">Add New Client</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div id="inbox">
			<div class="fab btn-group show-on-hover dropup">
				<div data-toggle="tooltip" data-placement="left" title="Compose">
					<button type="button" class="btn btn-black btn-io" (click)="addNewClient()">
						<span class="fa-stack">
							<i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
						</span>
					</button>
					<ul class="dropdown-menu">
						<li>Add New</li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->
</div>