<p>
  Setup which sections are accessible to each user permission level. All logged in staff can access the calendar, and owner accounts have full system access.
</p>

<table class="table-permission">
  <thead>
    <tr>
      <td>LOCATIONS</td>
      <td>LOW</td>
      <td>MEDIUM</td>
      <td>HIGH</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Access All Locations</td>
      <td>
        <div class="custom-control custom-checkbox">
          <input  name="notification-type" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"></label></div>
      </td>
      <td>
        <div class="custom-control custom-checkbox">
          <input  name="notification-type" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"></label></div>
      </td>
      <td>
        <div class="custom-control custom-checkbox">
          <input  name="notification-type" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"></label></div>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td>BOOKINGS & CLIENTS</td>
      <td>LOW</td>
      <td>MEDIUM</td>
      <td>HIGH</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Own Calendar</td>
      <td>
        <div class="custom-control custom-checkbox">
          <input  name="notification-type" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"></label></div>
      </td>
      <td>
        <div class="custom-control custom-checkbox">
          <input  name="notification-type" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"></label></div>
      </td>
      <td>
        <div class="custom-control custom-checkbox">
          <input  name="notification-type" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1"></label></div>
      </td>
    </tr>
  </tbody>
</table>