.table-permission {
    td {
        padding: 10px;
        min-width: 85px;
    }
    thead {
        font-weight: bolder;
        td {
            padding-top: 30px;
        }
    }
    tbody {
        td {
            border: 1px solid #ddd;
        }
    }
}